<div class="border-head">
    <h3>
      <a href="index.html" class="logo">
        <b>
          P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
        </b>
      </a>
    </h3>
  </div>
  <joyrideStep joyrideStep="StepCheck" title="" [stepContent]="checkAndUpload"
    [stepContentParams]="{'model_n':get_demo_subset}" stepPosition="center">
  </joyrideStep>
  <ng-template #checkAndUpload let-nod="model_n">
    <div>
      <nav class="navbar navbar-expand-sm navbar-dark">
        <h3>
          <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
              meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
        </h3>
      </nav>
    </div>
    <h4>Cross Linking your data with MIAPPE</h4>
    <mat-card>
      <h5>Link your data files with your components</h5>
      <p>
        In our case, we have only one study, but you could have more and consequently you have to check which studies to
        proceed in the table. <br>
        Once it is done, click on <button class="btn btn-outline-rounded btn-info" [disabled]="0===0">Extract
          <b>{{model_type_label}}</b> </button>
  
      </p>
  
    </mat-card>
  </ng-template>
  <joyrideStep joyrideStep="StepDescription" title="" [stepContent]="Description"
    [stepContentParams]="{'model_n':get_demo_subset}" stepPosition="center">
  </joyrideStep>
  <ng-template #Description let-nod="model_n">
    <div>
      <nav class="navbar navbar-expand-sm navbar-dark">
        <h3>
          <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
              meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
        </h3>
      </nav>
    </div>
    <h4>Cross Linking your data with MIAPPE</h4>
    <mat-card>
      <h5>Link your data files with your components</h5>
      <p>
        Supposed you have imported a simple csv file as seen previously and you have only declared (assigned) columns
        type. <br>
  
        Then, you want to link this data with the corresponding MIAPPE component in your investigation tree.
        To do that, you have 2 solutions: </p>
      <ol>
        <li>
          <p>If you have already created the node for your component (as we did in this tutorial), you only need to link
            it with your data</p>
        </li>
        <li>
          <p>You could also create a new MIAPPE component to link with your column</p>
        </li>
      </ol>
    </mat-card>
  </ng-template>
  <div>
    <p>
      In this page, you can extract components from data files to each study of your investigation {{model_key}}
      <!-- This investigation contains {{global[selected_file].length}} Studies. {{filename_used.length}} source filename has been 
          found with a total of {{displayedcomponentColumns[selected_file].length}} column linked to "<b>{{model_type_label}}</b>" detected.
          If you click on variable header, you will select the whole column to extract. 
          Using checkboxes in first column, you can unselect some rows if you don't want this study to be enriched with selected observed variables -->
  
    </p>
    <br>
  
    <!-- <section *ngFor="let filename of filename_used ; let i=index"> -->
  
  
    <mat-card *ngIf="filename_used.length > 0" joyrideStep="StepSelectFile" title="" [stepContent]="selectFile"
      [stepContentParams]="{'model_n':get_demo_subset}">
  
      <h2>Select your data file </h2>
      <select [ngModel]="selected_file" name="select_filename" size="1" (change)="onFilenameChange($event.target.value)">
        <option *ngFor="let filename of filename_used" [value]="filename">{{filename}}</option>
      </select>
      <br>
    </mat-card>
    <mat-card *ngIf="filename_used.length === 0">
      <h2>Select your data file </h2>
      <mat-card style="background-color: blanchedalmond;">
        <p>You do not have data file in your investigation, please add one with <b>Datafiles from tabular files</b> action
          from the investigation node !!! </p>
      </mat-card>
    </mat-card>
    <ng-template #selectFile let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
            <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
        </nav>
      </div>
  
      <h4>Cross Linking your data with MIAPPE</h4>
      <mat-card>
  
        <h5> Data files selection</h5>
        <p>
          First, you have to choose the data file (use the select option appropriatly).
        </p>
      </mat-card>
  
    </ng-template>
    <br>
    <mat-card *ngIf="filename_used.length > 0" joyrideStep="StepComponentTable" title=""
      [stepContent]="componentTable" [stepContentParams]="{'model_n':get_demo_subset}">
      <h2><b>{{model_type_label}}</b> column(s)</h2>
      <p>
        Once you have declared the <b>{{model_type_label}}</b> you need, select studies in which these components will be
        integrated by checking corresponding rows !!
      </p>
      <table mat-table [dataSource]="datasources[selected_file]" matSort>
        <ng-container *ngFor="let column of displayedColumns[selected_file] ; let i=index">
          <ng-container *ngIf="column!=='select' && column!=='study ID'" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}}</th>
            <td mat-cell class="flex-stretch" *matCellDef="let row">
              <button *ngIf="row[column]['state']==='notfound'" [ngStyle]="getIconStyle('notfound')"
                class="btn btn-primary btn-xs" title="{{model_type}} not found">Not found
              </button>
              <button *ngIf="row[column]['state']==='unset'" [ngStyle]="getIconStyle('unset')"
                class="btn btn-primary btn-xs" title="{{model_type}} unset">Unset
              </button>
              <button *ngIf="row[column]['state']==='ready'" [ngStyle]="getIconStyle('ready')"
                class="btn btn-primary btn-xs" title="{{model_type}} ready to extract">Ready
              </button>
              <!-- <button  *ngIf="element[column]['id'].includes(get_model_type())" [ngStyle]="getIconStyle('get_model_type()')" class="btn btn-primary btn-xs" -->
              <button *ngIf="row[column]['state']==='extracted'" [ngStyle]="getIconStyle('get_model_type()')"
                class="btn btn-primary btn-xs" title="{{row[column]['id']}}">Extracted
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="column==='study ID'" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell class="flex-stretch" *matCellDef="let row">
              {{row[column]}}
            </td>
          </ng-container>
          <ng-container *ngIf="column==='select'" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle(selected_file) : null"
                [checked]="selection.hasValue() && isAllRowSelected(selected_file)"
                [indeterminate]="selection.hasValue() && !isAllRowSelected(selected_file)">
              </mat-checkbox>
            </th>
            <td mat-cell class="flex-stretch" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns[selected_file]"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns[selected_file];"></tr>
      </table>
    </mat-card>
    <ng-template #componentTable let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
            <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
        </nav>
      </div>
      <h4>Detected <b>{{model_type_label}}</b></h4>
      <mat-card>
        <h5> Component detection</h5>
        <p>
          Here are <b>{{model_type_label}}</b>(s) that you have assigned in your data file. As you can see, there is one
          column called <b>plant_height</b> that you have assigned as <b>{{model_type_label}}</b>.
          You also notice that the assumed <b>{{model_type_label}}</b> is in unset state for now. To extract it, you can
          either add a new MIAPPE component or use an existing one.
  
        </p>
      </mat-card>
    </ng-template>
    <mat-card *ngIf="filename_used.length === 0">
      <h2><b>{{model_type_label}}</b> table</h2>
      <mat-card style="background-color: blanchedalmond;">
        <p>You do not have data file in your investigation, please add one with <b>Datafiles from tabular files</b> action
          from the investigation node !!! </p>
      </mat-card>
    </mat-card>
    <br>
  
    <mat-card *ngIf="filename_used.length > 0" joyrideStep="StepAddComponent" title="" [stepContent]="addComponent"
      [stepContentParams]="{'model_n':get_demo_subset}">
      <div *ngIf="model_type === 'observation_unit'">
        <h2>Select your observation unit type</h2>
        <p>
          Given that you can observed individual plants (identified by biological material ID) or groups of plants
          identified by the same material source ID, you need to select which type of IDs is contained in your data file
          column !!
        </p>
        <!-- class="form-control"  -->
        <select [ngModel]="observation_unit_type" name="select_type" size="1"
          (change)="onOUTypeChange($event.target.value)">
          <option *ngFor="let type of observation_unit_types" [value]="type">{{type}}</option>
        </select>
        <br>
        <br>
      </div>
      <div *ngIf="model_type === 'biological_material'">
        <h2> Select the type of materials</h2>
        <p>
          Given that you can observed individual plants (identified by biological material ID) or groups of plants
          identified by the same material source ID, you need to select which type of IDs is contained in your data file
          column !!
        </p>
        <!-- class="form-control"  -->
        <select [ngModel]="material_type" name="select_type" size="1" (change)="onTypeChange($event.target.value)">
          <option *ngFor="let type of material_types" [value]="type">{{type}}</option>
        </select>
        <br>
      </div>
      <h2>Link with a new <b>{{model_type_label}}</b></h2>
      <p>
        Here are headers detected as <b>{{model_type_label}}</b> in your data file. Depending on previous actions, headers
        could be green or grey. Green means that you have already linked this header.
        grey means that header is unset. <br>
        Click on it to fill the corresponding form !! then submit to add it in LINDA database as a new
        <b>{{model_type_label}}</b>!!
      </p>
      <!-- <p *ngIf="displayedcomponentColumns[selected_file].lenght==0">
          There are no <b>{{model_type_label}}</b> described in this datafile
        </p> -->
  
  
      <mat-button-toggle-group *ngFor="let column of displayedcomponentColumns[selected_file] ; let i=index"
        [multiple]="true" #group="matButtonToggleGroup">
        <mat-button-toggle [ngStyle]="getToggleStyle(global[selected_file][0][column]['state'])"
          (click)="$event ? click_toggle(column, selected_file) : null" value="{{column}}">
          <span>{{column}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br>
    </mat-card>
    <ng-template #addComponent let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
            <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
        </nav>
      </div>
  
      <h4>Cross Linking your data with MIAPPE</h4>
      <mat-card>
  
        <h5> Link <b>{{model_type_label}}</b></h5>
        <p>
          If you did not created the <b>{{model_type_label}}</b> yet, you can jointly extract and link MIAPPE
          component(<b>{{model_type_label}}</b> in our case) to your data.
        </p>
      </mat-card>
    </ng-template>
    <br>
    <mat-card *ngIf="filename_used.length === 0">
      <h2>Link with a new <b>{{model_type_label}}</b></h2>
      <mat-card style="background-color: blanchedalmond;">
        <p>You do not have data file in your investigation, please add one with <b>Datafiles from tabular files</b> action
          from the investigation node !!! </p>
      </mat-card>
    </mat-card>
  
  
    <mat-card *ngIf="filename_used.length > 0" joyrideStep="StepLinkComponent" title="" [stepContent]="linkComponent"
      [stepContentParams]="{'model_n':get_demo_subset}">
      <h2>Link with a existing <b>{{model_type_label}}</b></h2>
      <p>
        <!-- Objectives: search for a list of existing <b>{{model_type_label}}</b> described in this investigation.  -->
        Here are existing <b>{{model_type_label}}</b>(s) component in your investigation, click on it to associate the
        column to this <b>{{model_type_label}} component</b> !!
      </p>
      <mat-button-toggle-group *ngFor="let observed_variable of ObservedVariables[selected_file] ; let i=index"
        [multiple]="true" #group="matButtonToggleGroup">
        <mat-button-toggle joyrideStep="StepClickToggle" title="" [stepContent]="clickToggle"
          [stepContentParams]="{'model_n':get_demo_subset}" [ngStyle]="getToggleStyle('')"
          (click)="$event ? clickToggleExisting(observed_variable['observed_variable'], selected_file) : null"
          value="{{observed_variable['observed_variable']['Trait']}}">
          <span
            *ngIf="model_type==='observed_variable'">{{observed_variable['observed_variable']['Variable name']}}</span>
          <span
            *ngIf="model_type==='experimental_factor'">{{observed_variable['observed_variable']['Experimental Factor type']}}</span>
          <span *ngIf="model_type==='biological_material'">{{observed_variable['observed_variable']['_id']}}</span>
          <span *ngIf="model_type==='observation_unit'">{{observed_variable['observed_variable']['_id']}}</span>
          <!-- <span *ngIf="model_type==observed_variable">{{observed_variable['observed_variable']['Variable name']}}</span>
          <span *ngIf="model_type==experimental_factor">{{observed_variable['observed_variable']['Experimental Factor type']}}</span> -->
        </mat-button-toggle>
        <ng-template #clickToggle let-nod="model_n">
          <div>
            <nav class="navbar navbar-expand-sm navbar-dark">
              <h3>
                <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                    meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
              </h3>
            </nav>
          </div>
  
          <h4>Cross Linking your data with MIAPPE</h4>
          <mat-card>
  
            <h5>
              <h5> Existing Miappe Component</h5>
            </h5>
            <p>
              If you have already created the <b>{{model_type_label}}</b> (as we did in this tutorial),
              click on <button [ngStyle]="getToggleStyle('test')">
                <span
                  *ngIf="model_type==='observed_variable'">{{observed_variable['observed_variable']['Variable name']}}</span>
                <span
                  *ngIf="model_type==='experimental_factor'">{{observed_variable['observed_variable']['Experimental Factor type']}}</span>
              </button>.
              You will have to select which headers between the one proposed in the table you want to link with this
              component.
              <br>
              Once you've selected the headers, click on OK and you will see now that the component is now ready to be
              extracted <button style="background-color: LightGreen;">ready</button>
            </p>
            <h6>Notes</h6>
            <p>
              Here you can see the <button [ngStyle]="getToggleStyle('test')">
                <span
                  *ngIf="model_type==='observed_variable'">{{observed_variable['observed_variable']['Variable name']}}</span>
                <span
                  *ngIf="model_type==='experimental_factor'">{{observed_variable['observed_variable']['Experimental Factor type']}}</span>
              </button> button because you have already created this {{model_type_label}} component in your investigation
              tree;
              No button will appear otherwise !!<br>
              In this case, you need to either, add the component when you link the column or go back in the project tree
              to add the corresponding MIAPPE component !!
            </p>
          </mat-card>
        </ng-template>
      </mat-button-toggle-group>
      <br>
    </mat-card>
    <ng-template #linkComponent let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
            <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
        </nav>
      </div>
  
      <h4>Cross Linking your data with MIAPPE</h4>
      <mat-card>
  
        <h5>
          <h5> Link a existing Observed Variable</h5>
        </h5>
        <p>
          If you have already created the <b>{{model_type_label}}</b> (as we did in this tutorial), you can simply link
          our <b>{{model_type_label}}</b> to your data.
        </p>
        <h6>Notes</h6>
        <p>
          Here you can see the <button [ngStyle]="getToggleStyle('test')">PH_M_cm</button> button because you have already
          created this MIAPPE component in your investigation tree;
          No button will appear otherwise !!<br>
          In this case, you need to either, add the component when you link the column or go back in the project tree to
          add the corresponding MIAPPE component !!
        </p>
      </mat-card>
    </ng-template>
    <br>
    <mat-card *ngIf="filename_used.length === 0">
      <h2>Link with a existing <b>{{model_type_label}}</b></h2>
      <mat-card style="background-color: blanchedalmond;">
        <p>You do not have data file in your investigation, please add one with <b>Datafiles from tabular files</b> action
          from the investigation node !!! </p>
      </mat-card>
    </mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <button class="btn btn-info" type="submit">Extract</button>
      <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </form>
  </div>