<h1 mat-dialog-title>{{mode_text[mode]['title']}}</h1>

<div mat-dialog-content>
  <section *ngIf="mode==='remove' && (model_type==='investigation' || model_type==='study')" class="format-section">
    <p> Delete only childs component ? </p>
    <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_all_childs($event.checked)">All childs
    </mat-checkbox>
    <p> Delete only child observed variables component ? </p>
    <mat-checkbox class="example-margin" [checked]="Checked"
      (change)="set_check_only($event.checked, 'observed_variable')">Only Observed variables</mat-checkbox>
    <p> Delete only child experimental factors component ? </p>
    <mat-checkbox class="example-margin" [checked]="Checked"
      (change)="set_check_only($event.checked, 'experimental_factor')">Only Experimental Factors</mat-checkbox>

  </section>
  <section *ngIf="mode.includes('extract_env_var')" class="format-section">
    <p> Do you want to use templates ? </p>
    <mat-checkbox class="example-margin" [checked]="use_template" (change)="set_check_template($event.checked)"> Use templates</mat-checkbox>
    <section *ngIf="use_template" class="format-section">
      <div *ngIf="get_template_result().length>0">
        <select name="select_template" size="1" (change)="onTemplateSelect($event.target.value)">
          <option value="" disabled>Select {{model_type}}s</option>
          <option *ngFor="let t of get_template_result()" [value]="t._id">{{t._id}}</option>
        </select>
      </div>
      <div *ngIf="get_template_result().length===0">
        <p> There is no {{model_type.replace("_"," ")}} to use... Please add one </p>
      </div>
    </section>
    <hr>
    <!-- <p> Do you want to use existing for {{model_type}}s ? </p>
    <mat-checkbox class="example-margin" [checked]="use_existing" (change)="set_check_existing($event.checked)"> Use existing</mat-checkbox>
    <section *ngIf="use_existing" class="format-section">
      <div *ngIf="get_existing_result().length>0">
        <select name="select_existing" size="1" (change)="onExistingSelect($event.target.value)">
          <option value="" disabled>Select {{model_type}}s extracted in another file</option>
          <option *ngFor="let t of get_existing_result()" [value]="t.filename">{{t.filename}}</option>
        </select>
      </div>
      <div *ngIf="get_existing_result().length===0">
        <p> There is no existing  {{model_type.replace("_"," ")}} to use... Please add one </p>
      </div>
    </section> -->
  </section>
  <section *ngIf="mode.includes('extract_existing_env_var')" class="format-section">
    <select name="select_headers" size="1" (change)="onHeaderSelect($event.target.value)">
      <option value="" disabled>Select headers to link to this component?</option>
      <option *ngFor="let t of get_headers_result()" [value]="t">{{t}}</option>
    </select>
  </section>
  <p>{{mode_text[mode]['content']}}</p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>