

<h1 mat-dialog-title>{{mode_text[mode]['title']}}</h1>

<div mat-dialog-content >
    <section *ngIf="mode==='remove'" class="format-section">
      <p > Delete only childs component ? </p>
      <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_all_childs($event.checked)" >All childs</mat-checkbox>
      <p > Delete only child observed variables component ? </p>
      <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_only_observed_variable($event.checked)" >Only Observed variables</mat-checkbox>
    </section>
    <section *ngIf="mode==='extract_env_var'" class="format-section">
      <p > Do you want to use templates ? </p>
      <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_template($event.checked)" > Use templates</mat-checkbox>
    </section>
    <section *ngIf="use_template" class="format-section">
    <div *ngIf="get_result().length>0">
      <select name="select_template" size="1" (change)="onSelect($event.target.value)">
          <option value="" disabled>Select {{model_type}}s</option>
          <option *ngFor="let t of get_result()" value={{t._id}}>{{t._id}}</option>
      </select> 
    </div>
    <div *ngIf="get_result().length===0">
      <p> There is no {{model_type.slice(1).replace("_"," ")}} to use... Please add one </p>
    </div> 
  </section> 
  
 
      

    <p>{{mode_text[mode]['content']}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>