<!--<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Select ontology term</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>-->

<!--<button mat-raised-button (click)="openDialog()">Add ontology term</button>-->


<select name="nom" size="1" (change)="onSelect($event.target.value)">
    <option value='--'>Select Ontology</option>
    <option value='XEO'>XEO</option>
    <option value='EO'>EO</option>
    <option value='EnvO'>EnvO</option>
    <option value='PO_Structure'>PO Structure</option>
    <option value='EFO'>EFO</option>
    <option value='PO_Development'>PO Development</option>
    <option value='CO_20'>Crop Ontology 20 </option>
    <option value='CO_715'>Crop Ontology 715 </option>
</select>