<h1 mat-dialog-title></h1>
<!--<alert class="myalert"></alert>-->
<div mat-dialog-content >
    <p> Which formats do you want to use ? </p>
  
    <section *ngFor="let format of file_format;let i= index"  class="format-section">
        <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_format($event.checked, format)" >{{format}}</mat-checkbox>
    </section>
   
    <section *ngIf="is_expandable_node" class="format-section">
        <p > How do you want to save your model ? </p>
        <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_recursive($event.checked)" >Save all recursively</mat-checkbox>
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>