
<mat-dialog-content *ngIf="model_type!=='biological_material'">
<app-form (notify)="get_output_from_child($event)" [model_type]="get_model_type()" [level]="1" [parent_id]="" [model_key]="" [mode]="get_mode()"></app-form>
</mat-dialog-content>
<mat-dialog-content *ngIf="model_type==='biological_material'">
    <app-material-form (notify)="get_output_from_child($event)" [model_type]="get_model_type()" [level]="1" [parent_id]="" [model_key]="" [mode]="get_mode()"></app-material-form>
</mat-dialog-content>