<h1 mat-dialog-title></h1>
<!--<alert class="myalert"></alert>-->
<div mat-dialog-content >
    <p> Describe youtr material source and derived </p>
  
    <section *ngFor="let format of file_format;let i= index"  class="format-section">
        <mat-checkbox class="example-margin" [checked]="Checked" (change)="set_check_format($event.checked, format)" >{{format}}</mat-checkbox>
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
          <thead>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th class="hidden-phone">Platform(s)</th>
              <th class="hidden-phone">Engine version</th>
              <th class="hidden-phone">CSS grade</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeX">
              <td>Trident</td>
              <td>Internet Explorer 4.0</td>
              <td class="hidden-phone">Win 95+</td>
              <td class="center hidden-phone">4</td>
              <td class="center hidden-phone">X</td>
            </tr>
            <tr class="gradeC">
              <td>Trident</td>
              <td>Internet Explorer 5.0</td>
              <td class="hidden-phone">Win 95+</td>
              <td class="center hidden-phone">5</td>
              <td class="center hidden-phone">C</td>
            </tr>
            <tr class="gradeA">
              <td>Trident</td>
              <td>Internet Explorer 5.5</td>
              <td class="hidden-phone">Win 95+</td>
              <td class="center hidden-phone">5.5</td>
              <td class="center hidden-phone">A</td>
            </tr>
          </tbody>
        </table>
    </section>
   
    <section *ngIf="is_expandable_node" class="format-section">
      <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
        <thead>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th class="hidden-phone">Platform(s)</th>
            <th class="hidden-phone">Engine version</th>
            <th class="hidden-phone">CSS grade</th>
          </tr>
        </thead>
        <tbody>
          <tr class="gradeX">
            <td>Trident</td>
            <td>Internet Explorer 4.0</td>
            <td class="hidden-phone">Win 95+</td>
            <td class="center hidden-phone">4</td>
            <td class="center hidden-phone">X</td>
          </tr>
          <tr class="gradeC">
            <td>Trident</td>
            <td>Internet Explorer 5.0</td>
            <td class="hidden-phone">Win 95+</td>
            <td class="center hidden-phone">5</td>
            <td class="center hidden-phone">C</td>
          </tr>
          <tr class="gradeA">
            <td>Trident</td>
            <td>Internet Explorer 5.5</td>
            <td class="hidden-phone">Win 95+</td>
            <td class="center hidden-phone">5.5</td>
            <td class="center hidden-phone">A</td>
          </tr>
        </tbody>
      </table>    
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>