<h1 mat-dialog-title>Select {{model_type}}</h1>

<div *ngIf="get_result().length>0">
  <div mat-dialog-content>
    <p> Which {{model_type}}s do you plan to use ? </p>
  </div>
  <select name="select_template" size="1" (change)="onSelect($event.target.value)">
    <option value="" disabled>Select {{model_type}}s</option>
    <ng-container *ngIf="model_type!=='biological_material'" matColumnDef="{{column}}">
      <option [disabled]="already_there.includes(t._id)" *ngFor="let t of get_result()" value={{t._id}}>{{t._id}}</option>
    </ng-container>
    <ng-container *ngIf="model_type==='biological_material'" matColumnDef="{{column}}">
      <option  *ngFor="let t of get_result()" value={{t._id}}>{{t._id}}</option>
    </ng-container>
  </select>
  

    <ng-container *ngIf="model_type==='biological_material'">
      <table style="width: 1200px;" *ngIf="ready_to_show" mat-table matSort [dataSource]="sources[model_type]">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container *ngFor="let column of columns[model_type] ; let i=index">
          <!-- {{column}} -->
          <ng-container *ngIf="column!='select'" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns_label[model_type][i]}} </th>
            <td mat-cell class="flex-stretch" *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
        </ng-container>
      <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox 
        (change)="$event ? masterBmToggle() : null" 
        [checked]="bmselection.hasValue() && isAllBmSelected()"
        [indeterminate]="bmselection.hasValue() && !isAllBmSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell class="flex-stretch" *matCellDef="let row">
        <mat-checkbox 
        (click)="$event.stopPropagation()" 
        (change)="$event ? bmselection.toggle(row) : null"
        [checked]="bmselection.isSelected(row)" 
        [disabled]="already_there.includes(row.materialId+'_'+row.biologicalMaterialId)">
        </mat-checkbox>
      </td>
      
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns[model_type]"></tr>
      <tr mat-row *matRowDef="let row; columns: columns[model_type];" (click)="!already_there.includes(row.materialId+'_'+row.biologicalMaterialId) && bmselection.toggle(row)"[ngStyle]="already_there.includes(row.materialId+'_'+row.biologicalMaterialId) && {'background-color': 'lightgrey'}"></tr>
  </table>
    </ng-container>
  

    <ng-container *ngIf="model_type==='experimental_factor'">
      <table style="width: 1200px;" *ngIf="ready_to_show" mat-table matSort [dataSource]="sources[model_type]">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container *ngFor="let column of columns[model_type] ; let i=index">
          <!-- {{column}} -->
          <ng-container *ngIf="column!='select'" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns_label[model_type][i]}} </th>
            <td mat-cell class="flex-stretch" *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
        </ng-container>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox 
          (change)="$event ? masterEfToggle() : null" 
          [checked]="efselection.hasValue() && isAllEfSelected()"
          [indeterminate]="efselection.hasValue() && !isAllEfSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell class="flex-stretch" *matCellDef="let row">
          <mat-checkbox 
          (click)="$event.stopPropagation()" 
          (change)="$event ? efselection.toggle(row) : null"
          [checked]="efselection.isSelected(row)" 
          [disabled]="already_there.includes(row.experimentalFactorType)">
          </mat-checkbox>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns[model_type]"></tr>
    <tr mat-row *matRowDef="let row; columns: columns[model_type];" (click)="!already_there.includes(row.experimentalFactorType) && efselection.toggle(row)"[ngStyle]="already_there.includes(row.experimentalFactorType) && {'background-color': 'lightgrey'}"></tr>

    </table>
    </ng-container>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="model_type==='experimental_factor'" mat-button [disabled]="!efselection.hasValue()" (click)="onOkClick()">Ok</button>
    <button *ngIf="model_type==='biological_material'" mat-button [disabled]="!bmselection.hasValue()" (click)="onOkClick()">Ok</button>
  </div>
</div>

<div *ngIf="get_result().length===0">
  <div mat-dialog-content>
    <p> There is no {{model_type.replace('_', ' ')}}s to use... Please add one to {{parent_id}} </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>