<h1 mat-dialog-title>Select template</h1>
<div mat-dialog-content >
    <p> Which templates do you plan to use ? </p>
</div>
<!--<ul *ngFor="let t of result">
    <li>{{t._id}}</li>
    
</ul>-->
<select name="select_template" size="1" (change)="onSelect($event.target.value)">
                            <option value="" disabled>Select Templates</option>
                            <option *ngFor="let t of get_result()" value={{t._id}}>{{t._id}}</option>
                            </select> 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>
