.nga-card-step {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04), 0 3px 3px rgba(0, 0, 0, .09);
    margin: 4px;
    cursor: pointer;
    text-decoration: none;
    min-height: 180px;
    
  }
  
  .nga-card-step:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .09), 0 4px 4px rgba(0, 0, 0, .13);
    border-radius: 5px;
    color: #0d6efd;
  
  }
  
  .nga-card-step a {
    color: black;
    text-decoration: none;
  }
  
  .nga-card-step a:hover {
    color: #0d6efd;
    text-decoration: none;
  }