<aside>
    <div id="sidebar" class="nav-collapse ">
      <!--<nav class="side-navbar">-->
    <!--<aside>
    <div id="sidebar" class="nav-collapse ">-->
          <!-- Sidebar Header-->
          <!-- Sidebar Navidation Menus-->
      <span class="heading">Main</span>
          <ul class="sidebar-menu">
              <!-- <li class="nav-item" style="list-style: none">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i> Home</a>
              </li> -->
              <li class="nav-item" style="list-style: none">
                <a class="nav-link" [routerLink]="['/home2']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i>Home</a>
              </li>
              <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/projects_tree']" routerLinkActive="active-link"><i class="fa fa-sitemap"></i>Projects Tree</a>
              </li>
              <!-- <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/map']" routerLinkActive="active-link"><i class="fa fa-sitemap"></i>amp</a>
              </li> -->
              
              <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/projects_page']" routerLinkActive="active-link"><i><span class="material-icons">
                  table_chart
                  </span></i>Projects</a>
              </li>
              <!-- <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/projects']" routerLinkActive="active-link"><i class="fa fa-sitemap"></i>Projects</a>
              </li> -->
              <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/templates']" routerLinkActive="active-link"><i class="fa fa-copy"></i>Templates</a>
              </li>
              <li class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/response-request']" routerLinkActive="active-link"><i class="fa fa-copy"></i>Reset</a>
              </li>

              
              <!-- <li *ngIf="currentUser && currentUser['admin']===true" class="nav-item" style="list-style: none">
                <a class="nav-link"  [routerLink]="['/gantt']" routerLinkActive="active-link"><i class="fa fa-chart-area"></i>Gantt</a>
              </li> -->
              <!--<li class="nav-item">
                <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active-link"><i class="fa fa-question-circle"></i> Help</a>
              </li>-->
              
              <li *ngIf="currentUser && currentUser['admin']===true" class="nav-item" style="list-style: none">
                <a class="nav-link" [routerLink]="['/admin']" ><i><span class="material-icons">
                  admin_panel_settings
                  </span></i> Admin</a>
              </li>  
              
             <!--<li>
                <a href="#AnalysisdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Analysis </a>
                <ul id="AnalysisdropdownDropdown" class="collapse list-unstyled ">
                  <li class="nav-item">
                    <a>Data exploration</a>
                  </li>
                </ul>
              </li>-->
              
              <li style="list-style: none">
                <a href="#documentationdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-book"></i>Documentation </a>
                <ul id="documentationdropdownDropdown" class="collapse show list-unstyled ">
                  <li>
                    <a href="#documentationdropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-leaf"></i>MIAPPE components</a>
                    <ul id="documentationdropdownDropdown2" class="collapse list-unstyled ">
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/investigation']" routerLinkActive="active-link">Investigation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/study']" routerLinkActive="active-link">Study</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/observation_unit']" routerLinkActive="active-link">Observation Unit</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/biological_material']" routerLinkActive="active-link">Biological Material</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/event']" routerLinkActive="active-link">Event</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/observed_variable']" routerLinkActive="active-link">Observed Variable</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/experimental_factor']" routerLinkActive="active-link">Experimental Factor</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/environmental_parameter']" routerLinkActive="active-link">Environmental Parameter</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/sample']" routerLinkActive="active-link">Sample</a>
                      </li>
                      
                    </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  [routerLink]="['/ontologies']" routerLinkActive="active-link"><i class="fa fa-file-text"></i>Ontologies description</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/data_exploration']" routerLinkActive="active-link"><i class="fa fa-search"></i>Data exploration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/project_example']" routerLinkActive="active-link"><i class="fa fa-leaf"></i>Project example</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/public_data']" routerLinkActive="active-link"><i class="fa fa-users"></i>Public data</a>
                  </li>
                </ul>
              </li>
              <!-- <li *ngIf="currentUser" class="nav-item" style="list-style: none">
                <a class="nav-link" [routerLink]="['/about']" ><i class="fa fa-user-crown"></i> About</a>
              </li>  -->
              
           </ul>
           <!--<span class="heading">Extras</span>
           <ul class="sidebar-menu">
              <li> 
                <a class="nav-link" [routerLink]="['/publications']" routerLinkActive="active-link"><i class="icon-picture"></i>Publications</a>
              </li>
              <li> 
                  <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active-link"><i class="fa fa-question-circle"></i>FAQ</a>
              </li>
              <li> 
                  <a class="nav-link" [routerLink]="['/downloaded']" routerLinkActive="active-link"><i class="fa fa-cart-arrow-down"></i>Download</a>
              </li>
              <li> 
              <a class="nav-link" [routerLink]="['/releases']" routerLinkActive="active-link"><i class="icon-picture"></i>Releases</a>
            </li>
           </ul>-->
      </div>       
  </aside>