<footer class="nga-footer">
    <br>
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center text-xs-center">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links ">
            <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
            <li style="list-style: none"><a [routerLink]="['/help']" routerLinkActive="active-link"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li style="list-style: none"><a [routerLink]="['/home2']" routerLinkActive="active-link"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 text-center text-xs-center">
          <h5>Partners</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="https://www.u-bordeaux.fr/"><i class="fa fa-angle-double-right"></i>University of bordeaux</a></li>
            <li><a href="https://www.cbib.u-bordeaux.fr/en"><i class="fa fa-angle-double-right"></i>CBiB</a></li>
            <li><a href="https://www6.bordeaux-aquitaine.inrae.fr/bfp"><i class="fa fa-angle-double-right"></i>INRAE BFP</a></li>
            
          </ul>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>	
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">© All right reserved.<a class="text-green ml-2" href="https://www.cbib.u-bordeaux.fr/en" target="_blank">CBiB</a></p>
        </div>
        <hr>
      </div>	
    </div>
</footer>