<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm-fn">First Name</span>
    <input type="text" style="height:100%;padding: .375rem .75rem;font-size: 1rem;" class="form-control" placeholder="************" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <button type="submit" (click)="modify_pwd()">Modify</button>
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm-ln">Last Name</span>
    <input type="text" style="height:100%;padding: .375rem .75rem;font-size: 1rem;" class="form-control" placeholder="************" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <button type="submit" (click)="modify_email()">Modify</button>
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm-un">UserName</span>
    <input type="text" style="height:100%;padding: .375rem .75rem;font-size: 1rem;" class="form-control" placeholder="************" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <button type="submit" (click)="modify_email()">Modify</button>
</div>
