<div id="profile">
    <div class="border-head">
        <h3>
            <a href="index.html" class="logo" style="color: black;"><b>P<span>L</span>ant
                    exper<span>I</span>me<span>N</span>tal
                    meta<span>D</span>at<span>A</span></b></a>
        </h3>
    </div>
    <!-- Nav pills -->
      <ul class="nav nav-pills">

        <li class="nav-item">
          <a class="nav-link" href="#personal_infos" aria-controls="personal_infos" role="tab" data-toggle="tab"  [ngClass]="{ 'active':activeTab==='personal_infos'}" (click)="changeTab('personal_infos')">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab" [ngClass]="{ 'active':activeTab==='messages'}" (click)="changeTab('messages')">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#settings" tabindex="-1" aria-controls="settings" role="tab" data-toggle="tab" [ngClass]="{ 'active':activeTab==='settings'}" (click)="changeTab('settings')">Settings</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div [ngClass]="{ 'active':activeTab==='personal_infos'}" role="tabpanel" class="tab-pane active" id="personal_infos">
          <app-person *ngIf="activeTab==='personal_infos'" ></app-person>
          <!-- <app-person *ngIf="activeTab==='personal_infos'"  [currentPerson]="get_currentPerson"></app-person> -->
        </div>
        <div [ngClass]="{ 'active':activeTab==='messages'}" role="tabpanel" class="tab-pane active" id="messages">

            Messages
            <app-message *ngIf="activeTab==='messages'"></app-message>
        </div>
        <div [ngClass]="{ 'active':activeTab==='settings'}" role="tabpanel" class="tab-pane active" id="settings">
            Settings
        </div>
      </div>
    
      <!-- <div>
    
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#personal_infos" aria-controls="personal_infos" role="tab" data-toggle="tab">Profile</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>  
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">home</div>
          <div role="tabpanel" class="tab-pane" id="personal_infos">profile</div>
          <div role="tabpanel" class="tab-pane" id="messages">...</div>
          <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>
      
      </div> -->
    
    </div>
    
    