<header>
<!--  <header (activate)="onActivate($event)" #outlet>-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <a class="logo navbar-brand"  href="#">
        <b style="color:#4ECDC4">{{ title }} </b>
        P<span><b>L</b></span>ant exper<span><b>I</b></span>me<span><b>N</b></span>tal meta<span><b>D</b></span>at<span><b>A</b></span>
        </a>  
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!currentUser" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" ><i class="fas fa-user-crown"></i> Login<span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout<span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" (click)="user_page()"><i class="fa fa-user"></i> Profile<span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" [routerLink]="['/help']"><i class="fa fa-user"></i> Help<span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="index.html#">
              Tasks
              <span class="badge bg-theme">{{stats_advanced['investigations'].length+stats_advanced['studies'].length}}</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green" style="font-size: 14px;">You have {{stats_advanced['investigations'].length}} pending investigations tasks</p>
              </li>
              
              <li *ngFor="let obj of stats_advanced['investigations'] ; index as j;" >
                <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                  <div class="task-info">
                    <div class="desc">{{obj['id']}}</div>
                    <div class="percent">{{obj['percent_fill']}}%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                      <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <p class="green" style="font-size: 14px;">You have {{stats_advanced['studies'].length}} pending studies tasks</p>
              </li>
              <li *ngFor="let obj of stats_advanced['studies'] ; index as j;" >
                <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                  <div class="task-info">
                    <div class="desc">{{obj['id']}}</div>
                    <div class="percent">{{obj['percent_fill']}}%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                      <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup)="searchStart($event)" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearch()">Search</button>
        </form>
      </div>
    </nav>
  </header>
<!-- <header class="navbar navbar-expand-lg navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    <a href="https://github.com/ganatan/angular-app" class="d-none d-sm-block">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000;"
        src="https://api.ganatan.com/articles/img/forkme.png" alt="Fork me on GitHub"
        data-canonical-src="https://api.ganatan.com/articles/img/forkme.png" />
    </a>
    <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
      <img src="./assets/params/images/logo/ganatan-logo.png" srcset="./assets/params/images/logo/ganatan-logo.png,
      ./assets/params/images/logo/ganatan-logo@2x.png 2x" width="25" height="25" alt="Ganatan Logo">
      <span class="nga-navbar-logo mx-1">ganatan</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/angular">
            <i class="fab fa-angular me-1"></i>Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/bootstrap">
            <i class="fab fa-bootstrap me-1"></i>Bootstrap</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/news">
            <i class="fas fa-photo-video me-1"></i>News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/boxoffice">
            <i class="fas fa-film me-1"></i>Boxoffice</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">
            <i class="far fa-question-circle me-1"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/contact">
            <i class="fas fa-envelope me-1"></i>Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <button type="button" class="btn btn-sm nga-btn-navbar me-2" routerLink="/signup"><i
            class="fas fa-user-plus me-2"></i>Sign up</button>
        <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/login"><i
            class="fas fa-sign-in-alt me-2"></i>Login</button>
      </form>
    </div>
  </nav>
</header> -->