<header>
<!--  <header (activate)="onActivate($event)" #outlet>-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <a class="logo navbar-brand"  href="#">
        <b style="color:#4ECDC4">{{ title }} </b>
        P<span><b>L</b></span>ant exper<span><b>I</b></span>me<span><b>N</b></span>tal meta<span><b>D</b></span>at<span><b>A</b></span>
        </a>  
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item" style="list-style: none">
            <a class="nav-link" [routerLink]="['/home2']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
              <i class="fa fa-home">
              </i>
            Home</a>
          </li>
          <li class="nav-item" style="list-style: none">
            <a class="nav-link"  [routerLink]="['/projects_page']" routerLinkActive="active-link">
              <i class="fa fa-leaf">
              </i>
            Projects
            </a>
          </li>
          <li class="nav-item dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="index.html#">
              Tasks
              <span class="badge bg-theme">{{stats_advanced['investigations'].length+stats_advanced['studies'].length}}</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green" style="font-size: 14px;">You have {{stats_advanced['investigations'].length}} pending investigations tasks</p>
              </li>
              
              <li *ngFor="let obj of stats_advanced['investigations'] ; index as j;" >
                <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                  <div class="task-info">
                    <div class="desc">{{obj['id']}}</div>
                    <div class="percent">{{obj['percent_fill']}}%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                      <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <p class="green" style="font-size: 14px;">You have {{stats_advanced['studies'].length}} pending studies tasks</p>
              </li>
              <li *ngFor="let obj of stats_advanced['studies'] ; index as j;" >
                <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                  <div class="task-info">
                    <div class="desc">{{obj['id']}}</div>
                    <div class="percent">{{obj['percent_fill']}}%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                      <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" style="list-style: none">
            <a class="nav-link"  [routerLink]="['/templates']" routerLinkActive="active-link"><i class="fa fa-copy"></i>Templates</a>
          </li>
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" (click)="user_page()"><i class="fa fa-user"></i> Profile<span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" [routerLink]="['/help']"><i class="fa fa-user"></i> Help<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="index.html#">
              Documentation
              </a>
            <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green" style="font-size: 14px;">MIAPPE description</p>
              </li>
              <li>
                <a class="green"  [routerLink]="['/investigation']" routerLinkActive="active-link">Investigation</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/study']" routerLinkActive="active-link">Study</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/observation_unit']" routerLinkActive="active-link">Observation Unit</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/biological_material']" routerLinkActive="active-link">Biological Material</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/event']" routerLinkActive="active-link">Event</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/observed_variable']" routerLinkActive="active-link">Observed Variable</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/experimental_factor']" routerLinkActive="active-link">Experimental Factor</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/environmental_parameter']" routerLinkActive="active-link">Environmental Parameter</a>
              </li>
              <li>
                <a class="green"  [routerLink]="['/sample']" routerLinkActive="active-link">Sample</a>
              </li>
            </ul>
          </li>
          
          
          
          <!-- <li style="list-style: none">
            <a href="#documentationdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-book"></i>Documentation </a>
            <ul id="documentationdropdownDropdown" class="collapse show list-unstyled ">
              <li>
                <a href="#documentationdropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-leaf"></i>MIAPPE components</a>
                <ul id="documentationdropdownDropdown2" class="collapse list-unstyled ">
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/investigation']" routerLinkActive="active-link">Investigation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/study']" routerLinkActive="active-link">Study</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/observation_unit']" routerLinkActive="active-link">Observation Unit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/biological_material']" routerLinkActive="active-link">Biological Material</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/event']" routerLinkActive="active-link">Event</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/observed_variable']" routerLinkActive="active-link">Observed Variable</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/experimental_factor']" routerLinkActive="active-link">Experimental Factor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/environmental_parameter']" routerLinkActive="active-link">Environmental Parameter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/sample']" routerLinkActive="active-link">Sample</a>
                  </li>
                  
                </ul>
              </li>
              <li class="nav-item">
                 <a class="nav-link"  [routerLink]="['/ontologies']" routerLinkActive="active-link"><i class="fa fa-file-text"></i>Ontologies description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/data_exploration']" routerLinkActive="active-link"><i class="fa fa-search"></i>Data exploration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/project_example']" routerLinkActive="active-link"><i class="fa fa-leaf"></i>Project example</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/public_data']" routerLinkActive="active-link"><i class="fa fa-users"></i>Public data</a>
              </li>
            </ul>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a href="#documentationdropdownDropdown" aria-expanded="false" data-toggle="dropdown"> 
              <i class="fa fa-book">
                
              </i>Documentation </a>
            <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
              <li>
                <a href="#documentationdropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-leaf"></i>MIAPPE components</a>
                <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/investigation']" routerLinkActive="active-link">Investigation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/study']" routerLinkActive="active-link">Study</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/observation_unit']" routerLinkActive="active-link">Observation Unit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/biological_material']" routerLinkActive="active-link">Biological Material</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/event']" routerLinkActive="active-link">Event</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/observed_variable']" routerLinkActive="active-link">Observed Variable</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/experimental_factor']" routerLinkActive="active-link">Experimental Factor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/environmental_parameter']" routerLinkActive="active-link">Environmental Parameter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/sample']" routerLinkActive="active-link">Sample</a>
                  </li>
                  
                </ul>
              </li>
              <li class="nav-item">
                 <a class="nav-link"  [routerLink]="['/ontologies']" routerLinkActive="active-link"><i class="fa fa-file-text"></i>Ontologies description</a>
              </li>
            </ul>
          </li> -->
          
          <li *ngIf="!currentUser" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" ><i class="fas fa-user-crown"></i> Login<span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup)="searchStart($event)" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearch()">Search</button>
        </form>
      </div>
    </nav>
  </header>