<div id="expdesign-page">
    <alert></alert>
    <button class="btn btn-danger" style="float: right;" type="submit" (click)="close();" [disabled]="">Close Design page</button>
    <button 
        *ngIf="mode==='edit'" 
        joyrideStep="StepSubmit" 
        title="" 
        class="btn btn-success" 
        style="float: right;" 
        type="submit" 
        (click)="onSave();"
    >
    Save changes
    </button>
    <button 
        *ngIf="mode==='create'" 
        joyrideStep="StepSubmit" 
        title="" 
        class="btn btn-success" 
        style="float: right;" 
        type="submit" 
        (click)="onAdd();"
    >
    Submit
    </button>  
    <div>
        <!-- Nav pills -->
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" [ngClass]="{ 'active':activeTab==='exp_design_info'}" (click)="changeTab('exp_design_info')"
            aria-controls="exp_design_info" role="tab" data-toggle="tab" href="#exp_design_info">1. Design informations</a>
        </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div [ngClass]="{ 'active':activeTab==='exp_design_info'}" role="tabpanel" class="tab-pane active" id="expdesigninfo">
                <h3>Describe your experimental design</h3>
                <mat-card *ngIf="activeTab==='exp_design_info'" style="width: 95%;">
                    <div>
                        <div>
                        <select [ngModel]="get_design_type"  name="design_type" size="1" (change)="onDesignTypeChange($event.target.value)" >
                            <option *ngFor="let dt of design_types" [value]="dt">{{dt}}</option>
                        </select> 
                        </div>
                        <mat-divider></mat-divider>
                        <div *ngIf="get_design_type!=''">
                            <!-- <label id="example-radio-group-label">Select block design</label> -->
                            <span>
                            <mat-radio-group
                                aria-labelledby="example-radio-group-label"
                                class="example-radio-group"
                                [(ngModel)]="block_design_subtype"
                            >
                                <mat-radio-button class="example-radio-button" *ngFor="let available_design of available_designs" [value]="available_design">
                                    {{available_design}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </span>
                            
                            <mat-card *ngIf="designLoaded">
                                <h3>Experimental design representation</h3>
                                <form [formGroup]="get_BlockDesignForm"  (ngSubmit)="onExtractDesign()">
                                    <label for="total-block-control" >Select total number of blocks</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalBlockControl" id="total-block-control"/> 
                    
                                    <label for="total-block-per-row-control" >Select total number of block per row</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalBlockPerRowControl" id="total-block-per-row-control" /> 
                    
                                    <!-- <label for="total-row-per-block-control" >Select total number of rows per block</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalRowPerBlockControl" id="total-row-per-block-control" /> 
                                    
                                    <label for="total-column-per-block-control" >Select total number of column per block</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalColumnPerBlockControl" id="total-column-per-block-control" /> 
                                    
                                    <label for="total-row-per-plot-control" >Select total number of row per plot</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalRowPerPlotControl" id="total-row-per-plot-control" /> 
                    -->
                                    <button type="submit" [disabled]="!get_BlockDesignForm.valid">Generate Experimental design</button>
                                </form>
                                <mat-grid-list  cols="{{totalBlockPerRowControl.value}}" rowHeight="100px">
                                    <mat-grid-tile
                                        (click)="display_block(bd)"
                                        *ngFor="let bd of get_design.Blocking.value"
                                        [colspan]="1"
                                        [rowspan]="1"
                                        [style.background]="'lightgreen'"
                                        >
                                    {{bd['Block number'].value}}
                                    </mat-grid-tile>
                                </mat-grid-list> 
                               
                            </mat-card>
                            <mat-card *ngIf="blockDesignLoaded">
                                <h3>block design representation (rows and columns)</h3>
                                <form [formGroup]="get_BlockDesignForm"  (ngSubmit)="onExtractBlockDesign()">
                                    <label for="total-row-per-block-control" >Select total number of rows per block</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalRowPerBlockControl" id="total-row-per-block-control" /> 
                                    
                                    <label for="total-column-per-block-control" >Select total number of column per block</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalColumnPerBlockControl" id="total-column-per-block-control" /> 
                                    
                                    <label for="total-row-per-plot-control" >Select total number of row per plot</label>
                                    <input mdbInput class="form-control" type="number" formControlName="totalRowPerPlotControl" id="total-row-per-plot-control" /> 
                    
                                    <button type="submit" [disabled]="!get_BlockDesignForm.valid">Generate Experimental design</button>
                                </form>
                                <mat-grid-list  cols="{{totalColumnPerBlockControl.value}}" rowHeight="100px">
                                    <mat-grid-tile
                                        (click)="display_block(bd)"
                                        *ngFor="let bd of get_design.Blocking.value[0]['Plot design'].value"
                                        [colspan]="1"
                                        [rowspan]="1"
                                        [style.background]="'lightgreen'"
                                        >
                                    {{bd['Plot number'].value}}
                                    </mat-grid-tile>
                                </mat-grid-list> 
                            </mat-card>
                            <!-- Table of design -->
                            <mat-card *ngIf="blockDesignLoaded && designLoaded">
                                <h3> Experimental design table association</h3>
                                <table  class="table table-bordered heading-hvr">  
                                    <thead>  
                                        <tr>  
                                            <th> </th>  
                                            <th width="50">Block number </th>  
                                            <th width="50">Blocks per trial</th>  
                                            <th>Associated observations</th> 
                                        </tr>  
                                    </thead>  
                                    <tbody *ngFor="let experimental_design_block of get_design.Blocking.value; let i = index">  
                        
                                        <tr>  
                                            <td align="center">  
                                                <button *ngIf="!hideme[i]" (click)="showBlockInfo(i,experimental_design_block['Block number'].value)" ></button>
                                                <button *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]" ></button>
                            
                                            <!--  <a class="expand-row" *ngIf="!hideme[i]" (click)="showBlockInfo(i,experimental_design_block['Block number'].value)">  
                                                <img src="../../../../../assets/images/miappe.png" />  
                                            </a>  
                                            <a class="expand-row" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]">  
                                                <img src="../../../../../assets/images/miappe.png" />  
                                            </a>   -->
                                            </td> 
                                            <td align="center">{{experimental_design_block['Block number'].value}}</td>     
                                            <td align="center">{{experimental_design_block['Blocks per trial'].value}}</td>
                                            <td align="center">{{"Not define yet"}}</td>
                            
                                            
                                        </tr>  
                            
                                        <!-- <div id="myresult" class="img-zoom-result"></div> -->  
                                        <tr [hidden]="!hideme[i]" class="sub-table no-bg">  
                                            <td align="center"> </td>  
                                            <td colspan="15" class="p-0">  
                                            <table class="table mb-0 table-striped">  
                                                <thead class="bg-dark text-white">  
                                                <tr>  
                                                    <th>Plot number</th>  
                                                    <th>Row number</th>  
                                                    <th>Column number</th> 
                                                    <th>Associated material source</th> 
                                                    <th># biological material </th> 
                                                    <th>Observations</th> 
                                                    <th>Harvested date</th> 
                            
                                                    
                                                </tr>  
                                                </thead>  
                                                <tbody>  
                                                <tr *ngFor="let plotInfo of get_design.Blocking.value[i]['Plot design'].value">  
                                                    <ng-container *ngFor="let rowInfo of plotInfo['Row design'].value" >
                                                        <td>{{plotInfo['Plot number'].value}}</td>
                                                        <td>{{rowInfo['Row number'].value}}</td>  
                                                        <td>{{plotInfo['Column number'].value}}</td>
                                                        <td>{{'Not defined yet'}}</td> 
                                                        <td>{{'Not defined yet'}}</td> 
                                                        <td>{{'Not defined yet'}}</td> 
                                                        <td>{{'Not defined yet'}}</td> 
                                                    </ng-container>
                                                    
                                                </tr>  
                                                </tbody>  
                                            </table>  
                                            </td>  
                                        </tr>  
                        
                                    </tbody>  
                                </table>  
                            </mat-card>
                            <mat-card>
                                <h3>Associate material with plot</h3>
                                <button [disabled]="!blockDesignLoaded" class="btn btn-primary" mat-raised-button type="submit" (click)="addBiologicalMaterial()">
                                    Add Biological Material
                                  </button>
                            </mat-card>
                            
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

