<div id="expfactor-page">
    <button class="btn btn-danger" style="float: right;" type="submit" (click)="close();" [disabled]="">Close
     Factor</button>
    <div>
        <!-- Nav pills -->
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" [ngClass]="{ 'active':activeTab==='exp_factor_info'}" (click)="changeTab('exp_factor_info')"
            aria-controls="exp_factor_info" role="tab" data-toggle="tab" href="#exp_factor_info">1. Factor informations</a>
        </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div [ngClass]="{ 'active':activeTab==='exp_factor_info'}" role="tabpanel" class="tab-pane active" id="expfactorinfo">
            <h3>Describe your experimental factor</h3>
            <mat-card style="width: 98%;">
                <app-form *ngIf="activeTab==='exp_factor_info'" id="exp_factor_form" (notify)="get_output_from_child($event)"
                [model_type]="'experimental_factor'" [level]="1" [parent_id]="get_parent_id" [model_key]="get_model_key" [mode]="get_mode"
                inline="true" onlyTemplate="false" asTemplate="false" [role]="get_role"></app-form>    
            </mat-card>
            </div>
        </div>
    </div>
</div>