.chips{
    width: 24%;
    height: 200px;
    padding: 100px;
    justify-content: center;
    border: 1.0rem;
    border-color: black;
    border-width: 10px;
    
}

.mat-chip-list-wrapper {
    flex-direction: column;
    align-items: flex-start;
    height: 220px;
    min-width: 90%;
    margin: 4px;
}


