 <alert></alert>
 

<div *ngIf= "mode==='create'" >
  <h1>Upload your Data files!</h1>
  <div *ngIf="error">
    {{ error.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">
    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label class="btn btn-default btn-file">Browse <input type="file" style="display: none;"  accept=".xlsx,.csv"  (change)="onFileChange($event)"></label>
      <button class="btn btn-default btn-info" type="submit">Upload</button>

      <!--<label class="btn btn-default btn-file">Upload <button type="submit"></button></label>--> 

    <!--<input type="file" name="file" (change)="onFileChange($event)"/>-->
<!--    <div *ngIf="fileUploadProgress">
         Upload progress: {{ fileUploadProgress }}
    </div>-->
    <!--<button class="btn btn-outline-rounded btn-info" type="submit">Upload</button>-->
    <!--<button class="btn btn-outline-rounded btn-info" (click)="cancel(form)">Cancel</button>-->
    <!--<button class="btn btn-outline-rounded btn-info">Save</button>-->
  </form>
        

</div>
 <div *ngIf= "mode==='edit'" >
     <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <button class="btn btn-outline-rounded btn-info" type="submit">Save</button>
    
  </form>
     <br>
</div>     
 
<!-- <pre>
{{csv}}     

 </pre>
 -->
 
 

<!--<cdk-virtual-scroll-viewport itemSize="24"  style="height: 500px; min-width: 100%; " class="cdk-virtual-scroll-viewport cdk-virtual-scroll-orientation-vertical cdk-virtual-scroll-orientation-horizontal">-->
<table cdkDropList cdkDropListOrientation="horizontal" class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center" id="datatable" (cdkDropListDropped)="drop($event)">
    <thead>
<!--    <tr>-->
        <!--<th scope="col"  style="font-size:10px;text-align: center; "><i class="fas fa-cogs"></i></th>-->
    <!--</tr>-->   
        
    <tr>
        <th scope="col" *ngFor="let key of get_headers() ; index as i;" style="font-size:10px;text-align: center; cursor: move;">{{key}}</th>
    </tr>
    <tr>
        <th scope="col" *ngFor="let key of get_headers_select() ; index as i; "  style="font-size:10px;text-align: center;" cdkDrag>
            <span *ngIf="key==='others'" style="display:inline-block; margin-left: 10px;"> 
                <select [ngModel]="selectedOntology" name="select_ontology" size="1" (change)="onSelect($event.target.value,get_headers()[i])" >
                    <!--<option value="" disabled>Assign Ontology term</option>-->
                    <option [value]="undefined" selected>Assign Ontology term</option>
                    <option value='XEO' (change)="onSelect($event.target.value,key)">XEO</option>
                    <option value='EO'>EO</option>
                    <option value='EnvO'>EnvO</option>
                    <option value='PO_Structure'>PO Structure</option>
                    <option value='EFO'>EFO</option>
                    <option value='PO_Development'>PO Development</option>
                    <option value='CO_20'>Crop Ontology 20 </option>
                    <option value='CO_715'>Crop Ontology 715 </option>
                </select> 
            </span>
            
            <span *ngIf="key==='time'" style="display:inline-block; margin-left: 10px;"> 
                <select name="select_dateformat" size="1" (change)="onSelectTime($event.target.value,get_headers()[i])">
                    <option value="" disabled>Select time format</option>
                    <option value='dd/mm/yyyy'>dd/mm/yyyy</option>
                    <option value='yyyy-MM-DDThh:mm:ss.sTZD'>yyyy-MM-DDThh:mm:ss.sTZD</option>
                    <option value='yyyy/MM/ddThh:mm:ss'>yyyy/MM/ddThh:mm:ss</option>
                    <option value='custom_date_format'>build custom date format</option>
                </select> 
            </span>
            
        </th>
    </tr>
        <tr>
            <th scope="col" *ngFor="let key of get_headers() ; index as i;"  style="font-size:10px;text-align: center;">

                <span *ngIf="i>0 && associated_headers[key].selected" style="display:inline-block; margin-left: 10px;"> 
                    {{associated_headers[key].associated_term_id}} 
                </span>

                <span *ngIf="i==0 && associated_headers[key].selected" style="display:inline-block; margin-left: 10px;"> 
                    {{associated_headers[key].associated_term_id}}
                </span>
            </th>
        </tr>
        </thead>
    <tbody *ngIf="get_lines().length<100">
        <tr *ngFor="let l of get_lines() ; index as j;">
         <!--{{l}}-->
        <td  style="font-size:14px;" scope="row" *ngFor="let h_key of l ; index as k;" >{{h_key}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="get_lines().length>100">
        <tr *ngFor="let l of get_lines()| slice:0:100 ; index as j;">
         <!--{{l}}-->
        <td  style="font-size:14px;" scope="row" *ngFor="let h_key of l ; index as k;" >{{h_key}}</td>
    </tr>
    </tbody>
</table>
<!--<div>
   <p>Today is {{today | date}}</p>
   <p>Or if you prefer, {{today | date:'fullDate'}}</p>
    <p>Or if you prefer, {{today | date:'HH:mm:ss'}}</p>
     <p>Or if you prefer, {{today | date:'yyyy-MM-ddThh:mm:ss.sTZD'}}</p>
      <p>Or if you prefer, {{today | date:'yyyy/MM/ddThh:mm:ss'}}, semaine {{today | date:'w'}}</p>
       <p>Or if you prefer, {{today | date:'fullDate'}}</p>
        <p>Or if you prefer, {{today | date:'fullDate'}}</p>
   <p>The time is {{today | date:'h:mm a z'}}</p>
 </div>-->
<!--</cdk-virtual-scroll-viewport>-->
