<div class="border-head">
    <h3 mat-dialog-title>
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-title>
    <alert></alert>
    <h1 style="text-align: center;">Add a new column</h1>
</div>
<div mat-dialog-content>
    <h4>Primary keys for each MIAPPE component</h4>
    <ul>
        <li>
            Study : Study Name
        </li>
        <li>
            Event: Event accession number
        </li>
        <li>
            Observed variable : Variable accession number
        </li>
        <li>
            Experimental factor : Experimental Factor accession number
        </li>
        <li>
            Environment parameter : Environment parameter accession number
        </li>
    </ul>
    
    Variable accession number
    <!-- <form [formGroup]="get_generalForm" (ngSubmit)="onAdd()"> -->
    <form [formGroup]="get_generalForm">


    <!-- <button [disabled]="!get_generalForm.valid " class="btn btn-default btn-info" type="submit" style="float: right;">Create column</button> -->
        
        <div class="form-group">
            <label for="header">Header</label>
            <input type="text" id="header" placeholder="header*" formControlName="header" class="form-control" required>
            <div *ngIf="header.invalid && (header.dirty || header.touched)" class="alert alert-danger">
                <div *ngIf="header.errors?.required">
                    header is required.
                </div>
                <div *ngIf="header.errors?.forbiddenName">
                    header already exists in this file.
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="total">total</label>
            <input type="number" placeholder="total*" formControlName="total" class="form-control" />
            <div *ngIf="total.invalid && (total.dirty || total.touched)" class="alert alert-danger">
                <div *ngIf="total.errors?.required">
                    total lines is required.
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label for="useSameNumber">Use same number of rows</label>
        <mat-checkbox [checked]="get_useSameNumberCheck.isSelected('usesameline')" formControlName="useSameNumber"  (change)="itemSelectionToggle('usesameline')"></mat-checkbox>
        </div> -->
        
        <div class="form-group">
            <label for="linkTerm">Link with another column :  </label>
            <mat-form-field>
                <mat-select formControlName="linkTerm" 
                    (selectionChange)="onLink($event.value)">
                    <mat-option disabled>--</mat-option>
                    <mat-option *ngFor="let associated_header of filter_associated_headers" [value]="{component:associated_header.associated_component,field:associated_header.associated_component_field,header:associated_header.header,values:associated_header.associated_values,ids:associated_header.associated_linda_id}">
                        {{associated_header.header + " (" +associated_header.associated_component_field + ")"}}
                    </mat-option>
                   <!--  <mat-optgroup *ngFor="let associated_header of get_data_file.associated_headers"
                        [label]="associated_header.header">
                        <mat-option *ngFor="let associated_header of extract_option.fields" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-optgroup> -->
                </mat-select>
                <div *ngIf="linkTerm.invalid && (linkTerm.dirty || linkTerm.touched)" class="alert alert-danger">
                    <div *ngIf="linkTerm.errors?.emptyValues">
                        This column has no values assigned to any components.
                    </div>
                </div>
            </mat-form-field>
            <table class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
            id="datatable_component_id" *ngIf="get_linked">
                <thead>
                    <tr>
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">linkTerm. primary id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of linkTerm.value.values ; index as i;" style="font-size:10px;text-align: center; cursor: move;">
                        <th scope="col">
                            {{value}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="standardTerm">Select term and field :  </label>
            <mat-form-field class="full-width">
                <mat-select formControlName="standardTerm" placeholder="Select component and field"
                    (selectionChange)="onModify($event.value)">
                    <!-- <mat-option>--</mat-option> -->
                    <mat-optgroup *ngFor="let extract_option of get_extract_component_options.options"
                        [label]="extract_option.name" [disabled]="extract_option.disabled">
                        <mat-option *ngFor="let value of extract_option.fields" [value]="{field:value, model:extract_option.value}">
                            {{value}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
                <div *ngIf="standardTerm.invalid && (standardTerm.dirty || standardTerm.touched)" class="alert alert-danger">
                    <div *ngIf="standardTerm.errors?.required">
                        Field component is required.
                    </div>
                    <div *ngIf="standardTerm.errors?.forbiddenField">
                        This field component is already assigned to another column in this datafile !! 
                    </div>
                </div>
            </mat-form-field>
            
            
        </div>
        <div class="form-group" *ngIf="get_linked && standardTerm.value.model==='observation_unit'">
            <!-- select between autogenerate id and paste ids -->
            <section class="example-section">
                <label class="example-margin">Align:</label>
                <mat-radio-group [(ngModel)]="labelPosition" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-margin" value="autogenerate ids">Autogenerate ids</mat-radio-button>
                  <mat-radio-button class="example-margin" value="paste ids">Paste ids</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-card *ngIf="labelPosition==='autogenerate ids'">
             <label for="obsunit">Select total number of observation units:</label>
             <input id="obsunit" type="number">
             <label for="prefix">Select prefix for ids:</label>
             <input id="prefix" type="text">
            </mat-card>
            <mat-card *ngIf="labelPosition!=='autogenerate ids'">
                <!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox> -->
                <textarea #myText (paste)="onPaste($event)" (input)="onInput(myText.value)"></textarea>
            </mat-card>
        </div>         
        
        <!-- <div class="form-group">
            <div *ngIf="linkTerm.value['values'] && linkTerm.value['values'].length>1">
                <p>
                    You have to defined more than one value to link with this column (in fact : {{linkTerm.value['values'].length}}) and respect order below

                </p>
                <ul>
                    <li *ngFor="let item of linkTerm.value['values']; index as i"> 
                        Value {{i+1}} : {{item}}
                    </li>
                </ul>
            </div>
            <label for="column_value">Column value</label>
            <input type="text" placeholder="column value(s)*" formControlName="column_value" class="form-control" required>
        </div> -->
            <div *ngIf="this.field_submitted" formArrayName="aliases">
                <h2>Column value</h2>
               <!--  <button type="button" (click)="addAlias()">+ Add another alias</button> -->
                <div *ngFor="let alias of aliases.controls; let i=index">
                  <!-- The repeated alias template -->
                    <ng-container >
                    <div *ngFor="let ont of get_associated_ontologies() ; index as j;" class="btn-group">
                            <button class="btn btn-success btn-xs fa fa-plus"
                                (click)="onOntologyTermSelection(ont, standardTerm.value.field,false, i)">
                                {{ont}}
                            </button>
                    </div>
                    </ng-container>
                    
                    <label *ngIf="!get_linked" for="alias-{{ i }}">Value {{ i +1 }}:</label>
                    <label *ngIf="get_linked" for="alias-{{ i }}">{{linkTerm.value.values[i]}}:</label>
                    
                    <input *ngIf="isDate" id="date-{{ i }}" type="date" [formControlName]="i" class="form-control">

                    <input *ngIf="!isDate && !isOntology && get_term_ids[i]===''" id="alias-{{ i }}" type="text" [formControlName]="i" class="form-control">
                    <input *ngIf="!isDate && !isOntology && get_term_ids[i]!==''" id="alias-use-ont-{{ i }}" value="{{get_term_ids[i]}}" type="text" [formControlName]="i" class="form-control">
                    
                    <input *ngIf="isOntology" id="ontology-{{ i }}" type="text" [formControlName]="i" class="form-control">

                    <!-- <input *ngIf="isOntology && get_term_ids[i]===''" id="ontology-{{ i }}" type="text" [formControlName]="i" class="form-control">
                    <input *ngIf="isOntology && get_term_ids[i]!==''" style="color:black" mdbInput value="{{get_term_ids[i]}}" type="text" [formControlName]="i" class="form-control">
                     -->
                    <div *ngIf="alias.invalid && (alias.dirty || alias.touched)" class="alert alert-danger">
                        <div *ngIf="alias.errors?.required">
                            Values required.
                        </div>
                    </div>
                </div>
                
              </div>
              <!-- <button [disabled]="!get_generalForm.valid " class="btn btn-default btn-info" type="submit" style="float: right;">Create column</button> -->
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button [disabled]="!get_ready_to_add && !get_generalForm.valid " type="submit" (click)="onAdd()">Update data file</button>
  </div>
  
