<div class="border-head">
    <h3 mat-dialog-title >
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-content >
    <alert></alert>
    <section class="format-section">
        <button style="background-color: #4ECDC4" mat-button class="btn-info" (click)="add_column()">Add a new column</button>
        <button style="background-color: #4ECDC4" mat-button class="btn-info" (click)="add_composite()">Build composite column</button>
        <button style="background-color: #4ECDC4" mat-button class="btn-info" (click)="refresh()">Refresh file</button>

        <br>
        <mat-divider></mat-divider>
        <br>
        <table class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"  #dataTable >
            <thead>
                <tr>
                    <th *ngFor="let column of get_tableData_columns ; index as j;">
                        <button style="background-color: #4ECDC4" *ngIf="!get_data_file.associated_headers[j].selected" mat-button class="btn-primary" (click)="onDefine(column)">Define column</button>
                        <button style="background-color: #4ECDC4" *ngIf="get_data_file.associated_headers[j].selected && get_data_file.associated_headers[j].associated_linda_id.length==0" mat-button class="btn-primary" (click)="onDefine(column)">Define column again</button>
                        <button style="background-color: #25995f" *ngIf="get_data_file.associated_headers[j].selected && get_data_file.associated_headers[j].associated_linda_id.length>0" mat-button class="btn-success" (click)="onDefine(column)">Extract column again</button>

                        <br>
                        <mat-card style="background-color: #4ECDC4; min-height: 20 px;" class="chips"  *ngIf="get_data_file.associated_headers[j].selected">{{get_data_file.associated_headers[j].associated_component_field}}</mat-card>
                        <mat-card style="background-color: gray;" class="chips"  *ngIf="!get_data_file.associated_headers[j].selected">No term</mat-card>
                    </th>
                </tr>
 <!--                <tr>
                    <th *ngFor="let associated_header of get_data_file.associated_headers ; index as k;">
                        
                        <div *ngIf="associated_header.selected">{{associated_header.associated_component_field}}</div>
                        <div *ngIf="!associated_header.selected">No term</div>
                    </th>
                </tr> -->
            </thead>
            
        </table>
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>
