<h1 mat-dialog-title>Extract Observedd variable measurement from design</h1>
<!-- <div *ngIf="get_bm_data.length >0" >
  {{get_bm_data.length}
}
</div> -->

<mat-dialog-content class="mat-typography">
  <alert></alert>
  <h2>Define observation units</h2>
  <p>
    In this dialog, you can define observed variables measurement based on existing observations defined in your experimental design structure. 
    By defining level of observation in this specific design, you will create subsequents point of observation also known as observation unit
  </p>
  <!-- <div *ngIf="get_existing_observation_units.length>0">
    <div mat-dialog-content class="mat-typography">
      <p> Which {{model_type}}s do you plan to associate ? </p>
    </div>
    <select name="select_template" size="1" (change)="onSelectObservationUnit($event.target.value)">
    <option value="" disabled>Select {{model_type}}s</option>
    <option *ngFor="let t of get_existing_observation_units"
      value="{{t._id}}">
      {{t._id}}
    </option>
    </select>
  </div> -->
  <h3 >Observations selection table </h3>
    <table  style="width: 100%;" mat-table [dataSource]="get_observationDataSource">
      <ng-container *ngFor="let column of displayedObservationsColumns ; let i=index">
        <ng-container *ngIf="column!='select'" matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedObservationsColumns[i]}} </th>
          <td mat-cell class="flex-stretch" *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell class="flex-stretch" *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? rowToggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedObservationsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedObservationsColumns;"></tr>
    </table>
    <mat-paginator  #observationpaginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of samples"></mat-paginator>
    
  <h2>Associate experimental measurement with observed variables</h2>
  <p> Given the selectedobservations, you have to feed Linda with the correspondding values</p>
  <p> In your case, you have {{get_observationDataSource.data.length}} observations in your experimental design. </p>
  <p> Do you want to extract {{total_available_plots}} observation units (one per plot)?
    <br>To do so, please select plot level in list below <br>
  </p>
  <h2>Define Observation unit level</h2>
  <span class="span-project"></span>
  <mat-accordion>
    <mat-expansion-panel [disabled]="false" [expanded]="false"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Help
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="help_associate_obs_unit_buttons">
          <p>
            1. Define observed variable measurement (paste or load from tabular file)    <br>
            3. Click on <button>Add Observed variable measurement</button> to create corresponding measurements. <br>
            4. Click on <button>OK</button> button to link each measurement with the corresponding level in your experimental design<br>
          </p>
        </div>
    </mat-expansion-panel>
</mat-accordion>
  
    <alert></alert>
    <mat-accordion>
      <mat-expansion-panel [disabled]="false" [expanded]="false"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title>
              Global options
              </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>Observation unit ID</h4>
          <p>
            You can use your own observation unit ID by selecting <mat-radio-button class="example-margin" value="paste ids">Paste ids</mat-radio-button>. 
          </p>
          <div class="form-group">
            <section class="example-section">
                <mat-radio-group [(ngModel)]="labelPosition_obsID" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-margin" value="from files">Load from files</mat-radio-button>
                  <mat-radio-button class="example-margin" value="paste ids">Paste ids</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-card *ngIf="labelPosition_obsID==='from files'">
              <!-- <label for="obsunit">Select total number of observation units:</label><input id="obsunit" type="number">
              <label for="prefix">Select prefix for ids:</label><input id="prefix" type="text"> -->
              
            </mat-card>
            <mat-card *ngIf="labelPosition_obsID!=='from files'">
              <p>Paste your list of Ids here !! 
                Each Id has to be separated by a new line !! 
                Take care to have the same number of line than the total observation units</p>
                <!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox> -->
                <textarea #myText (paste)="onPaste($event, 'extid')" (input)="onInput(myText.value,'extid')"></textarea>
            </mat-card>
        </div>  
          

          <!-- <h4>Auto generate sample ID</h4>
            <mat-slide-toggle [(ngModel)]="autogenerateIsChecked" [disabled]="!selection.hasValue()" (change)="autoGenerateID()">
                ID autogenerate
            </mat-slide-toggle> 
            <mat-slide-toggle [(ngModel)]="autogenerateIsChecked">
              ID autogenerate
            </mat-slide-toggle>
            <p>
              generate incremental sample identifier using material source and biological material identifier.
            </p>
            <br/> -->
          <!-- <h4>Experimental factor</h4>
          <ng-container *ngIf="get_experimental_factor().length===0">
            <button class="btn btn-primary" mat-raised-button type="submit" (click)="addExperimentalFactor()">
              Add Experimental factor
            </button>
          </ng-container>
          <ng-container  *ngIf="get_experimental_factor().length>0">
            <button mat-button [matMenuTriggerFor]="menu">select factor value</button>
            <mat-menu  #menu="matMenu">
              <ng-container *ngFor="let ef of get_experimental_factor() ; let k=index">
              <button  mat-menu-item [matMenuTriggerFor]="efMenu">{{ef['experimentalFactorType']}}</button>
              <mat-menu #efMenu="matMenu">
                <button *ngFor="let value of ef['experimentalFactorValues'].split(';') ; let j=index" mat-menu-item (click)="addFactorValues(value)">{{value}}</button>
              </mat-menu>
              </ng-container>
            </mat-menu>
            <input [(ngModel)]="experimental_factor_value" mdbInput placeholder="Watered" type="text" class="form-control" (keypress)="onTaskAdd($event)" />
          </ng-container> -->
          
           
      </mat-expansion-panel>
      <div class="action-container">
        <button class="btn btn-primary" mat-raised-button type="submit" (click)="save()">Add Observation measurements</button>
      </div>
    </mat-accordion>
    <!-- <button [disabled]="!get_loaded" (click)="save()">Add Observation units</button> -->
  
  <!-- <div *ngIf="get_building===true">
    <ng-template #loading class="loaderHolder">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
      </div>
    </ng-template>
    <div *ngIf="!get_built; else loading">
      You have successfully extracted observation measurments
    </div>
  </div> -->
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onOkClick()">Ok</button>
  </div>
</mat-dialog-content>