<h1 mat-dialog-title>Select Biological materials</h1>

<!-- <div *ngIf="get_bm_data.length >0" >
  {{get_bm_data.length}}
</div> -->

<div *ngIf="loaded">
  <div mat-dialog-content class="mat-typography">

    <p> You have {{total_available_plots}} plots in your experimental design. 
        Take care to assign materials in respect of design capability !!<br>
        Which Biological materials do you plan to use ? </p>
    
    <span class="span-project"></span>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <!-- <div *ngIf="loaded===true">
        <app-biological-material-table [data]="get_dataSource"></app-biological-material-table>
        </div> -->
        <div *ngIf="loaded===true">
            <table  style="width: 100%;" mat-table [dataSource]="get_dataSource" matSort cdkDropList>
            
            <ng-container matColumnDef="{{column}}" *ngFor="let column of get_displayedColumns">
                <ng-container *ngIf="column==='Infraspecific name'">
                <th mat-header-cell cdkDrag *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> <a (click)="onSelect(element)">{{element[column]}}</a></td>
                
                </ng-container>
                <ng-container *ngIf="column!=='Infraspecific name'">
                    <th mat-header-cell cdkDrag *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> <a (click)="onSelect(element)">{{element[column]}}</a> </td>
                    </ng-container>
            </ng-container>
            <!-- Disclaimer column -->
            <!-- <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="2">
                Please note that the cost of items displayed are completely and totally made up.
                </td>
            </ng-container> -->
                        
            <tr mat-header-row *matHeaderRowDef="get_displayedColumns"></tr>
            <tr class="nga-card-step"  mat-row *matRowDef="let row; columns: get_displayedColumns;"></tr>
        <!-- <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr> -->
            </table>
            <mat-paginator #paginator (page)="handlePageBottom($event)" [length]="get_dataSource?.data ? get_dataSource?.data.length : 0" [pageSize]="5" [pageIndex]="paginator.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of projects"></mat-paginator>
            <!-- <mat-paginator (page)="handlePageBottom($event)" [pageSize]="paginator.pageSize" [pageIndex]="paginator.pageIndex" [length]="paginator.length" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
        </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onOkClick()">Ok</button>
  </div>
</div>
