<div class="border-head">
    <h3 mat-dialog-title >
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-content >
   
    <section class="format-section">
        <table #dataTable ></table>
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>