<div class="border-head">
    <h3 mat-dialog-title >
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-content >
   
    <section class="format-section">
        <table #dataTable ></table>
        <!-- <table #dataTable class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center">
            <thead>
                <tr>
                    <th *ngFor="let key of current_data_file_keys ; index as j;" style="font-size:9px;text-align: center; ">
                        {{key}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of current_data_file_array ; index as k;">
                    <th *ngFor="let row_key of current_data_file_keys ; index as l;" style="font-size:9px;text-align: center; ">
                        {{obj[row_key]}}
                    </th>
                </tr>
            </tbody>
        </table> -->
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>