<div class="border-head">
    <h3 mat-dialog-title >
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-content >
   
    <section *ngIf="!loaded" class="format-section">
        <div id="loader">
            <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="loading"></div>
        </div>
    </section>
    <section class="format-section">
        <table class="table table-hover table-bordered table-responsive-md table-striped text-center" #dataTable ></table>
    </section>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onOkClick()">Ok</button>
</div>