<div class="border-head">
    <h3 mat-dialog-title>
        <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                meta<span>D</span>at<span>A</span></b></a>
    </h3>
</div>
<div mat-dialog-title>
    <alert></alert>
    <h1 style="text-align: center;">Define a column</h1>
</div>
<div mat-dialog-content>
    <form [formGroup]="get_generalForm">
        <div class="form-group">
            <label for="lastName">Header</label>
            <input type="text" placeholder="Header*" formControlName="Header" class="form-control" />
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-select formControlName="Standard term" placeholder="Select component field"
                    (selectionChange)="onModify($event.value)">
                    <mat-option>--</mat-option>
                    <mat-optgroup *ngFor="let extract_option of get_extract_component_options.options"
                        [label]="extract_option.name" [disabled]="extract_option.disabled">
                        <mat-option *ngFor="let value of extract_option.fields" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <mat-divider></mat-divider>
    <div *ngIf="get_extraction_component==='study'">
        <h4>Project informations</h4>
        <label for="lastName">People involved in this project</label>
        <table datatable [dtOptions]="dtOptions"
            class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
            id="persontable" [ngClass]="{'table-dark': false}">
            <thead class="text-nowrap">
                <tr>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Person Name</td>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Project group</td>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Person Role</td>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:10px;text-align: center; cursor: move;"
                    *ngFor="let person of get_projectPersons.persons ; index as i;">
                    <td>{{person['Person name']}}</td>
                    <td>{{get_projectPersons.groups[i]}}</td>
                    <td>{{get_projectPersons.roles[i]}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <mat-divider></mat-divider>
        <h4>Studies informations</h4>
        <label for="lastName">Persons and studies in your project</label>
        <table datatable [dtOptions]="dtOptions"
            class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
            id="studytable" [ngClass]="{'table-dark': false}">
            <thead class="text-nowrap">
                <tr>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Study ID</td>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Person name</td>
                    <td scope="col" style="font-size:10px;text-align: center; cursor: move;">Person Role</td>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:10px;text-align: center; cursor: move;"
                    *ngFor="let person of get_studyPersons.persons ; index as i;">
                    <td>{{get_studyPersons.studies[i]['Study unique ID']}}</td>
                    <td>{{person['Person name']}}</td>
                    <td>{{get_studyPersons.roles[i]}}</td>
                </tr>
            </tbody>
        </table>
        <mat-divider></mat-divider>


        <section *ngIf="get_extraction_component_field==='Study unique ID'">
            <h4>Column informations</h4>
            <label for="lastName">Detected study unique ID(s) in this column</label>
            <table datatable [dtOptions]="dtOptions"
                class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
                id="datatable_study_id">
                <thead title="">
                    <tr>
                        <!--                <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Assign</th> -->
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Detected value(s)</th>
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extract</th>
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of detected_values ; index as i;"
                        style="font-size:10px;text-align: center; cursor: move;">

                        <!-- select check box for select component to create-->
                        <!-- <th scope="col">
                            <mat-checkbox [disabled]="get_associated_header.associated_values[i]" [checked]="get_checklistSelection.isSelected(key)"
                                (change)="itemSelectionToggle(key)"></mat-checkbox>
                        </th> -->
                        <!-- Original headers column-->
                        <th scope="col">
                            {{key}}
                        </th>
                        <th scope="col">
                            <ng-container>
                                <button [disabled]="has_associated_header_linda_id_by_value(key, i)"
                                    (click)="onExtract(key,i)">Create</button>
                            </ng-container>
                        </th>
                        <th scope="col">
                            <button [disabled]="!has_associated_header_linda_id_by_value(key, i)"
                                (click)="onRemove(key,i)">Remove</button>
                            <!-- <mat-checkbox [disabled]="!get_associated_header.associated_values[i]" 
                                [checked]="get_removeListSelection.isSelected(key)"
                                (change)="itemRemoveToggle(key)"></mat-checkbox> -->
                        </th>
                    </tr>
                </tbody>
            </table>
            <h4>Extraction informations</h4>
            <label for="lastName">Extracted component from values in column</label>
            <table datatable [dtOptions]="dtOptions"
                class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
                id="datatable_component_id">
                <thead title="">

                    <tr>

                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Study Unique ID</th>
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">From values</th>
                        <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extracted as</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of detected_ids ; index as i;"
                        style="font-size:10px;text-align: center; cursor: move;">


                        <th scope="col">
                            {{detected_studies[i]}}
                        </th>
                        <th scope="col">
                            {{get_associated_header_value_by_linda_id(key, i)}}
                        </th>
                        <th scope="col">
                            {{get_associated_header_linda_id(key, i)}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </section>


        <section *ngIf="get_extraction_component_field!=='Study unique ID'">
            <div *ngIf="has_study_associated_header()">
                <h4>Study informations</h4>
                <label for="lastName">Detected study unique ID(s) in this data file</label>
                <table datatable [dtOptions]="dtOptions"
                    class="dataTable table table-hover table-bordered  table-responsive-md table-striped text-center"
                    id="datatable_study_detected_id">
                    <thead title="table">
                        <tr>
                            <!--                <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Assign</th> -->
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Detected studie(s)
                                in this file
                            </th>
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extracted as</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let key of detected_studies ; index as i;"
                            style="font-size:10px;text-align: center; cursor: move;">
                            <th scope="col">
                                {{key}}
                            </th>
                            <th scope="col">
                                {{get_study_associated_header_values(key)}}
                            </th>
                        </tr>
                    </tbody>
                </table>
                <h4>Extraction informations</h4>
                <label>Extracted component from values in column</label>
                <table datatable [dtOptions]="dtOptions"
                    class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center"
                    id="datatable_values_detected">
                    <thead title="">
                        <tr>
                            <!--                <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Assign</th> -->
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Detected value(s)
                            </th>
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extract</th>
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Remove</th>
                            <ng-container *ngIf="get_extraction_component==='study'">
                                <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extracted in
                                </th>
                            </ng-container>
                            <ng-container *ngIf="get_extraction_component!=='study'">
                                <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Extracted as
                                </th>
                            </ng-container>
                            <th scope="col" style="font-size:10px;text-align: center; cursor: move;">Linked to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let key of detected_values ; index as i;"
                            style="font-size:10px;text-align: center; cursor: move;">
                            <th scope="col">
                                {{key}}
                            </th>
                            <th scope="col">
                                {{detected_studies[i]}}
                            </th>
                        
                            <th scope="col">
                                <ng-container>
                                    <button [disabled]="has_associated_header_linda_id_by_study_id(detected_studies[i], i)"
                                        (click)="onLink(key,detected_studies[i],i)">Link</button>
                                </ng-container>
                            </th>
                            <th scope="col">
                                <button [disabled]="!has_associated_header_linda_id_by_study_id(detected_studies[i], i)"
                                    (click)="onRemove(key,i)">Unlink</button>
                            </th>
                            <th scope="col">
                                {{get_associated_header_linda_id_by_study_id(detected_studies[i], i)}}
                            </th>
                        
                        </tr>
                    </tbody>
                </table>

            </div>
            <div *ngIf="!has_study_associated_header()">
                <p>You have to define a column for study id first</p>
            </div>
        </section>
        <!-- <button *ngIf="get_associated_header.associated_values.length===0" (click)="onExtract()" [disabled]="get_studies_to_create.length===0" class="btn btn-primary">Extract</button> -->
        <!--  <button *ngIf="get_associated_header.associated_values.length!==0" (click)="onRemove()" [disabled]="get_studies_to_remove.length===0" class="btn btn-primary">Remove</button> -->

        <!--  <form [formGroup]="get_definecolumnForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="lastName">Detected study unique ID in this column</label>
                <input type="text" placeholder="Study IDs*" formControlName="Study IDs" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && define_f['Study IDs'].errors }" />
                <div *ngIf="submitted && define_f['Study IDs'].errors" class="invalid-feedback">
                    <div *ngIf="define_f['Study IDs'].errors.required">Study IDs has to be unique - A study as already
                        the same ID</div>
                </div> 
            </div>
            <div class="form-group">
                <button [disabled]="get_studies_to_create.length===0 || get_component_extracted===false" class="btn btn-primary">Extract</button>
                
                <a class="btn btn-link">Cancel</a>
            </div>
        </form>-->
    </div>
    <div *ngIf="get_extraction_component==='observed_variable'">
        <h4>Observed variable</h4>
        <app-form id="observed_variable_form" (notify)="get_output_from_child($event)"
            [model_type]="'observed_variable'" [level]="1" [parent_id]="get_parent_id" [model_key]="" [mode]="'create'"
            inline="true" onlyTemplate="false" asTemplate="false" [role]="">
        </app-form>
    </div>
    <div *ngIf="get_extraction_component==='experimental_factor'">
    </div>
    <div *ngIf="get_extraction_component==='observation_unit'">
    </div>
    <div *ngIf="get_extraction_component==='event'">
    </div>
    <div *ngIf="get_extraction_component==='biological_material'">
    </div>
</div>

<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->
    <button mat-button (click)="onOkClick()">Close</button>
</div>