<h1 mat-dialog-title>
    <div class="border-head">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <h3>
                <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b></a>
            </h3>
        </nav>
    </div>
</h1>
<div mat-dialog-content >
    <alert></alert>
    <div>
        <!--<app-upload-file ></app-upload-file>-->
        <div *ngIf="error">
            {{ error.message }}
        </div>
        <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
        </div>
        <div *ngIf="uploadResponse.status === 'progress'">
            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
                {{uploadResponse.message}}%
            </div>
        </div>
        <div>
            <form [formGroup]="form" (ngSubmit)="Upload()">
                <label style="float: right;" class="btn btn-default btn-file">Browse <input type="file"
                        style="display: none;" accept=".xlsx,.csv" (change)="onFileChange($event)"></label>
                <button [disabled]="!get_loaded" class="btn btn-default btn-info" type="submit"
                    style="float: right;">
                    Upload
                </button>

                <button [disabled]="!get_loaded" (click)="onGiveUp()" style="float: right;" class="btn btn-danger">Cancel</button>
            </form>
        </div>
        <h2>Download data files</h2>
        <p>Here you can integrate experimental data and metadata to enrich your projects or your studies using later these 
            datafiles to create or describe your experimental design, tyour observations units, and many more.  </p>
        <button [disabled]="!get_added" (click)="Preview()" style="float: right;" class="btn btn-info">Preview</button>
        <div *ngIf="get_preview_request">
            <h2>Data preview</h2>
            <app-table [data]="get_data_model" [data_columns]="get_columns"></app-table>
        </div>
        

    </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-default btn-danger" (click)="onNoClick()">Cancel</button>
    <button mat-button class="btn btn-default btn-success" (click)="onSubmit()">Import Data</button>
</div>