<div class="border-head">
        <h3>
            <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b></a>
        </h3>
    </div>
<h1 mat-dialog-title>Please select a term in {{data['ontology_type']}} Ontology</h1>

    <input type="text"  name="search" placeholder="Search" aria-label="Search" (keyup)="searchStart($event)" [(ngModel)]="search_string" list="dynamicNodes">
    <datalist id="dynamicNodes">
        <option *ngFor="let node of get_selected_nodes" [value]="node.name" [ngValue]="node.name">{{node.name}}</option>
     </datalist>
    <button type="submit" [disabled]="search_string===''" (click)="onSearch()">Search</button>


<!-- <mat-spinner mode="determinate" value="{{ontologytree.fill_percentage}}"></mat-spinner> -->
<!-- <mat-progress-spinner *ngIf='show_spinner' mode="indeterminate"></mat-progress-spinner> -->
<!-- <mat-progress-spinner class="progressSpinner" *ngIf='show_spinner' [value]="ontology_tree_loading_progress_value"></mat-progress-spinner> -->
<!-- <mat-progress-bar mode="buffer" [value]="ontology_tree_loading_progress_value">{{ontology_tree_loading_progress_value}}</mat-progress-bar> -->
<app-progress-bar [progress]="progress" [total]="100"></app-progress-bar>
<div mat-dialog-content >
<!--<input type="text" matInput placeholder="search" #filter (keyup)="keyEvent.next($event)" [(ngModel)]="keyword">-->
<!--<input matInput placeholder="Search" (input)="filterChanged($event.target.value)">-->

    <!-- if search mode is active -->
    <ul *ngIf="active_list">
        <li *ngFor="let node of get_selected_nodes">
            <!-- <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding title="{{node.def}}"> -->
                <div [ngStyle]="getStyle()">
                <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled>
                        <span style="display:inline-block; margin-left: 10px;"> 
                            <i style="color :lightblue" class="fa fa-info-circle" title="{{node.def}}"></i>
                        </span> 
                    </button>
                    <ng-container *ngIf="get_uncheckable">
                        {{node.name}}
                        <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">TRAIT</p>
                        <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Variable')">VARIABLE</p>
                        <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Method')">METHOD</p>
                        <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Scale')">SCALE</p>
                    </ng-container>
                    <!-- {{node.name}} -->
                    <mat-checkbox *ngIf="!get_uncheckable && node.namespace!='' && node.namespace.includes('Trait')" class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} TRAIT
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!get_uncheckable && node.namespace!='' && node.namespace.includes('Variable')" class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} VARIABLE
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!get_uncheckable && node.namespace!='' && node.namespace.includes('Method')" class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} METHOD
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!get_uncheckable && node.namespace!='' && node.namespace.includes('Scale')" class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} SCALE
                    </mat-checkbox>
                    <mat-checkbox *ngIf="get_uncheckable && node.namespace===''" class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} 
                    </mat-checkbox>
                    <mat-accordion>
                        <mat-expansion-panel [disabled]="panel_disabled" [expanded]="panel_expanded"  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{'Ontology term description'}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div id="ontology_description">
                                <p>Pick information you need by clicking checkbox (only one choice is allowed)</p>
                                <div *ngFor="let item of [node.id,node.name,node.def];  let i = index;">
                                    <mat-checkbox [checked]="selected === i" (change)="selected = i;select(node, item)">
                                        {{labels[i] + " " + item}} 
                                    </mat-checkbox>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            <!-- </mat-tree-node> -->
        </li>
    </ul>
    <mat-tree *ngIf="!active_list && !get_mode_simplified" #tree [dataSource]="get_dataSource" [treeControl]="get_treeControl">
        
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding title="{{node.def}}">
            <div [ngStyle]="getStyle()">
            <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled>
                    <span style="display:inline-block; margin-left: 10px;"> 
                        <i style="color :lightblue" class="fa fa-info-circle" title="{{node.def}}"></i>
                    </span> 
                </button>
                <!-- {{node.name}} -->
                <ng-container *ngIf="get_uncheckable">
                    {{node.name}}
                </ng-container>
                <ng-container *ngIf="!get_uncheckable">
                    <!-- [checked]="selected === i" (change)="selected = i" -->
                <!-- <mat-checkbox class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)"> -->
                <mat-checkbox class="checklist-leaf-node" [checked]="get_selected_term && get_selected_term.id===node.id" (change)="todoLeafItemSelectionToggle(node)">
                    {{node.name}}
                </mat-checkbox>
                </ng-container>
                
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">TRAIT</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Variable')">VARIABLE</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Method')">METHOD</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Scale')">SCALE</p>
                <mat-accordion>
                    <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            <pre>Id: {{ node.id}}</pre>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div *ngIf="!get_observed">
                            <pre>Definition: {{ node.def }}</pre> 
                            <div *ngIf="get_displayed(node)">
                                <ul *ngFor="let term of get_context_term ; index as j; trackBy: trackContextTerm ">
                                    <li *ngIf="term.instances.length > 0">
                                        <!-- Name: {{term.name}}
                                        Id: {{term.id}}
                                        datatype: {{get_term(term.datatype).name}} -->
                                        <a>
                                            Value: <input (keyup)="onValueAdd($event, node)">
                                            Units:
                                            <select (change)="onUnitSelect($event.target.value, node)">
                                                <!--enum: {{searchTerm(get_ontologyEnum,term.enumeration).instances[l].name}}-->
                                                <option *ngFor="let instance of term.instances ; index as inst; trackBy: trackInstances ">
                                                    {{term.instances[inst]._symbol}}
                                                </option>
                                            </select>
                                        </a>
                                    </li>
                                    <li *ngIf="term.enumeration!=='' && searchTerm(get_ontologyEnum,term.enumeration).instances.length > 0  ">
                                        <a> 
                                            Response Range
                                            <select (change)="onResponseRangeSelect($event.target.value, node)">
                                                <!--enum: {{searchTerm(get_ontologyEnum,term.enumeration).instances[l].name}}-->
                                                <option *ngFor="let instance of searchTerm(get_ontologyEnum,term.enumeration).instances ; index as trackInst; trackBy: trackInstances ">
                                                    {{searchTerm(get_ontologyEnum,term.enumeration).instances[trackInst].name}}
                                                </option>
                                            </select>

                                        <!--{{ term.enumeration}}-->
                                            <!--enum: {{searchTerm(get_ontologyEnum,term.enumeration).name}}-->
                                            <!--{{searchTerm(get_ontologyEnum,term.enumeration)}}-->
                                            <!--<p *ngFor="let instance of get_term(term.enumeration).instances ; index as l; trackBy: trackInstances ">-->
                                        <!--<p> enum: {{get_term(termterm.enumeration).instances[0]}}</p>-->
                                        </a>
                                    </li>
                                    <li *ngIf="term.name==='FreeText'">
                                        <a>
                                            Text:
                                            
                                                <mat-label>FreeText</mat-label>
                                                
                                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" (keypress)="onFreeTextAdd($event, node)" (paste)="onFreeTextPaste($event, node)">

                                                </textarea>
                                            
                                <!--            <p *ngFor="let instance of get_context_term[j].instances ; index as l; trackBy: trackInstances ">
                                                symbol: {{get_context_term[j].instances[l]._symbol}}
                                            </p>-->
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                           
                        </div>
                        <div *ngIf="get_observed">
                            <pre>Definition: {{ node.def || node.name}}</pre> 
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <div [ngStyle]="getStyle(node)">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">{{get_treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                    
                </button>
                <span style="display:inline-block; margin-left: 10px;"> 
                    <i style="color :lightblue" class="fa fa-info-circle" title="{{node.def}}"></i>
                </span> 
                <!-- {{node.name}} -->
                <!-- <mat-checkbox *ngIf="!get_uncheckable"  class="checklist-leaf-node" [checked]="get_checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                    {{node.name}}
                </mat-checkbox> -->
                <ng-container *ngIf="get_uncheckable">
                    <!-- {{node.name}} -->
                </ng-container>
                <ng-container *ngIf="!get_uncheckable">
                    <mat-checkbox *ngIf="get_model_type==='observed_variable'" class="checklist-leaf-node" [checked]="get_selected_term && get_selected_term.id===node.id" (change)="todoLeafItemSelectionToggle(node)">
                        
                    </mat-checkbox>
                </ng-container>
                {{node.name}}
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">TRAIT</p><button (click)="onExtractWholeObservedVariable(node)" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">Add Trait as Observed variable</button>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Variable')">VARIABLE</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Method')">METHOD</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Scale')">SCALE</p>
                

                <mat-accordion>
                    <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <pre>Identifier: {{ node.id}}</pre>
                             </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div *ngIf="!get_observed">
                           <!--  <ul *ngFor="let term of get_context_term ; index as j; trackBy: trackContextTerm ">
                                <li>
                                    <a *ngIf="get_context_term[j].instances.length > 0">
                                        Value: <input (keyup)="onValueAdd($event, node)">
                                        Units:
                                        <select (change)="onUnitSelect($event.target.value, node)">
                                            <option *ngFor="let instance of get_context_term[j].instances ; index as l; trackBy: trackInstances " value="{{get_context_term[j].instances[l]._symbol}}">{{get_context_term[j].instances[l]._symbol}}</option>
                                        </select>
                                    </a>
                                </li>
                            </ul> -->
                            <pre>Definition: {{ node.def || node.name}}</pre>
                        </div>
                        <div *ngIf="get_observed ">
                            <pre>Definition: {{ node.def }}</pre> 
                        </div>
                     </mat-expansion-panel>

                </mat-accordion>
            </div>
        </mat-tree-node>
    </mat-tree>   
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
