<h1 mat-dialog-title>Plot detailss</h1>

<!-- <div *ngIf="get_bm_data.length >0" >
  {{get_bm_data.length}}
</div> -->

<div *ngIf="loaded">
    <div mat-dialog-content class="mat-typography">
        <h2>Plot inforrmations</h2>
        <mat-card-content>
            <p>This module is still in developmment (coming soon)</p>
        </mat-card-content>

        <h2>Associated biological materials</h2>
        
            <!-- biological material table -->
            <mat-card-content>
                <p>This module is still in developmment (coming soon)</p>
            </mat-card-content>
        
        <h2>Associated experimental factors</h2>
         <!-- experimental factors table -->
         <mat-card-content>
            <p>This module is still in developmment (coming soon)</p>
        </mat-card-content>
        <br>
        <h2>Associated samples</h2>
         <!-- samples table -->
         <mat-card-content>
            <p>This module is still in developmment (coming soon)</p>
        </mat-card-content>
        <br>
        <h2>Associated observations</h2>
         <!-- observations table -->
         <mat-card-content>
            <p>This module is still in developmment (coming soon)</p>
        </mat-card-content>
        <br>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClose()">Close</button>
    </div>
</div>