<h1 mat-dialog-title>Associate Sample(s) to Biological(s) Material(s)</h1>
<hr>
<div>
  <mat-dialog-content>
    <h3>Biological(s) Material(s)</h3>
    <hr>
    <p> Select biological materials to sample </p>
  <!-- </div> -->
  <!-- <select name="select_template" size="1" (change)="onSelect($event.target.value)">
    <option value="" disabled>Select {{model_type}}s</option>
    <option *ngFor="let t of get_result()" value={{t._id}}>{{t._id}}</option>
  </select> -->
  <table style="width: 100%;" mat-table matSort [dataSource]="materialdataSource">
    <ng-container *ngFor="let column of displayedMaterialColumns ; let i=index">
      <ng-container *ngIf="column!='select'" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedMaterialColumns[i]}} </th>
        <td mat-cell class="flex-stretch" *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell class="flex-stretch" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMaterialColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMaterialColumns;"></tr>
  </table>
  <hr>

  <!-- <div mat-dialog-content> -->
    <h3>Sample(s)</h3>
    <hr>
    <p> Describe biological sample(s)</p>
  <!-- </div> -->
  <div class="action-container">
    <button [disabled]="!selection.hasValue()" class="btn btn-primary" mat-raised-button type="submit"
      (click)="addSampleRow()">Generate sample for each selected material</button>
  </div>
  <span style="display:inline-block; margin-left: 10px;"></span>
  <span style="display:inline-block; margin-left: 10px;"></span>
  <div>
    <mat-slide-toggle *ngIf="getSampleFormControls.controls.length>0" [(ngModel)]="autogenerateIsChecked"
      [disabled]="!selection.hasValue()" (change)="autoGenerateID()">ID autogenerate</mat-slide-toggle>
    <p *ngIf="autogenerateIsChecked && getSampleFormControls.controls.length>0">
      generate sample identifier using material source and biological material identifier.
    </p>
    <br />
    <mat-slide-toggle *ngIf="getSampleFormControls.controls.length>0" [(ngModel)]="technicalReplicateIsChecked"
      [disabled]="!selection.hasValue()">Technical replicate</mat-slide-toggle>
    <p *ngIf="technicalReplicateIsChecked && getSampleFormControls.controls.length>0">
      Paste a list of sample Identifiers on each row in the Sample ID and in External ID text-boxes below.
    </p>
    <mat-slider #technicalReplicateSlider *ngIf="technicalReplicateIsChecked && getSampleFormControls.controls.length>0"
      step="1" thumbLabel min="1" max="1000" tickInterval="1"
      [disabled]="!selection.hasValue() || !autogenerateIsChecked"
      (slideend)="onSampleNumberChange(technicalReplicateSlider.value)">technical replicate number</mat-slider>
    <br />
    <form [formGroup]="sampleTable">
      <table *ngIf="ready_to_show" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
        class="display table table-bordered table-hover" [ngClass]="{'table-dark': false}">
        <!-- <thead class="text-nowrap">   -->
        <thead>

          <ng-container *ngFor="let field of cleaned_model ; let k=index">
            <th class="text-center align-middle">
              <div>
                <label for="{{field['key']}}">{{field['key']}}</label>
                <span style="display:inline-block; margin-left: 10px;">
                  <i style="color :lightblue" class="fa fa-info-circle" title="{{model[field['key']].Definition}}"></i>
                </span>
              </div>
            </th>
          </ng-container>
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="sampleRows" *ngFor="let group of getSampleFormControls.controls ; let l=index">
            <tr [formGroupName]="l">
              <ng-container *ngFor="let field of cleaned_model ; let f=index">
                <td class="text-center align-middle">
                  <div *ngIf="model[field['key']].Format.includes('Ontology')">
                    <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as o;"
                      class="btn-group">
                      <button class="btn btn-success btn-xs fa fa-plus"
                        (click)="onOntologyTermSelection(ont, field['key'], l, model[field['key']].Multiple)">
                        {{ont}}
                      </button>

                    </div>
                    <span *ngIf="validated_term[field['key']].selected!==true"
                      style="display:inline-block; margin-left: 10px;">
                      <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                        formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                    </span>
                    <span *ngIf="validated_term[field['key']].selected===true"
                      style="display:inline-block; margin-left: 10px;">
                      <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}" type="text"
                        formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                    </span>
                  </div>
                  <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                    <div *ngIf="!field['key'].includes('date')">
                      <!-- 
                      <input *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('ID')"
                        mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                        formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.controls[field['key']].errors }" />-->


                      <textarea *ngIf="!model[field['key']].Format.includes('Free text')" mdbInput
                        placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                        (keyup)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.errors}"></textarea>
                      <!-- <mat-slider formControlName="{{field['key']}}"
                        *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('coordinates')"
                        [displayWith]="formatLabel" step="0.01" thumbLabel min="0" max="1000" tickInterval="0.01">
                      </mat-slider>
                      <mat-slider #myLongitudeSlider formControlName="{{field['key']}}"
                        *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('longitude')"
                        [displayWith]="formatLongitudeLabel" step="0.01" thumbLabel min="-180" max="+180"
                        tickInterval="0.01" (slideend)="onLongitudeChange(myLongitudeSlider.value)">
                      </mat-slider>
                      <mat-slider vertical #myLatitudeSlider formControlName="{{field['key']}}"
                        *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('latitude')"
                        [displayWith]="formatLatitudeLabel" step="0.01" thumbLabel min="-90" max="+90"
                        tickInterval="0.01" (slideend)="onLatitudeChange(myLatitudeSlider.value)">
                      </mat-slider>
                      <mat-slider vertical formControlName="{{field['key']}}"
                        *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('altitude')"
                        [displayWith]="formatLabel" step="0.1" thumbLabel min="-11000" max="+11000" tickInterval="0.1">
                      </mat-slider> -->

                      <textarea *ngIf="model[field['key']].Format.includes('Free text')" mdbInput
                        placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                        (keyup)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.errors}"></textarea>
                      <div *ngIf="group.errors" class="invalid-feedback">
                        <div style="color :red" *ngIf="group.errors.required">
                          {{field['key']}} is required</div>
                        <div style="color :red" *ngIf="group.errors.minlength">minimum
                          length is required</div>
                        <div style="color :red" *ngIf="group.errors.create">Unique ID is
                          required - already used !! </div>
                      </div>
                    </div>

                    <div *ngIf="field['key'].includes('date')">
                      <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                        formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                    </div>
                  </div>
                </td>
              </ng-container>
              <td class="text-center align-middle">
                <mat-icon class="delete" (click)="deleteSampleRow(l)">delete_forever</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </form>
  </div>
</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onOkClick()">Ok</button>
  </mat-dialog-actions>
</div>