<div>
  <div class="border-head">
    <nav class="navbar navbar-expand-sm navbar-dark">
    <h3>
      <a href="index.html" class="logo">
        <b>
          P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
        </b>
      </a>
      <div class="form-group text-center" style="float: right;">
        <button (click)="onClickTour(true)" class="btn btn-xs btn-light">Help</button>
        <span style="margin-right:10px;"></span>
        <button (click)="cancel(materialTable)" class="btn btn-xs btn-danger">
          Cancel
        </button>
        <span style="margin-right:10px;"></span>        
        <button 
        joyrideStep="StepSubmit"
        title=""
        [stepContent]="submitcontent"
        [stepPosition]="bottom"
        [stepContentParams]="{'model_n':model_type}"
        class="btn btn-xs btn-info" type="submit" (click)="submitForm();"
          [disabled]="materialTable.invalid || (get_startfilling()===false && mode==='create')">
          Submit
          <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
        <ng-template #submitcontent let-nod="model_n">
          <div>
            <nav class="navbar navbar-expand-sm navbar-dark">
                <h3>
                   <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
              </h3>
            </nav>
          </div>
          <h5>Data submission</h5>
            <p>As you can see, your form has been filled with the corresponding values ! 1O plants (INRA:B73_1 to INRA:B73_10) from the same material source (INRA:B73) have been integrated in the Study. <br> Feel free to complete the form !  <br>
            When it's done, click on <button class="btn btn-success">Submit</button> to submit your form !! </p>
        </ng-template>
        <!-- Save as template
        <label class="switch ">
          <input type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" class="default">
          <span class="slider round"></span>
        </label> -->

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Save as template</label>
      </div>

      </div>
    </h3>
    </nav>
  </div>

  <h1 style="text-align: center">{{ model_type[0].toUpperCase() +  model_type.slice(1).replace("_"," ")}} </h1>
  <p>{{model.Definition}}</p>
  <div
  joyrideStep="StepDemoForm"
  title=""
  [stepContent]="democontent"
  [stepContentParams]="{'model_n':model_type}"
  (next)= "onDone()">
    
    <form [formGroup]="materialTable">
      <div 
      joyrideStep="Step1_1"
      title=""
      [stepContent]="biologicalMaterialGeneralContent"
      [stepPosition]="'center'"
      [stepContentParams]="{'model_n':model_type}">
      <!-- <h3>General Material information</h3> -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>General Material information</mat-card-title>

          <!-- <mat-card-title><a href="#" class="logo">General Material information</a></mat-card-title> -->
        </mat-card-header>    
          <mat-card-content>
            <ng-container formArrayName="generalRows" *ngFor="let group of getGeneralFormControls.controls ; let l=index">
              <div [formGroupName]="l" class="form-group">
                <ng-container *ngFor="let field of cleaned_model ; let j=index">
                  <div *ngIf="model[field['key']].Level==1">
                    <label for="{{field['key']}}">{{field['key']}}</label>
                    <span style="display:inline-block; margin-left: 10px;">
                      <i style="color :lightblue" class="fa fa-info-circle" title="{{model[field['key']].Definition}}"></i>
                    </span>
                    <div *ngIf="model[field['key']].Format.includes('Ontology')">
                      <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as k;" class="btn-group">
                        <button class="btn btn-success btn-xs fa fa-plus"
                          (click)="onOntologyTermSelection(ont, field['key'],model[field['key']].Multiple)">
                          {{ont}}
                        </button>
      
                      </div>
                      <span *ngIf="validated_term[field['key']].selected!==true"
                        style="display:inline-block; margin-left: 10px;">
                        <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                          formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                      </span>
                      <span *ngIf="validated_term[field['key']].selected===true"
                        style="display:inline-block; margin-left: 10px;">
                        <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}" type="text"
                          formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)"
                          [ngClass]="{ 'is-invalid': group[field['key']].errors }" />
                      </span>
                    </div>
                    <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                      <div *ngIf="!field['key'].includes('date')">
                        <input *ngIf="!model[field['key']].Format.includes('Free text')" mdbInput
                          placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                          class="form-control" (keypress)="onTaskAdd($event)"
                          [ngClass]="{ 'is-invalid': group[field['key']].errors }" />
                        <textarea *ngIf="model[field['key']].Format.includes('Free text')" mdbInput
                          placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                          class="form-control" (keypress)="onTaskAdd($event)"
                          [ngClass]="{ 'is-invalid': group[field['key']].errors}"></textarea>
                        <div *ngIf="group[field['key']].errors" class="invalid-feedback">
                          <div style="color :red" *ngIf="group[field['key']].errors.required">{{field['key']}} is
                            required</div>
                          <div style="color :red" *ngIf="group[field['key']].errors.minlength">minimum length is
                            required</div>
                          <div style="color :red" *ngIf="group[field['key']].errors.create">Unique ID is required -
                            already used !! </div>

                        </div>
                      </div>
                      <div *ngIf="field['key'].includes('date')">
                        <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                          formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </mat-card-content> 
      </mat-card>
      </div >
      <ng-template #biologicalMaterialGeneralContent let-nod="model_n">
        <div>
          <nav class="navbar navbar-expand-sm navbar-dark">
              <h3>
                   <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
              </h3>
          </nav>
        </div>
        <h4>Biological material</h4>
        <mat-card>
        <h5>Biological materials details</h5>
        <p><b>Biological material</b> – identifies and describes the plant materials used in the studies. </p>
        <p>They must be identified through the organism field, which indicates the unique taxonomic identifier of the biological material 
        in a standard such as the NCBI taxonomy. Optionally, they may be identified through the fields genus, species and infraspecific name, 
        where textual names are expected (but should follow accepted standards).</p>
        </mat-card>
        <mat-card>
        <h5>General Material information</h5>
        <p>Here you can described general informations about your Organism, Species, Genus... </p><br> 
        <!-- For example, add the following
        <ul>
          <li> Genus : Zea</li>
          <li> Species : mays</li>
          <li> Organism : NCBI:4577 </li>
          <li> Infraspecific name : B73</li>
        </ul> -->
        
      </mat-card>
      </ng-template>
      <br>
      <div 
      *ngIf="mode!=='preprocess'"
      joyrideStep="Step1_2"
      title=""
      [stepContent]="biologicalMaterialSourceContent"
      [stepPosition]="center"
      [stepContentParams]="{'model_n':model_type}">
      <!-- <h3>Material information</h3> -->
      <mat-card>
        <mat-card-header>
            <mat-card-title>Material Source description</mat-card-title>
        </mat-card-header>    
        <mat-card-content>
          <div class="action-container">

            <button class="btn btn-defaut btn-file" mat-raised-button type="submit" (click)="addMaterialRow()">Add material</button>
            <!-- <button class="btn btn-primary" mat-raised-button (click)="addMaterialRowFromFile()">Add material from files</button> -->
            <label class="btn btn-primary btn-file">Add material from files<input type="file" style="display: none;"  accept=".xlsx,.csv"  (change)="onFileChange($event)"></label>


          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>
          <table cellpadding="0" cellspacing="0" cellwidth="2" border="0" class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of cleaned_model ; let i=index">
                <th class="text-center align-middle" *ngIf="model[field['key']].Level==2">
                  <div>
                    <label for="{{field['key']}}">{{field['key']}}</label>
                    <span style="display:inline-block; margin-left: 10px;">
                      <i style="color :lightblue" class="fa fa-info-circle" title="{{model[field['key']].Definition}}"></i>
                    </span>
                  </div>
                </th>
              </ng-container>
              <th></th>
            </thead>
            <tbody>
              <ng-container formArrayName="materialRows" *ngFor="let group of getMaterialFormControls.controls ; let i=index"> 
                <tr (click)="RowSelected(i)" [formGroupName]="i" [ngClass]="{'highlight': selectedRowIndex == i}">
                  <ng-container *ngFor="let field of cleaned_model ; let j=index">
                    <td class="text-center align-middle" *ngIf="model[field['key']].Level==2">
                      <div *ngIf="model[field['key']].Format.includes('Ontology')">
                        <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as o;"
                          class="btn-group">
                          <button class="btn btn-success btn-xs fa fa-plus"
                            (click)="onOntologyTermSelection(ont, field['key'],model[field['key']].Multiple)">
                            {{ont}}
                          </button>

                        </div>
                        <span *ngIf="validated_term[field['key']].selected!==true"
                          style="display:inline-block; margin-left: 10px;">
                          <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                        </span>
                        <span *ngIf="validated_term[field['key']].selected===true"
                          style="display:inline-block; margin-left: 10px;">
                          <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}" type="text"
                            formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                        </span>
                      </div>
                      <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                        <div *ngIf="!field['key'].includes('date')">
                          <input *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('ID')"
                            mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)"
                            [ngClass]="{ 'is-invalid': group[field['key']].errors }" />

                          <!-- <mat-slider formControlName="{{field['key']}}"
                            *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('coordinates')"
                            [displayWith]="formatLabel" step="0.01" thumbLabel min="0" max="1000" tickInterval="0.01">
                          </mat-slider>
                          <mat-slider formControlName="{{field['key']}}"
                            *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('longitude')"
                            [displayWith]="formatLongitudeLabel" step="0.01" thumbLabel min="-180" max="+180"
                            tickInterval="0.01">
                          </mat-slider>
                          <mat-slider vertical #myMaterialLatitudeSlider formControlName="{{field['key']}}"
                            *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('latitude')"
                            [displayWith]="formatLatitudeLabel" step="0.01" thumbLabel min="-90" max="+90"
                            tickInterval="0.01" (slideend)="onLatitudeChange(myMaterialLatitudeSlider.value)">
                          </mat-slider>
                          <mat-slider vertical formControlName="{{field['key']}}"
                            *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('altitude')"
                            [displayWith]="formatLabel" step="0.1" thumbLabel min="-11000" max="+11000" tickInterval="0.1">
                          </mat-slider> -->

                          <textarea
                            *ngIf="model[field['key']].Format.includes('Free text') || model[field['key']].Format.includes('DOI')"
                            mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keyup)="onTaskAdd($event)"
                            [ngClass]="{ 'is-invalid': group[field['key']].errors}"></textarea>
                          <div *ngIf="group[field['key']].errors" class="invalid-feedback">
                            <div style="color :red" *ngIf="group[field['key']].errors.required">
                              {{field['key']}} is required</div>
                            <div style="color :red" *ngIf="group[field['key']].errors.minlength">Minimum
                              length is required</div>
                            <div style="color :red" *ngIf="group[field['key']].errors.create">Unique ID is
                              required - already used !! </div>
                            <div style="color :red" *ngIf="group[field['key']].errors.duplicate">duplicate ID in table unique ID is required -
                                already used !! </div>
                          </div>
                        </div>

                        <div *ngIf="field['key'].includes('date')">
                          <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                            formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <td class="text-center align-middle">
                    <mat-icon class="delete" (click)="deleteMaterialRow(i)">delete_forever</mat-icon>
                  </td>
                  <td class="text-center align-middle">
                    <mat-icon class="edit" (click)="editBiologicalMaterial(i)">edit_bm</mat-icon>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      </div >
      <ng-template #biologicalMaterialSourceContent let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <h3>
                 <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
            </h3>
        </nav>
      </div>
      <h4>Material source</h4>
      <p>
          <b>Material source</b> - fields identify the origin or provenance of the biological material (e.g. gene bank accession, 
          in situ material like an orchard, tree material provenance including forest wild site, laboratory-specific populations). 
          These fields include the material source ID (which follows the same recommendations as the biological material ID), 
          the material source DOI (for referencing material sources listed in repositories), four geographical coordinates fields 
          (same as for biological material), and finally a textual description.
       </p>
       <h5>Material source description</h5>
      <p> Here you can described material sources important details about your material like unique identifier in some repository.
         Click on "Add material button" to create a new entry in the Material source table</p>
      <!-- <ul>
        <li> Click on "Add material button" to create a new entry in the Material source table</li>
        <li> then, fill in the following fields : </li>
        <ul>
        <li> Material source ID : INRA:B73</li>
      </ul>
      </ul> -->
      </ng-template>
      <br>
      <div 
      *ngIf="mode!=='preprocess'"
      joyrideStep="Step1_3"
      title=""
      [stepContent]="biologicalMaterialContent"
      [stepPosition]="center"
      [stepContentParams]="{'model_n':model_type}">
        <mat-card>
          <mat-card-header>
              <mat-card-title>Biological material description</mat-card-title>
          </mat-card-header>    
          <mat-card-content>
            <div class="action-container">
              <button class="btn btn-primary" mat-raised-button type="submit" (click)="addBiologicalMaterialRow()">Add
                biological material</button>
            </div>
            <span style="display:inline-block; margin-left: 10px;"></span>
            <table cellpadding="0" cellspacing="0" cellwidth="2" border="0" class="display table table-bordered table-hover"
              [ngClass]="{'table-dark': mode_table}">
              <!-- <thead class="text-nowrap">   -->
              <thead>

                <ng-container *ngFor="let field of cleaned_model ; let k=index">
                  <th class="text-center align-middle"
                    *ngIf="model[field['key']].Level==3 && field['key']!=='Biological material preprocessing'">
                    <div>
                      <label for="{{field['key']}}">{{field['key']}}</label>
                      <span style="display:inline-block; margin-left: 10px;">
                        <i style="color :lightblue" class="fa fa-info-circle" title="{{model[field['key']].Definition}}"></i>
                      </span>
                    </div>
                  </th>
                  <th class="text-center" style="width: 400px;"
                    *ngIf="model[field['key']].Level==3 && field['key']==='Biological material preprocessing'">
                    <div>
                      <label for="{{field['key']}}">{{field['key']}}</label>
                      <span style="display:inline-block; margin-left: 10px;">
                        <i style="color :lightblue" class="fa fa-info-circle" title="{{model[field['key']].Definition}}"></i>
                      </span>
                    </div>
                  </th>
                </ng-container>
                <th></th>
              </thead>
              <tbody>
                <ng-container formArrayName="biologicalMaterialRows"
                  *ngFor="let group of getBiologicalMaterialFormControls.controls ; let l=index">
                  <tr *ngIf="group.value['mat-id']===material_id" [formGroupName]="l">
                    <ng-container *ngFor="let field of cleaned_model ; let f=index">
                      <td class="text-center align-middle" *ngIf="model[field['key']].Level==3">
                        <div *ngIf="model[field['key']].Format.includes('Ontology')">
                          <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as o;"
                            class="btn-group">
                            <button class="btn btn-success btn-xs fa fa-plus"
                              (click)="onOntologyTermSelection(ont, field['key'],l,model[field['key']].Multiple)">
                              {{ont}}
                            </button>

                          </div>
                          <span *ngIf="validated_term[field['key']].selected!==true"
                            style="display:inline-block; margin-left: 10px;">
                            <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                              formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                          </span>
                          <span *ngIf="validated_term[field['key']].selected===true"
                            style="display:inline-block; margin-left: 10px;">
                            <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}" type="text"
                              formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                          </span>
                        </div>
                        <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                          <div *ngIf="!field['key'].includes('date')">
                            <input *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('ID')"
                              mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                              formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)"
                              [ngClass]="{ 'is-invalid': group[field['key']].errors }" />
                            <!-- <mat-slider formControlName="{{field['key']}}"
                              *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('coordinates')"
                              [displayWith]="formatLabel" step="0.01" thumbLabel min="0" max="1000" tickInterval="0.01">
                            </mat-slider>
                            <mat-slider #myLongitudeSlider formControlName="{{field['key']}}"
                              *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('longitude')"
                              [displayWith]="formatLongitudeLabel" step="0.01" thumbLabel min="-180" max="+180"
                              tickInterval="0.01" (slideend)="onLongitudeChange(myLongitudeSlider.value)">
                            </mat-slider>
                            <mat-slider vertical #myLatitudeSlider formControlName="{{field['key']}}"
                              *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('latitude')"
                              [displayWith]="formatLatitudeLabel" step="0.01" thumbLabel min="-90" max="+90"
                              tickInterval="0.01" (slideend)="onLatitudeChange(myLatitudeSlider.value)">
                            </mat-slider>
                            <mat-slider vertical formControlName="{{field['key']}}"
                              *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('altitude')"
                              [displayWith]="formatLabel" step="0.1" thumbLabel min="-11000" max="+11000" tickInterval="0.1">
                            </mat-slider> -->

                            <textarea *ngIf="model[field['key']].Format.includes('Free text')" mdbInput
                              placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                              (keyup)="onTaskAdd($event)"
                              [ngClass]="{ 'is-invalid': group[field['key']].errors}"></textarea>
                            <div *ngIf="group[field['key']].errors" class="invalid-feedback">
                              <div style="color :red" *ngIf="group[field['key']].errors.required">
                                {{field['key']}} is required</div>
                              <div style="color :red" *ngIf="group[field['key']].errors.minlength">minimum
                                length is required</div>
                              <div style="color :red" *ngIf="group[field['key']].errors.create">Unique ID is
                                required - already used !! </div>
                            </div>
                          </div>

                          <div *ngIf="field['key'].includes('date')">
                            <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                              formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <td class="text-center align-middle">
                      <mat-icon class="delete" (click)="deleteBiologicalMaterialRow(l)">delete_forever</mat-icon>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div >
      <ng-template #biologicalMaterialContent let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <h3>
                 <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
            </h3>
        </nav>
      </div>
      <h4>Biological Material</h4>
      <h5>Biological Material description</h5>
      <p>
        Plant materials must be identified through a biological material ID field, which can be institution-specific 
        or platform-specific (e.g. seed lot number for annual plants, clone number for perennials or an experimental plant ID), 
        and is recommended to follow the MCPD convention of holding institute identifier (FAO WIEWS code) plus a unique identifier 
        of the individual plant material provided by that institute.
      </p>
      <p>
        They may also be identified through geographical coordinates (i.e. latitude, longitude, altitude, and coordinates uncertainty), 
        as is common for forest trees. The biological material preprocessing describes the biological material pretreatments, 
        applied (e.g. to the seeds, or the tree cuttings) before the beginning of the experiment.
      </p>
      <h5>Biological Material description</h5>
      <p>  Here you can described biological material  important details about your material like unique identifier in some repository.
          !! Each biological material is linked to a material in the material source table !! <br>
       Click on "Add biological material" button to create a new entry in the biological Material table</p>
      <!-- <ul>
        <li> First click on "Add biological material" button to create a new entry in the biological Material table
          
        </li>
        <li> Then, fill in the following fields : </li>
        <ul>
        <li> Biological Material source ID : INRA:B73_inra_1</li>
        <li> Biological Material preprocessing (with PECO ontology): INRA:B73_inra_1</li>
      </ul>
      </ul> -->
    </ng-template>
    </form>
  </div>
  <ng-template #democontent let-nod="model_n" let-modellen="model_len" let-modell="model_level" let-modelmessage="message">
    <div>
      <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
               <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
      </nav>
    </div>
    <div *ngIf="nod === 'biological_material'">
      <h4>Biological materials</h4>
      <p> Click on <b>NEXT</b> to add a 10 biological materials (10 plants) for five differents material accessions(<b>B73</b>,<b>PH207</b>,<b>Oh43</b>,<b>W64A</b>,<b>EZ47</b>) short-called : "INRA:B73_1 to INRA:B73_10, INRA:PH207_1 to INRA:PH207_10, etc." with the following values:</p>
          <ul>
          <li> <p> <b>Genus</b> : Zea</p></li>
          <li> <p> <b>Species </b> : mays </p></li>
          <li> <p> <b>Organism </b> : NCBI:4577 </p></li>
          <li> <p> <b>Infraspecific name </b> : B73,PH207,Oh43,W64A,EZ47 </p></li>
          <li> <p> <b> 5 Material source IDs </b> : INRA:B73, INRA:PH207, INRA:Oh43,INRA:W64A, INRA:EZ47</p>
          <ul>
            <li><p> <b> 10 Biological material IDs </b> : from INRA:B73_1 to INRA:B73_10 </p></li>
            <li> <p> <b> 10 Biological material IDs </b> : from INRA:PH207_1 to INRA:PH207_10 </p></li>
            <li> <p> <b> 10 Biological material IDs </b> : from INRA:Oh43_1 to INRA:Oh43_10 </p></li>
            <li> <p> <b> 10 Biological material IDs </b> : from INRA:W64A_1 to INRA:W64A_10 </p></li>
            <li> <p> <b> 10 Biological material IDs </b> : from INRA:EZ47_1 to INRA:EZ47_10 </p></li>
          </ul>
          </li>
          </ul>
       <p> The other fields can be fullfilled later<br></p>
    </div>
</ng-template>
  <!-- <div class="output">
    <p>Form Data: {{materialTable.value | json}}</p>
    <p>Is Valid: {{materialTable.valid}}</p>
  </div> -->
</div>