<div>
  <div class="border-head">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <h3>
        <a href="index.html" class="logo">
          <b>
            P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
          </b>
        </a>
        <div class="form-group text-center" style="float: right;">
          <button (click)="onClickTour(true)" class="btn btn-xs btn-light">Help</button>
          <span style="margin-right:10px;"></span>
          <button *ngIf="get_mode!=='edit'" (click)="cancel(materialTable)" class="btn btn-xs btn-danger">
            Cancel
          </button>
          <button *ngIf="get_mode==='edit'" (click)="cancel(materialTable)" class="btn btn-xs btn-danger">
            Close
          </button>
          <span style="margin-right:10px;"></span>
          <button *ngIf="get_mode!=='edit'" joyrideStep="StepSubmit" title="" [stepContent]="submitcontent" [stepPosition]="bottom"
            [stepContentParams]="{'model_n':model_type}" class="btn btn-xs btn-info" type="submit"
            (click)="submitForm();"
            [disabled]="RowData.length===0">
            Submit
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
          <button *ngIf="get_mode==='edit'" joyrideStep="StepSubmit" title="" [stepContent]="submitcontent" [stepPosition]="bottom"
            [stepContentParams]="{'model_n':model_type}" class="btn btn-xs btn-info" type="submit"
            (click)="submitForm();"
            [disabled]="RowData.length===0">
            Save changes
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
          <ng-template #submitcontent let-nod="model_n">
            <div>
              <nav class="navbar navbar-expand-sm navbar-dark">
                <h3>
                  <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                      meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
                </h3>
              </nav>
            </div>
            <h5>Data submission</h5>
            <p>As you can see, your form has been filled with the corresponding values ! 1O plants (INRA:B73_1 to
              INRA:B73_10) from the same material source (INRA:B73) have been integrated in the Study. <br> Feel free to
              complete the form ! <br>
              When it's done, click on <button class="btn btn-success">Submit</button> to submit your form !! </p>
          </ng-template>
          <!-- Save as template
        <label class="switch ">
          <input type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" class="default">
          <span class="slider round"></span>
        </label> -->

          <!-- <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)"
              id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Save as template</label>
          </div> -->

        </div>
      </h3>
    </nav>
  </div>

  <h1 style="text-align: center">{{ model_type[0].toUpperCase() +  model_type.slice(1).replace("_"," ")}} </h1>
  <p>{{model.Definition}}</p>
  <div>
    <mat-card>
      <h2>Material Lot Name grouped by taxon group and Material accession name</h2>
      <p>Pick and choose germplasm(s) from multiple holding institution material sources</p>
      <!-- <select [ngModel]="get_selected_taxon" [ngModelOptions]="{standalone: true}" name="select_model" size="1"
        (change)="onTaxonChange($event.target.value)">
        <option *ngFor="let md of get_unique_taxon_groups" [value]="md">{{md}}</option>
      </select> -->
      
    <button [disabled]="no_row_selected" (click)="getSelectedRows()">Add Selected Rows</button>
    <button *ngIf="!all_selected" (click)="select_all_filtered()">Select filtered rows</button>
    <button *ngIf="all_selected" (click)="deselect_all_filtered()">Deselect filtered rows</button>
    <button (click)="add_custom_material()">Add custom accession</button>
    <div class="example-header">
      Page Size:
      <select (change)="onSelectPageSizeChanged()" id="select-page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <ag-grid-angular 
    style="width: 95%; height: 500px;" 
    class="ag-theme-alpine" 
    [columnDefs]="selectColumnDefs" 
    [defaultColDef]="selectDefaultColDef"
    [autoGroupColumnDef]="selectAutoGroupColumnDef"
    rowSelection="multiple"
    [groupSelectsChildren]="true"
    [groupSelectsFiltered]="true"
    [pagination]="true"
    [paginationPageSize]="selectPaginationPageSize"
    [paginationNumberFormatter]="selectPaginationNumberFormatter"
    [suppressRowClickSelection]="true"
    [sideBar]="selectSideBar"
    [rowData]="selectRowData"
    (gridReady)="onSelectGridReady($event)"
    >
    </ag-grid-angular>
    <h2>Biological Material grouped by Material source ID</h2>
    <p>Pick and choose material from INRAE Collection mmaterial sources</p>
    <button (click)="CleanTable()">Clear</button>
    <button [disabled]="selected_bms.length===0" (click)="removeSelectedBmRows()">Remove Selected Rows</button>
    <div class="example-header">
      Page Size:
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <ag-grid-angular id="bm-table"
    style="width: 95%; height: 500px;" 
    class="ag-theme-alpine" 
    [columnDefs]="ColumnDefs" 
    [defaultColDef]="DefaultColDef"
    [autoGroupColumnDef]="AutoGroupColumnDef"
    rowSelection="multiple"
    rowMultiSelectWithClick="true"
    [groupSelectsChildren]="true"
    [groupSelectsFiltered]="true"
    [tooltipShowDelay]="tooltipShowDelay"
    [tooltipHideDelay]="tooltipHideDelay"
    [pagination]="true"
    [paginationPageSize]="PaginationPageSize"
    [paginationNumberFormatter]="PaginationNumberFormatter"
    [suppressRowClickSelection]="true"
    [enableCellChangeFlash]="true"
    [animateRows]="true"
    [sideBar]="SideBar"
    [rowData]="RowData"
    (rowSelected)="onRowSelected($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
     <!-- [rowData]="rowData | async" -->
  </mat-card>
  <mat-card>
    <h2>Link to experimental design</h2>
    <p>
      In order to make furthers observations, you can link and assign your biological materials to study experimental design 
      First, you have to select how many replicates will you use
      Second, Given number of blocks in your experimental design some block design will be proposed to user

      Then each plot wil be filled by corresponding material accession number
    </p>

  </mat-card>
 
  </div>
</div>