<div>
  <div class="border-head">
    <h3>
      <a href="index.html" class="logo">
        <b>
          P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
        </b>
      </a>
      <div class="form-group text-center" style="float: right;">
        <button (click)="cancel(materialTable)" class="btn btn-xs btn-danger">
          <span style="margin-right:10px;"></span>
          Cancel
        </button>
        <span style="margin-right:10px;"></span>
        <button class="btn btn-xs btn-info" type="submit" (click)="submitForm();"
          [disabled]="materialTable2.invalid || (get_startfilling()===false && mode==='create')">
          Submit
          <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
        Save as template
        <label class="switch ">
          <input type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" class="default">
          <span class="slider round"></span>
        </label>
      </div>
    </h3>
  </div>

  <h1 style="text-align: center">{{ model_type[0].toUpperCase() +  model_type.slice(1).replace("_"," ")}} </h1>
  <p>{{model.Definition}}</p>
  <div>
    <form [formGroup]="materialTable2">

      <!-- <h3>General Material information</h3> -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>General Material information</mat-card-title>
          <!-- <mat-card-title><a href="#" class="logo">General Material information</a></mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
          <ng-container formArrayName="generalRows" *ngFor="let group of getGeneralFormControls.controls ; let l=index">
            <div [formGroupName]="l" class="form-group">
              <ng-container *ngFor="let field of cleaned_model ; let j=index">
                <div *ngIf="model[field['key']].Level==1">
                  <label for="{{field['key']}}">{{field['key']}}</label>
                  <span style="display:inline-block; margin-left: 10px;">
                    <i style="color :lightblue" class="fa fa-info-circle"
                      title="{{model[field['key']].Definition}}"></i>
                  </span>
                  <div *ngIf="model[field['key']].Format.includes('Ontology')">
                    <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as j;"
                      class="btn-group">
                      <button class="btn btn-success btn-xs fa fa-plus"
                        (click)="onOntologyTermSelection(ont, field['key'],model[field['key']].Multiple)">
                        {{ont}}
                      </button>

                    </div>
                    <span *ngIf="validated_term[field['key']].selected!==true"
                      style="display:inline-block; margin-left: 10px;">
                      <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                        formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                    </span>
                    <span *ngIf="validated_term[field['key']].selected===true"
                      style="display:inline-block; margin-left: 10px;">
                      <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}" type="text"
                        formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.controls[field['key']].errors }" />
                    </span>
                  </div>
                  <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                    <div *ngIf="!field['key'].includes('date')">
                      <input *ngIf="!model[field['key']].Format.includes('Free text')" mdbInput
                        placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                        class="form-control" (keypress)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.controls[field['key']].errors }" />
                      <textarea *ngIf="model[field['key']].Format.includes('Free text')" mdbInput
                        placeholder="{{model[field['key']].Example}}" type="text" formControlName="{{field['key']}}"
                        class="form-control" (keypress)="onTaskAdd($event)"
                        [ngClass]="{ 'is-invalid': group.controls[field['key']].errors}"></textarea>
                      <div *ngIf="group.controls[field['key']].errors" class="invalid-feedback">
                        <div style="color :red" *ngIf="group.controls[field['key']].errors.required">{{field['key']}} is
                          required</div>
                        <div style="color :red" *ngIf="group.controls[field['key']].errors.minlength">minimum length is
                          required</div>
                        <div style="color :red" *ngIf="group.controls[field['key']].errors.create">Unique ID is required
                          -
                          already used !! </div>

                      </div>
                    </div>
                    <div *ngIf="field['key'].includes('date')">
                      <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                        formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <ng-container>
          <table #materialInnerTables formArrayName="materialRows" mat-table #outerSort="matSort" [dataSource]="MaterialSourceDataSource"
            multiTemplateDataRows class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="{{column}}"
              *ngFor="let column of prettyfirstinnerDisplayedColumns; let i=index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
              <td mat-cell *matCellDef="let element" [formGroup]="element">
                <!-- {{element[column]}}  -->
                <div *ngIf="model[column].Format.includes('Ontology')">
                  <div *ngFor="let ont of model[column]['Associated ontologies'] ; index as o;" class="btn-group">
                    <button class="btn btn-success btn-xs fa fa-plus"
                      (click)="onOntologyTermSelection(ont, column,model[column].Multiple)">
                      {{ont}}
                    </button>
                  </div>
                  <span *ngIf="validated_term[column].selected!==true" style="display:inline-block; margin-left: 10px;">
                    <input style="color:black" mdbInput placeholder="{{model[column].Example}}" type="text"
                      formControlName="{{column}}" (keypress)="onTaskAdd($event)" />
                  </span>
                  <span *ngIf="validated_term[column].selected===true" style="display:inline-block; margin-left: 10px;">
                    <input style="color:black" mdbInput value="{{validated_term[column].values}}" type="text"
                      formControlName="{{column}}" (keypress)="onTaskAdd($event)" />
                  </span>
                </div>

                <div *ngIf="!model[column].Format.includes('Ontology')">
                  <div *ngIf="!column.includes('date')">

                    <input *ngIf="!model[column].Format.includes('Free text') && column.includes('ID')" mdbInput
                      placeholder="{{model[column].Example}}" type="text" formControlName="{{column}}"
                      (keypress)="onTaskAdd($event)"
                      [ngClass]="{ 'is-invalid': getMaterialFormGroupControls(index).controls[column].errors }" />
                    <input
                      *ngIf="!model[column].Format.includes('Free text') && !column.includes('ID') && !model[column].Format.includes('DOI')"
                      mdbInput placeholder="{{model[column].Example}}" type="text" formControlName="{{column}}"
                      (keypress)="onTaskAdd($event)"
                      [ngClass]="{ 'is-invalid': getMaterialFormGroupControls(index).controls[column].errors }" />

                    <!-- <mat-slider formControlName="{{column}}"
                                *ngIf="!model[column].Format.includes('Free text') && column.includes('coordinates')"
                                [displayWith]="formatLabel" step="0.01" thumbLabel min="0" max="1000" tickInterval="0.01">
                              </mat-slider>
                              <mat-slider formControlName="{{column}}"
                                *ngIf="!model[column].Format.includes('Free text') && column.includes('longitude')"
                                [displayWith]="formatLongitudeLabel" step="0.01" thumbLabel min="-180" max="+180"
                                tickInterval="0.01">
                              </mat-slider>
                              <mat-slider vertical #myMaterialLatitudeSlider formControlName="{{column}}"
                                *ngIf="!model[column].Format.includes('Free text') && column.includes('latitude')"
                                [displayWith]="formatLatitudeLabel" step="0.01" thumbLabel min="-90" max="+90"
                                tickInterval="0.01" (slideend)="onLatitudeChange(myMaterialLatitudeSlider.value)">
                              </mat-slider>
                              <mat-slider vertical formControlName="{{column}}"
                                *ngIf="!model[column].Format.includes('Free text') && column.includes('altitude')"
                                [displayWith]="formatLabel" step="0.1" thumbLabel min="-11000" max="+11000" tickInterval="0.1">
                              </mat-slider> -->

                    <textarea *ngIf="model[column].Format.includes('Free text') || model[column].Format.includes('DOI')"
                      mdbInput placeholder="{{model[column].Example}}" type="text" formControlName="{{column}}"
                      (keyup)="onTaskAdd($event)"
                      [ngClass]="{ 'is-invalid': getMaterialFormGroupControls(index).controls[column].errors}"></textarea>
                    <div *ngIf="getMaterialFormGroupControls(index).controls[column].errors" class="invalid-feedback">
                      <div style="color :red"
                        *ngIf="getMaterialFormGroupControls(index).controls[column].errors.required">
                        {{column}} is required</div>
                      <div style="color :red"
                        *ngIf="getMaterialFormGroupControls(index).controls[column].errors.minlength">minimum
                        length is required</div>
                      <div style="color :red"
                        *ngIf="getMaterialFormGroupControls(index).controls[column].errors.create">Unique ID is
                        required - already used !! </div>
                      <div style="color :red"
                        *ngIf="getMaterialFormGroupControls(index).controls[column].errors.duplicate">duplicate ID in
                        table unique ID is required -
                        already used !! </div>
                    </div>
                  </div>

                  <div *ngIf="column.includes('date')">
                    <input mdbInput placeholder="{{model[column].Example}}" type="date" formControlName="{{column}}"
                      class="form-control" (keypress)="onTaskAdd($event)" />
                  </div>
                </div>


              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td style="padding-right: 0px;padding-left: 0px;" mat-cell *matCellDef="let element" [attr.colspan]="prettyfirstinnerDisplayedColumns.length">
                 
                <!-- <div class="example-element-detail" *ngIf="element.biologicalMaterials?.data.length"
                      [@detailExpand2]="element == materialSource2ExpandedElement ? 'expanded' : 'collapsed'">
                      <div class="inner-table mat-elevation-z8" *ngIf="materialSource2ExpandedElement">
                          <table #materialSourceInnerTables mat-table #innerSort2="matSort"
                              [dataSource]="element.biologicalMaterials" matSort>
                              <ng-container matColumnDef="{{secondInnerColumn}}"
                                  *ngFor="let secondInnerColumn of prettysecondinnerDisplayedColumns">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                      {{secondInnerColumn}} </th>
                                  <td style="padding-right: 0px;padding-left: 0px;" mat-cell *matCellDef="let element" [formGroup]="element"> {{element[secondInnerColumn]}}
                                  </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="prettysecondinnerDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: prettysecondinnerDisplayedColumns;"></tr> 
                          </table>
                      </div>
                  </div> -->
              </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="prettyfirstinnerDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let element; let index=index; columns: prettyfirstinnerDisplayedColumns;"
                  [class.example-element-row]="element.biologicalMaterials?.data.length"
                  [class.example-expanded-row]="materialSource2ExpandedElement === element" (click)="biologicalMaterialToggleRow2(element)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          </table>
        </ng-container>
      </mat-card>

      <!-- <ng-container formArrayName="materialRows" *ngFor="let group of getMaterialFormControls.controls ; let j=index">
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container> -->
      <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field> -->

      <!-- <table mat-table #outerSort="matSort" [dataSource]="MaterialDataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of MaterialColumnsToDisplay; let i=index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td> 
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="MaterialColumnsToDisplay.length">
                    <div class="example-element-detail" *ngIf="element.materials?.data.length"
                        [@detailExpand]="element == materialExpandedElement ? 'expanded' : 'collapsed'">
                        <div class="inner-table mat-elevation-z8" *ngIf="materialExpandedElement">
                            <table #materialInnerTables multiTemplateDataRows mat-table #innerSort="matSort" [dataSource]="element.materials" matSort>
                                <ng-container matColumnDef="{{firstInnerColumn}}"
                                    *ngFor="let firstInnerColumn of firstinnerDisplayedColumns">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{firstInnerColumn}} </th>
                                    <td mat-cell style="padding-right: 0px;padding-left: 0px;" *matCellDef="let element"> {{element[firstInnerColumn]}} </td>
                                </ng-container>
                                <ng-container matColumnDef="secondExpandedDetail">
                                    <label>Biological Material description</label>
                                    <td style="padding-right: 0px;padding-left: 0px;" mat-cell *matCellDef="let mat_element" [attr.colspan]="firstinnerDisplayedColumns.length">
                                        <div class="example-element-detail" *ngIf="mat_element.biologicalMaterials?.data.length"
                                            [@detailExpand2]="mat_element == materialSourceExpandedElement ? 'expanded' : 'collapsed'">
                                            <div class="inner-table mat-elevation-z8" *ngIf="materialSourceExpandedElement">
                                                <table #materialSourceInnerTables mat-table #innerSort2="matSort"
                                                    [dataSource]="mat_element.biologicalMaterials" matSort>
                                                    <ng-container matColumnDef="{{secondInnerColumn}}"
                                                        *ngFor="let secondInnerColumn of secondinnerDisplayedColumns">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{secondInnerColumn}} </th>
                                                        <td style="padding-right: 0px;padding-left: 0px;" mat-cell *matCellDef="let mat_element"> {{mat_element[secondInnerColumn]}}
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="secondinnerDisplayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: secondinnerDisplayedColumns;"></tr> 
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="firstinnerDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let mat_element; columns: firstinnerDisplayedColumns;"
                                [class.example-element-row]="mat_element.biologicalMaterials?.data.length"
                                    [class.example-expanded-row]="materialSourceExpandedElement === mat_element" (click)="biologicalMaterialToggleRow(mat_element)"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['secondExpandedDetail']"  class="example-detail-row"></tr>
                            </table>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="MaterialColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: MaterialColumnsToDisplay;"
                [class.example-element-row]="element.materials?.data.length"
                [class.example-expanded-row]="materialExpandedElement === element" (click)="materialToggleRow(element)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table> -->
    </form>
  </div>
  <div class="output">
    <!-- <p>Form Data: {{materialTable.value | json}}</p> -->
    <p>Form Data 2 : {{materialTable2.value | json}}</p>
    <p>Is Valid: {{materialTable2.valid}}</p>
    <p>materials: {{materialsData}}</p>
    <!-- <p>materials data source: {{MaterialSourceDataSource.data | json}}</p> -->
  </div>
</div>