.w-75{
    width: 10px;
}

.table tr.active td {  
    background-color:#48da24 !important;  
    color: white;  
  } 
.mat-slider-vertical{
    min-height: 60px;
}
#bmpreprocess{
    width: 150px; 
}
li {
    margin-bottom: 2px;
  }
  
  li:last-child {
   margin-bottom: 0px;
  }
  
  ul {
    padding: 10px;  
    padding-left: 40px;
  }
  .highlight{
    background: #4ECDC4; /* green */
  }