<div>
  <div class="border-head">
    <h3>
      <a href="index.html" class="logo">
        <b>
          P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
        </b>
      </a>
      <div class="form-group text-center" style="float: right;">
        <button (click)="cancel()" class="btn btn-xs btn-danger">
          <span style="margin-right:10px;"></span>
          Cancel
        </button>
        <span style="margin-right:10px;"></span>
        <button class="btn btn-xs btn-info" type="submit" (click)="submitForm();"
          [disabled]="observationUnitTable.invalid || (get_startfilling()===false && mode==='create')">
          Submit
          <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
        Save as template
        <label class="switch ">
          <input type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" class="default">
          <span class="slider round"></span>
        </label>
      </div>
    </h3>
  </div>

  <h1 style="text-align: center">{{ model_type[0].toUpperCase() +  model_type.slice(1).replace("_"," ")}} </h1>
  <p>{{model.Definition}}</p>
  <div>
    <form [formGroup]="observationUnitTable">
      <!-- <h3>General Material information</h3> -->
      
      <br>


      <!-- #################################################################################
      ###############################observation Unit##############################
      ################################################################################# -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>observation Unit description</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">

            <button class="btn btn-primary" mat-raised-button type="submit" (click)="addObservationUnitRow()">Add
              observation unit</button>
          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>

          <table *ngIf="getObservationUnitFormControls.controls.length>0"  cellpadding="0" cellspacing="0" cellwidth="2" border="0"
            class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of cleaned_model ; let i=index">
                <th class="text-center align-middle">
                  <div>
                    <label for="{{field['key']}}">{{field['key']}}</label>
                    <span style="display:inline-block; margin-left: 10px;">
                      <i style="color :lightblue" class="fa fa-info-circle"
                        title="{{model[field['key']].Definition}}"></i>
                    </span>
                  </div>
                </th>
              </ng-container>
              <th></th>
            </thead>
            <tbody>
              <ng-container formArrayName="observationUnitRows"
                *ngFor="let group of getObservationUnitFormControls.controls ; let i=index">
                <tr (click)="ObservationTableRowSelected(i)" [formGroupName]="i">
                  <ng-container *ngFor="let field of cleaned_model ; let j=index">
                    <td class="text-center align-middle">
                      <div *ngIf="model[field['key']].Format.includes('Ontology')">
                        <div *ngFor="let ont of model[field['key']]['Associated ontologies'] ; index as o;"
                          class="btn-group">
                          <button class="btn btn-success btn-xs fa fa-plus"
                            (click)="onOntologyTermSelection(ont, field['key'],model[field['key']].Multiple)">
                            {{ont}}
                          </button>

                        </div>
                        <span *ngIf="validated_term[field['key']].selected!==true"
                          style="display:inline-block; margin-left: 10px;">
                          <input style="color:black" mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                        </span>
                        <span *ngIf="validated_term[field['key']].selected===true"
                          style="display:inline-block; margin-left: 10px;">
                          <input style="color:black" mdbInput value="{{validated_term[field['key']].values}}"
                            type="text" formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)" />
                        </span>
                      </div>
                      <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                        <div *ngIf="!field['key'].includes('date')">
                          <input
                            *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('ID')"
                            mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)"
                            [ngClass]="{ 'is-invalid': group.controls[field['key']].errors }" />

                          <textarea
                            *ngIf="model[field['key']].Format.includes('Free text') && !field['key'].includes('Observation Unit factor value')"
                            mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keyup)="onTaskAdd($event)"
                            [ngClass]="{ 'is-invalid': group.controls[field['key']].errors}">
                          </textarea>
                          <textarea
                            *ngIf="model[field['key']].Format.includes('Formatted text (Key:value)') && !field['key'].includes('Observation Unit factor value')"
                            mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" (keyup)="onTaskAdd($event)"
                            [ngClass]="{ 'is-invalid': group.controls[field['key']].errors}">
                          </textarea>
                          <!-- ef_data[i]['observation_id']===observation_id &&  -->
                          <ng-container  *ngIf="get_experimental_factor(group.value['obs-id']).length===0 && model[field['key']].Format.includes('Free text') && field['key'].includes('Observation Unit factor value')">
                              <p>No experimental factor associated !! </p>
                          </ng-container>
                          <ng-container  *ngIf="get_experimental_factor(group.value['obs-id']).length>0 && model[field['key']].Format.includes('Free text') && field['key'].includes('Observation Unit factor value')">
                            <!-- <ng-container  *ngIf="ef_data[i] && ef_data[i]['observation_id']===observation_id"> -->
                            
                            <button mat-button [matMenuTriggerFor]="menu">select factor value</button>
                            <mat-menu  #menu="matMenu">
                              <ng-container *ngFor="let ef of get_experimental_factor(group.value['obs-id']) ; let k=index">
                                <!-- <ng-container  *ngIf="ef['observation_id']===observation_id"> -->
                              <button  mat-menu-item [matMenuTriggerFor]="efMenu">{{ef['Experimental Factor type']}}</button>
                              <mat-menu #efMenu="matMenu">
                                <button *ngFor="let value of ef['Experimental Factor values'].split(';') ; let j=index" mat-menu-item (click)="addFactorValues(i, value, group.value['obs-id'])">{{value}}</button>
                              </mat-menu>
                              <!-- </ng-container> -->
                            </ng-container>
                            </mat-menu>
                            <input mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                            formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                          <!-- </ng-container> -->
                          <!-- <ng-container  *ngIf="!ef_data[i] && ef_data.length>0  && model[field['key']].Format.includes('Free text') && field['key'].includes('Observation Unit factor value')">
                            <p>No experimental factor associated !! </p>
                        </ng-container> -->
                          </ng-container>
                          




                          <div *ngIf="group.controls[field['key']].errors" class="invalid-feedback">
                            <div style="color :red" *ngIf="group.controls[field['key']].errors.required">
                              {{field['key']}} is required</div>
                            <div style="color :red" *ngIf="group.controls[field['key']].errors.minlength">minimum
                              length is required</div>
                            <div style="color :red" *ngIf="group.controls[field['key']].errors.create">Unique ID is
                              required - already used !! </div>
                          </div>
                        </div>

                        <div *ngIf="field['key'].includes('date')">
                          <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                            formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <td class="text-center align-middle">
                    <mat-icon class="delete" (click)="deleteObservationUnitRow(i)">delete_forever</mat-icon>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <!-- #################################################################################
      ###############################Biological Material##############################
      ################################################################################# -->

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biological Materials selection</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">
            <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addBiologicalMaterial()">
              Add Biological Material
            </button>
          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>
          <!-- Here put Biological Material Table -->
          <table *ngIf="bm_data.length>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
            class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of get_bm_field ; let i=index">
                <th *ngIf="field!=='obsUUID'"  class="text-center align-middle">
                  <div>
                    <label for="{{field}}">{{field}}</label>
                  </div>
                </th>
              </ng-container>
            </thead>
            <tbody>
              <ng-container *ngFor="let group of bm_data ; let i=index">
                <tr (click)="MaterialTableRowSelected(i)" *ngIf="group['obsUUID']===observation_id" >
                  <ng-container *ngFor="let field of get_bm_field ; let j=index">
                    <td *ngIf="field!=='obsUUID'" class="text-center align-middle">
                      {{group[field]}}
                      
                    </td>
                  </ng-container>
                  <td class="text-center align-middle">
                    <mat-icon class="delete" (click)="deletebiologicalMaterialRow(i)">delete_forever</mat-icon>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </mat-card-content>
      </mat-card>

      <!-- #################################################################################
      ###############################Biological Samples###############################
      ################################################################################# -->

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biological Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">

            <button [disabled]="getObservationUnitFormControls.controls.length===0 || bm_data.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addSamples()">Add
              Samples</button>
          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>
           <!-- Here put Samples Table -->
           <table *ngIf="sample_data.length>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
            class="display table table-bordered table-hover" [ngClass]="{'table-dark': false}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of get_sample_field ; let i=index">
                <th *ngIf="field!=='obsUUID'"  class="text-center align-middle">
                  <div>
                    <label for="{{field}}">{{field}}</label>
                  </div>
                </th>
              </ng-container>


            </thead>
            <tbody>
              <ng-container *ngFor="let group of sample_data ; let i=index">
                <tr *ngIf="group['obsUUID']===observation_id && group['bmUUID']===biological_material_id" >

                  <ng-container *ngFor="let field of get_sample_field ; let j=index">
                    <td *ngIf="field!=='obsUUID'" class="text-center align-middle">
                      {{group[field]}}
                      
                    </td>
                  </ng-container>
                  <td class="text-center align-middle">
                    <mat-icon class="delete" (click)="deleteSampleRow(i)">delete_forever</mat-icon>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <!-- ################################################################################
      ###############################Experimental factors##################################
      ################################################################################# -->

      <mat-card>
        <mat-card-header>
          <mat-card-title>Experimental factors selection</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">
            <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addExperimentalFactor()">Add
              Experimental factor</button>
          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>
          <!-- Here put Experimental factor Table -->
          <table *ngIf="ef_data.length>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
            class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of get_ef_field ; let i=index">
                <th *ngIf="field!=='observation_id'"  class="text-center align-middle">
                  <div>
                    <label for="{{field}}">{{field}}</label>
                  </div>
                </th>
              </ng-container>

            </thead>
            <tbody>
              <ng-container *ngFor="let group of ef_data ; let i=index">
                <tr *ngIf="group['observation_id']===observation_id" >
                  <ng-container *ngFor="let field of get_ef_field ; let j=index">
                    <td *ngIf="field!=='observation_id'" class="text-center align-middle">
                      {{group[field]}}
                      
                    </td>
                  </ng-container>
                  <td class="text-center align-middle">
                    <mat-icon class="delete" (click)="deleteExperimentalFactorRow(i)">delete_forever</mat-icon>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </mat-card-content>
      </mat-card>
      <!-- #################################################################################
      ###############Environmental Metadata (Observed variable)########################
      ################################################################################# -->

      <mat-card>
        <mat-card-header>
          <mat-card-title>Environmental Metadata selection (Observed variable)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">
            <button [disabled]="0===0" class="btn btn-primary" mat-raised-button type="submit" >
              Add environmental data</button>
          </div>
          <div class="action-container">
            <button [disabled]="0===0" class="btn btn-primary" mat-raised-button type="submit" >
              Add Observed variable</button>
          </div>
          <span style="display:inline-block; margin-left: 10px;"></span>
          <!-- Here put Experimental factor Table -->
          <table *ngIf="-1>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
            class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
            <!-- <thead class="text-nowrap">   -->
            <thead>
              <ng-container *ngFor="let field of get_ef_field ; let i=index">
                <th *ngIf="field!=='observation_id'"  class="text-center align-middle">
                  <div>
                    <label for="{{field}}">{{field}}</label>
                  </div>
                </th>
              </ng-container>

            </thead>
            <tbody>
              <ng-container *ngFor="let group of ef_data ; let i=index">
                <tr *ngIf="group['observation_id']===observation_id" >
                  <ng-container *ngFor="let field of get_ef_field ; let j=index">
                    <td *ngIf="field!=='observation_id'" class="text-center align-middle">
                      {{group[field]}}
                      
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </mat-card-content>
      </mat-card>


      

    </form>
  </div>
  <div class="output">
    <p>Form Data: {{observationUnitTable.value | json}}</p>
    <p>experimental factor data: {{ef_data | json}}</p>
    <p>biological material data : {{bm_data | json}}</p>
    <p>sample data : {{sample_data | json}}</p>
    <p>Is Valid: {{observationUnitTable.valid}}</p>
  </div>
</div>