<div>
  <div class="border-head">
    <h3>
      <a href="index.html" class="logo">
        <b>
          P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span>
        </b>
      </a>
      <div class="form-group text-center" style="float: right;">
        <button (click)="cancel()" class="btn btn-xs btn-danger">
          <span style="margin-right:10px;"></span>
          Cancel
        </button>

        <span style="margin-right:10px;"></span>
        
        <button class="btn btn-xs btn-info" type="submit" (click)="submitForm();"
          [disabled]="observationUnitTable.invalid || (get_startfilling()===false && mode==='create') || getObservationUnitFormControls.controls.length===0">
          Submit
          <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
        
        <!-- Save as template
        <label class="switch ">
          <input type="checkbox" [checked]="Checked" (change)="toggleVisibility($event)" class="default">
          <span class="slider round"></span>
        </label> -->
      </div>
    </h3>
  </div>

  <h1 style="text-align: center">{{ model_type[0].toUpperCase() +  model_type.slice(1).replace("_"," ")}} </h1>
  <p>{{model.Definition}}</p>
  <div
    joyrideStep="StepDemoForm"
    title=""
    [stepContent]="democontent"
    [stepContentParams]="{'model_n':model_type}"
    (done)= "onDone()"
    >
    <div 
      joyrideStep="generalContent"
      title=""
      [stepContent]="observationUnitGeneralContent"
      [stepContentParams]="{'model_n':model_type}"
    >
      <!-- <form [formGroup]="observationUnitTable">
        <br>
        <h2>Observation units</h2>
        <div 
        joyrideStep="addObservationUnit"
        title=""
        [stepContent]="observationUnitAddContent"
        [stepContentParams]="{'model_n':model_type}">
          <mat-card>
            <mat-card-header>
              <mat-card-title>observation Unit description</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="action-container">
                <button class="btn btn-primary" mat-raised-button type="submit" (click)="addObservationUnitRow()">Add
                  observation unit</button>
              </div>
              <span style="display:inline-block; margin-left: 10px;"></span>
              <table *ngIf="getObservationUnitFormControls.controls.length>0"  cellpadding="0" cellspacing="0" cellwidth="2" border="0"
                class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
                <thead>
                  <ng-container *ngFor="let field of cleaned_model ; let i=index">
                    <th class="text-center align-middle">
                      <div>
                        <label for="{{field['key']}}">{{field['key']}}</label>
                        <span style="display:inline-block; margin-left: 10px;">
                          <i style="color :lightblue" class="fa fa-info-circle"
                            title="{{model[field['key']].Definition}}"></i>
                        </span>
                      </div>
                    </th>
                  </ng-container>
                  <th></th>
                </thead>
                <tbody>
                  <ng-container formArrayName="observationUnitRows"
                    *ngFor="let group of getObservationUnitFormControls.controls ; let i=index">
                    <tr (click)="ObservationTableRowSelected(i)" [formGroupName]="i" [ngClass]="{'highlight': ou_index_row == i}">
                      <ng-container *ngFor="let field of cleaned_model ; let j=index">
                        <td class="text-center align-middle">
                          <div *ngIf="!model[field['key']].Format.includes('Ontology')">
                            <div *ngIf="!field['key'].includes('date')">
                              <input
                                *ngIf="!model[field['key']].Format.includes('Free text') && field['key'].includes('ID')"
                                mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                                formControlName="{{field['key']}}" (keypress)="onTaskAdd($event)"
                                [ngClass]="{ 'is-invalid': group.errors }" />
                              <textarea
                                *ngIf="model[field['key']].Format.includes('Free text') && !field['key'].includes('Observation Unit factor value')"
                                mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                                formControlName="{{field['key']}}" (keyup)="onTaskAdd($event)"
                                [ngClass]="{ 'is-invalid': group.errors}">
                              </textarea>
                              <textarea
                                *ngIf="model[field['key']].Format.includes('Formatted text (Key:value)') && !field['key'].includes('Observation Unit factor value')"
                                mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                                formControlName="{{field['key']}}" (keyup)="onTaskAdd($event)"
                                [ngClass]="{ 'is-invalid': group.errors}">
                              </textarea>
                              <ng-container  *ngIf="get_experimental_factor(group.value['obsUUID']).length===0 && model[field['key']].Format.includes('Free text') && field['key'].includes('Observation Unit factor value')">
                                  <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addExperimentalFactor()">
                                    Add Experimental factor
                                  </button>
                              </ng-container>
                              <ng-container  *ngIf="get_experimental_factor(group.value['obsUUID']).length>0 && model[field['key']].Format.includes('Free text') && field['key'].includes('Observation Unit factor value')">
                                <button mat-button [matMenuTriggerFor]="menu">select factor value</button>
                                <mat-menu  #menu="matMenu">
                                  <ng-container *ngFor="let ef of get_experimental_factor(group.value['obsUUID']) ; let k=index">
                                  <button  mat-menu-item [matMenuTriggerFor]="efMenu">{{ef['experimentalFactorType']}}</button>
                                  <mat-menu #efMenu="matMenu">
                                    <button *ngFor="let value of ef['experimentalFactorValues'].split(';') ; let j=index" mat-menu-item (click)="addFactorValues(i, value, group.value['obsUUID'])">{{value}}</button>
                                  </mat-menu>
                                </ng-container>
                                </mat-menu>
                                <input mdbInput placeholder="{{model[field['key']].Example}}" type="text"
                                formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                              </ng-container>
                              <div *ngIf="group.errors" class="invalid-feedback">
                                <div style="color :red" *ngIf="group.errors.required">
                                  {{field['key']}} is required</div>
                                <div style="color :red" *ngIf="group.errors.minlength">minimum
                                  length is required</div>
                                <div style="color :red" *ngIf="group.errors.create">Unique ID is
                                  required - already used !! </div>
                              </div>
                            </div>

                            <div *ngIf="field['key'].includes('date')">
                              <input mdbInput placeholder="{{model[field['key']].Example}}" type="date"
                                formControlName="{{field['key']}}" class="form-control" (keypress)="onTaskAdd($event)" />
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <td class="text-center align-middle">
                        <mat-icon class="delete" (click)="deleteObservationUnitRow(i)">delete_forever</mat-icon>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #observationUnitAddContent let-nod="model_n">
        <div>
          <nav class="navbar navbar-expand-sm navbar-dark">
              <h3>
                <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
              </h3>
          </nav>
        </div>
        <h4>Observation units</h4>
        <mat-card>
          <h5>Add Observation units</h5>
          <p>you can add a new observation unit by clicking on  <button class="btn btn-primary">Add observation unit</button></p>
        </mat-card> 
          
        </ng-template>
        <h2>Biological Materials</h2>
        <div 
        joyrideStep="associateBiologicalMAterial"
        title=""
        [stepContent]="observationUnitAssociatebm"
        [stepContentParams]="{'model_n':model_type}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Biological Materials selection</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="action-container">
              <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addBiologicalMaterial()">
                Add Biological Material
              </button>
            </div>
            <span style="display:inline-block; margin-left: 10px;"></span>
            <table *ngIf="bm_data.length>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
              class="display table table-bordered table-hover" [ngClass]="{'table-dark': mode_table}">
              <thead>
                <ng-container *ngFor="let field of get_bm_field ; let j=index">
                  <th *ngIf="field!=='obsUUID'"  class="text-center align-middle">
                    <div>
                      <label for="{{field}}">{{field}}</label>
                    </div>
                  </th>
                </ng-container>
              </thead>
              <tbody>
                <ng-container *ngFor="let group of bm_data ; let j=index">
                  <tr (click)="MaterialTableRowSelected(j)" *ngIf="group['obsUUID']===observation_id" [ngClass]="{'highlight': mat_index_row == j}">
                    <ng-container *ngFor="let field of get_bm_field ; let k=index">
                      <td *ngIf="field!=='obsUUID'" class="text-center align-middle">
                        {{group[field]}}
                      </td>
                    </ng-container>
                    <td class="text-center align-middle">
                      <mat-icon class="delete" (click)="deletebiologicalMaterialRow(j)">delete_forever</mat-icon>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        </div>
        <ng-template #observationUnitAssociatebm let-nod="model_n">
          <div>
            <nav class="navbar navbar-expand-sm navbar-dark">
                <h3>
                  <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
                </h3>
            </nav>
          </div>
          <h4>Observation units</h4>
        <mat-card>
          <h5>Linking biological materials to observations</h5>
          <p>
            You have to define the observed biological materials observed in this observation unit. it could be at  plant level, plot level. 
            To do this, click <button class="btn btn-primary">Add biological material</button><br>
            This will open a dialog that helps you to select which materials to associate. 
            When selected, the table of biological material will be displayed to let you choose which biological materials are observed and linked to which observation units.
          </p>

        </mat-card> 
        <mat-card>
          <h6>Notes</h6>
          <p>
            Your study must contains at least one biological material in order to create observations units based on material observations !!! 
          </p>
          
        </mat-card>
        </ng-template>
        <h2>Biological Samples</h2>
        <div 
        joyrideStep="addBiologicalSample"
        title=""
        [stepContent]="observationUnitSample"
        [stepContentParams]="{'model_n':model_type}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Biological Samples</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="action-container">
              <button [disabled]="getObservationUnitFormControls.controls.length===0 || bm_data.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addSamples()">Add
                Samples</button>
            </div>
            <span style="display:inline-block; margin-left: 10px;"></span>
            <table *ngIf="sample_data.length>0" cellpadding="0" cellspacing="0" cellwidth="2" border="0"
              class="display table table-bordered table-hover" [ngClass]="{'table-dark': false}">
              <thead>
                <ng-container *ngFor="let field of get_sample_field ; let i=index">
                  <th *ngIf="field!=='obsUUID'"  class="text-center align-middle">
                    <div>
                      <label for="{{field}}">{{field}}</label>
                    </div>
                  </th>
                </ng-container>
              </thead>
              <tbody>
                <ng-container *ngFor="let group of sample_data ; let i=index">
                  <tr *ngIf="group['obsUUID']===observation_id && group['bmUUID']===biological_material_id" >
                    <ng-container *ngFor="let field of get_sample_field ; let j=index">
                      <td *ngIf="field!=='obsUUID'" class="text-center align-middle">
                        {{group[field]}}
                      </td>
                    </ng-container>
                    <td class="text-center align-middle">
                      <mat-icon class="delete" (click)="deleteSampleRow(i)">delete_forever</mat-icon>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        </div>
        <ng-template #observationUnitSample let-nod="model_n">
          <div>
            <nav class="navbar navbar-expand-sm navbar-dark">
                <h3>
                  <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
                </h3>
            </nav>
          </div>
          <h4>Observation units</h4>
          <mat-card>
            <h5>Add samples from your observations</h5>
            <p>
              Once you have defined the associated biological materials. You could want to extract also samples from this biologiccal materials. 
              To do this, click <button class="btn btn-primary">Add samples</button>; this will open a dialog that helps you to select in a table which biological materials to sample. 
            </p>
          </mat-card> 
          <mat-card>
            <h5>Associate samples to biological materials</h5>
            <p>
              When biological materials have been selected, <button class="btn btn-primary">Generate sample for each selected material</button> is active; If you click once, a sample will be created for each selected biological material and sample will be linked to the current observation unit.
            </p>
          </mat-card> 
        </ng-template>
      </form> -->
      <div class="action-container">
        <button class="btn btn-primary" mat-raised-button type="submit" (click)="addObservationUnitRow()">Add
          observation unit</button>
      </div>
      <form [formGroup]="observationUnitTable" >
        <mat-card>
        <table *ngIf="get_obs_loaded" mat-table style="width: 100%;" formArrayName="observationUnitRows" [dataSource]="get_DataSource" >
          <ng-container matColumnDef="Observation unit ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation unit ID </th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <input mdbInput placeholder="plot:894" type="text" formControlName="Observation unit ID" class="form-control" (keypress)="onTaskAdd($event)" required>
            </td>
          </ng-container>
          <ng-container matColumnDef="External ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> External ID </th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <input mdbInput placeholder="Biosamples:SAMEA4202911" type="text" formControlName="External ID" class="form-control" (keypress)="onTaskAdd($event)">
            </td>
          </ng-container>
          <ng-container matColumnDef="Observation unit type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation unit type </th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <input matInput class="form-control" type="text" size="2" formControlName="Observation unit type"> </td>
          </ng-container>
          <ng-container matColumnDef="Observation Unit factor value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation Unit factor value</th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <ng-container  *ngIf="get_experimental_factor(getObservationUnitFormControls.controls[getActualIndex(obsindex)].value['obsUUID']).length===0">
                  <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addExperimentalFactor()">
                    Add Experimental factor
                  </button>
              </ng-container>
              <ng-container  *ngIf="get_experimental_factor(getObservationUnitFormControls.controls[getActualIndex(obsindex)].value['obsUUID']).length>0">
                <button mat-button [matMenuTriggerFor]="menu">select factor value</button>
                <mat-menu  #menu="matMenu">
                  <ng-container *ngFor="let ef of get_experimental_factor(getObservationUnitFormControls.controls[getActualIndex(obsindex)].value['obsUUID']) ; let k=index">
                  <button  mat-menu-item [matMenuTriggerFor]="efMenu">{{ef['experimentalFactorType']}}</button>
                  <mat-menu #efMenu="matMenu">
                    <button *ngFor="let value of ef['experimentalFactorValues'].split(';') ; let j=index" mat-menu-item (click)="addFactorValues(getActualIndex(obsindex), value, getObservationUnitFormControls.controls[getActualIndex(obsindex)].value['obsUUID'])">{{value}}</button>
                  </mat-menu>
                  </ng-container>
                </mat-menu>
                <input mdbInput placeholder="Watered" type="text" formControlName="Observation Unit factor value" class="form-control" (keypress)="onTaskAdd($event)" />
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="Spatial distribution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Spatial distribution </th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <input matInput type="text" class="form-control"  size="2" formControlName="Spatial distribution"> </td>
          </ng-container>
          <ng-container matColumnDef="obsUUID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> obsUUID </th>
            <td mat-cell *matCellDef="let row; let obsindex = index"  [formGroupName]="getActualIndex(obsindex)">  
              <input class="form-control"  type="text" size="2" formControlName="obsUUID"> </td>
          </ng-container>
          <ng-container  matColumnDef="Edit">
            <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> Edit </th>
            <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index">
                
                <div class="btn-group" style="float: right;">
                  <button title="Edit observed variable" (click)="onEdit(getActualIndex(index))" class="btn btn-light btn-xs fa fa-pencil"></button> 
                  <button title="Remove observed variable" (click)="deleteObservationUnitRow(getActualIndex(index))" class="btn btn-light btn-xs fa fa-trash"></button> 
                  <!-- <mat-icon class="delete" (click)="deleteSampleRow(getSampleActualIndex(index))">delete_forever</mat-icon> -->
                </div>
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="ObservationTableRowSelected(getActualIndex(obsindex))" class="text-center align-middle" mat-row *matRowDef="let row; let obsindex = index;columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [hidden] [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </mat-card>
      
      <mat-card >
        <mat-card-header *ngIf="get_obs_loaded">
          <mat-card-title>Biological Materials associated with {{getObservationUnitFormControls.controls[get_ou_index_row].value['Observation unit ID']}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">
            <button [disabled]="getObservationUnitFormControls.controls.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addBiologicalMaterial()">
              Add Biological Material
            </button>
          </div>
        <table *ngIf="get_mat_loaded && get_filtered_bm_data.length>0" mat-table style="width: 100%;" [dataSource]="get_bmDataSource" >
          <ng-container matColumnDef="{{column}}" *ngFor="let column of bmDisplayedColumns">
            <ng-container *ngIf="column!=='Samples' && column!=='Edit'">
                <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index"> 
                  {{row[column]}}
            </td>
            </ng-container>
            <ng-container *ngIf="column==='Edit'">
              <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> {{column}} </th>
              <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index">
                  <div class="btn-group" style="float: right;">
                    <button title="Edit observed variable" (click)="onEdit(getBmActualIndex(index))" class="btn btn-light btn-xs fa fa-pencil"></button> 
                    <button title="Remove observed variable" (click)="deletebiologicalMaterialRow(getBmActualIndex(index))" class="btn btn-light btn-xs fa fa-trash"></button> 
                    <!-- <mat-icon class="delete" (click)="deleteSampleRow(getSampleActualIndex(index))">delete_forever</mat-icon> -->
                  </div>
              </td>
          </ng-container>
            <ng-container *ngIf="column==='Samples'">
                <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index">
                  {{get_sample_by_material(row)}}
                </td>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="bmDisplayedColumns"></tr>
          <tr  mat-row *matRowDef="let row; let index = index;columns: bmDisplayedColumns;" (click)="MaterialTableRowSelected(getBmActualIndex(index))" class="text-center align-middle" ></tr>
        </table>
        <mat-paginator #bmpaginator [hidden]  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </mat-card-content>
      </mat-card>
      <mat-card>
        
        <mat-card-header *ngIf="get_mat_loaded && get_filtered_bm_data.length>0">
          <mat-card-title>Biological Samples associated with material {{get_filtered_bm_data[get_mat_index_row]['biologicalMaterialId']}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="action-container">
            <button [disabled]="bm_data.length===0" class="btn btn-primary" mat-raised-button type="submit" (click)="addSamples()">Add Samples</button>
              <table *ngIf="get_sample_loaded && get_filtered_sample_data.length>0" mat-table style="width: 100%;" [dataSource]="get_sampleDataSource" >
                <ng-container matColumnDef="{{column}}" *ngFor="let column of sampleDisplayedColumns">
                  <ng-container *ngIf="column!=='Edit'">
                      <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> {{column}} </th>
                      <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index"> {{row[column]}}</td>
                  </ng-container>
                  <ng-container *ngIf="column==='Edit'">
                      <th class="text-center align-middle" mat-header-cell *matHeaderCellDef> {{column}} </th>
                      <td class="text-center align-middle" mat-cell *matCellDef="let row; let index = index">
                        
                          <div class="btn-group" style="float: right;">
                            <button title="Edit observed variable" (click)="onEdit(getSampleActualIndex(index))" class="btn btn-light btn-xs fa fa-pencil"></button> 
                            <button title="Remove observed variable" (click)="deleteSampleRow(getSampleActualIndex(index))" class="btn btn-light btn-xs fa fa-trash"></button> 
                            <!-- <mat-icon class="delete" (click)="deleteSampleRow(getSampleActualIndex(index))">delete_forever</mat-icon> -->
                          </div>
                      </td>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="sampleDisplayedColumns"></tr>
                <tr  mat-row *matRowDef="let row; let index = index;columns: sampleDisplayedColumns;" (click)="SampleTableRowSelected(getSampleActualIndex(index))" class="text-center align-middle" ></tr>
              </table>
              <mat-paginator #samplepaginator [hidden]  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      
          </div>


        </mat-card-content>
      </mat-card>


      </form>
    </div>
    <ng-template #observationUnitGeneralContent let-nod="model_n">
      <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <h3>
               <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
            </h3>
        </nav>
      </div>
      <h4>Observation units</h4>
      <mat-card>
        <h5>Definition</h5>
        <p><b>Observation units</b> Observation units are objects that are subject to particular instances of observation and measurement. An observation unit comprises one or more plants, and their environment. Synonym : Experimental unit.</p>
      </mat-card> 
    </ng-template>
  </div>
  <ng-template #democontent let-nod="model_n" let-modellen="model_len" let-modell="model_level" let-modelmessage="message">
    <div>
      <nav class="navbar navbar-expand-sm navbar-dark">
          <h3>
             <a class="logo" style="color: black;"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b><span style="color: black;"> : THE TUTORIAL</span></a>
          </h3>
      </nav>
    </div>
    <div>
      <p> Let's add a new observation unit!</p>

      <p> Click on <b>DONE</b> to add a 10 observations units, one for each plot, plot were grouped by experimental factor value, (5 rainfed plots and  5 watered plots), called <b>plot_1-10</b> with the following values:</p>
          <!-- <ul>
  
          <li> <p> <b>Genus</b> : Zea</p></li>
          <li> <p> <b>Species </b> : mays </p></li>
          <li> <p> <b>Organism </b> : NCBI:4577 </p></li>
          <li> <p> <b>Infraspecific name </b> : B73 </p></li>
          <li> <p> <b>Material source ID </b> : INRA:B73</p></li>
          <li> <p> <b> 10 Biological material IDs </b> : from INRA:B73_1 to INRA:B73_10 </p></li>
          </ul> -->
       <p> The other fields can be fullfilled later<br></p>
    </div>
  </ng-template>
  <div class="output">
    <!-- <p>Form Data: {{observationUnitTable.value | json}}</p>
    <p>experimental factor data: {{ef_data | json}}</p>
    <p>biological material data : {{bm_data | json}}</p>
    <p>sample data : {{sample_data | json}}</p>
    <p>Is Valid: {{observationUnitTable.valid}}</p> -->
  </div>
</div>