<!--<alert></alert>-->

<div id="user-tree"> 
    <div class="border-head">
        <h3>
            <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b></a>
        </h3>
    </div>
    <div>  
<!--        <mat-card>
            <p>Below is the general tree of all your projects in LINDA database. You will find it under the Investigations tree node. </p>
        </mat-card>-->
        <mat-card>
            <p> Below is the general tree of all your projects in LINDA database.
                Please feel free to describe as exhaustively as possible your investigation. Only unique ID are mandatory to register your investigation in the database. 
                You can remove more than one node at the time if you use the right click button on Investigations tree node and choose remove selected option. 
            </p>
        <!--<div class="warning-msg"><i class="fa fa-warning"></i>You need to first select and check histories you want to suppress.</div>-->
        </mat-card>
    </div> 
    <div> 
        <mat-card>
<!--            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Configure options</h4>
                        </mat-panel-title>
                        <mat-panel-description>Currently I am {{panelOpenState ? 'open' : 'closed'}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                        <mat-checkbox [formControl]="disableSelect">Multiselection</mat-checkbox>
                    </p>

                    <h4>mat-select</h4>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <mat-select [disabled]="disableSelect.value">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <h4>native html select</h4>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl [disabled]="disableSelect.value">
                            <option value="" selected></option>
                            <option value="volvo">Volvo</option>
                            <option value="saab" disabled>Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </mat-form-field>
                </mat-expansion-panel><br>
           </mat-accordion>-->
            <mat-drawer-container  class="example-container" >
<!--                <mat-drawer  #drawer class="example-sidenav" mode="over" position="start">
                    <h1>Description</h1>
                    <div *ngIf="get_model_selected()==='Investigations tree'">
                        <mat-card>You have {{ this.statistics['investigations'] }} investigations in your history</mat-card>
                    </div>
                    <table *ngIf="get_model_selected()!=='metadata_files'" class="table table-hover table-bordered  table-striped text-center" >
                        <tbody >
                            <tr  *ngFor="let key of current_data ; index as j;" >
                                <td style="font-size:14px;text-align: center; " scope="row">{{key}}</td>
                                <td style="font-size:14px;text-align: center; " scope="row">{{current_data_array[0][key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                      <div *ngIf="get_model_selected()==='metadata_files'">
                          <app-download [parent_id]="get_parent_id(node)" [model_key]="get_model_key(node)" [model_type]="get_model_type(node)" mode="edit" ></app-download>
                      </div>
                </mat-drawer>-->
                <div  class="example-sidenav-content"  >
                    <mat-tree  #tree [dataSource]="get_dataSource()" [treeControl]="get_treeControl()"  class="col-md-12 panel" >      
                        
                        <!--#############@######################################-->
                        <!-- This is the tree node template for leaf nodes -->
                        <!--#############@######################################-->

                        <mat-tree-node style="margin: 14px;" *matTreeNodeDef="let node" matTreeNodePadding  title="{{node.def}}" >   
                             <div [ngStyle]="getStyle(node)">
                                 
                                 <!-- use a disabled button to provide padding for tree leaf -->
<!--                                 <button mat-icon-button style="margin-right:  200px" [attr.aria-label]="node.name">
                                     <mat-icon class="mat-icon-rtl-mirror">{{'arrow_right'}}</mat-icon>
                                     <mat-icon *ngIf="node.id.includes('investigations')" ><span class="fa-stack fa-xs"> <i *ngIf="node.id.includes('investigations')" class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-stack-1x">I</i> </span></mat-icon>
                                     <mat-icon *ngIf="node.id.includes('studies')" ><span class="fa-stack fa-xs"> <i *ngIf="node.id.includes('studies')" class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-stack-1x">S</i> </span></mat-icon>
                                     {{node.name}}
                                     <i style="margin-right:  50px; margin-left:  15px" class="material-icons mat-icon-rtl-mirror">{{'arrow_right'}}{{node.name}}</i>
                                     <i style="margin-right:  50px; margin-left:  15px" *ngIf="multiple_selection===false">{{node.name}}</i>
                                 </button>-->
                                 
<!--                                 <button style="width:300px;padding-right: 200px" mat-icon-button [attr.aria-label]="node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">{{'arrow_right'}}</mat-icon>
                                    {{node.name}}
                                </button>-->
                                <button  mat-icon-button [attr.aria-label]="node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">{{'arrow_right'}}</mat-icon>
                                </button>
                                {{node.name}}
                                 
                                 <!--<button style="float: right;"  *ngIf="!node.id.includes('Investigations tree')" (click)="show_info(node); drawer.toggle()" class="btn btn-success btn-xs fa fa-eye" title="{{node.def}}"></button>-->
                                 <button style="float: right;"  *ngIf="!node.id.includes('Investigations tree')"  (click)="onExport(node)" class="btn btn-light btn-xs fa fa-upload"></button>
                                 <button style="float: right;" *ngIf="!node.id.includes('Investigations tree')" (click)="onEdit(node)" class="btn btn-primary btn-xs fa fa-pencil" title="{{node.def}}"></button>
                                 <button style="float: right;"  *ngIf="!node.id.includes('Investigations tree')"  (click)="onRemove(node)" class="btn btn-danger btn-xs fa fa-trash-o" confirm="Are you sure?"></button>

                                 <a  style="float: right;" *ngIf="node.id.includes('Investigations tree')"  > 
                                     <button (click)="onClick(node)" [matMenuTriggerFor]="userMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                 </a>
                                 <a  style="float: right;" *ngIf="node.id.includes('studies')"> 
                                    <button (click)="onClick(node)" [matMenuTriggerFor]="studyMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                 </a>
                                 <a style="float: right;" *ngIf="node.id.includes('investigations')" > 
                                    <button (click)="onClick(node)" [matMenuTriggerFor]="investigationMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                 </a>
                                 <a style="float: right;" *ngIf="node.id.includes('observation_units')"> 
                                    <button  (click)="onClick(node)" [matMenuTriggerFor]="OUMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                 </a>
<!--                                 <a style="float: right;"> 
                                  {{node.def}}
                                 </a>   -->
                                 
                                 
                                 <mat-accordion>
                                     <mat-expansion-panel *ngIf="get_model_selected()==='Investigations tree'" (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                                    
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>

                                                 <mat-checkbox *ngIf=" multiple_selection===true" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.id}}</i></mat-checkbox>
                                             </mat-panel-title>

                                         </mat-expansion-panel-header>

                                         <div >
                                            <mat-card>You have {{ this.statistics['investigations'] }} investigations in your history</mat-card>
                                         </div>
                                     </mat-expansion-panel>
                                     
                                     <mat-expansion-panel *ngIf="!node.id.includes('Investigations tree') && !node.id.includes('metadata_files')" (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                                    
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                 <mat-progress-bar  mode="determinate" value="{{node.fill_percentage}}"></mat-progress-bar>

                                                 <mat-checkbox *ngIf=" multiple_selection===true" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.id}}</i></mat-checkbox>
                                             </mat-panel-title>

                                         </mat-expansion-panel-header>
                                        
                                         <table  class="table table-hover table-bordered  table-striped text-center" >
                                             <tbody >
                                                 <tr  *ngFor="let key of get_current_data(node) ; index as j;" >
                                                 <td style="font-size:14px;text-align: center; " scope="row">{{key}}</td>
                                                 <td *ngIf="key.includes('file link')" style="font-size:14px;text-align: center; color: blue; " scope="row"><a href="{{get_current_data_array(node)[0][key]}}" target="_blank">{{get_current_data_array(node)[0][key]}}</a></td>
                                                 <td *ngIf="!key.includes('file link')" style="font-size:14px;text-align: center;" scope="row">{{get_current_data_array(node)[0][key]}}</td>

                                                 </tr>
                                             </tbody>
                                         </table>
                                         
                                    
                                     </mat-expansion-panel>
                                     
                                     <mat-expansion-panel *ngIf="node.id.includes('metadata_files')" (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                                    
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>

                                                 <mat-checkbox *ngIf=" multiple_selection===true" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.id}}</i></mat-checkbox>
                                             </mat-panel-title>

                                         </mat-expansion-panel-header>

                                         <div>
<!--                                             <p>{{get_parent_id(node)}}</p>
                                             <p>{{get_model_key(node)}}</p>-->
              
                                             <app-download [parent_id]="get_parent_id(node)" [model_key]="get_model_key(node)" model_type="metadata_file" mode="edit" ></app-download>
                                         </div>  
                                    
                                     </mat-expansion-panel>
                                 </mat-accordion>
                                 
                             </div>
                         </mat-tree-node>
                        
                        
                        
                        <!--#############@######################################-->
                        <!-- This is the tree node template for expandable nodes -->
                        <!--#############@######################################-->

                        <mat-tree-node style="margin: 14px;" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
                            
                            <div [ngStyle]="getStyle(node)">
                                
                               
                          
                                <button style="width:300px; padding-right: 200px"*ngIf="node.id.includes('Investigations tree')" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                                    {{node.id}}
                                </button>
                                <a style="float: right;" *ngIf="node.id.includes('Investigations tree')"> 
                                     <button (click)="onClick(node)" [matMenuTriggerFor]="userMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                </a>
                                
                                <button  *ngIf="!node.id.includes('Investigations tree')" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                                    <!--<mat-icon *ngIf="node.id.includes('investigations')" ><span class="fa-stack fa-xs"> <i *ngIf="node.id.includes('investigations')" class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-stack-1x">I</i> </span></mat-icon>-->
                                    <!--<mat-icon *ngIf="node.id.includes('studies')" ><span class="fa-stack fa-xs"> <i *ngIf="node.id.includes('studies')" class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-stack-1x">S</i> </span></mat-icon>-->

                                    
                                </button>
                                <i style='padding-left: 15px' *ngIf="!node.id.includes('Investigations tree')">{{node.name}}</i>
                                
                                <!--<button style="float: right;" *ngIf="!node.id.includes('Investigations tree')" (click)="show_info(node); drawer.toggle()" class="btn btn-success btn-xs fa fa-eye" title="{{node.def}}"></button>-->
                                 <button style="float: right;"  *ngIf="!node.id.includes('Investigations tree')"  (click)="onExport(node)" class="btn btn-light btn-xs fa fa-upload"></button>

                                <button style="float: right;" *ngIf="!node.id.includes('Investigations tree')" (click)="onEdit(node)" class="btn btn-primary btn-xs fa fa-pencil" title="{{node.def}}"></button>
                                <button style="float: right;" *ngIf="!node.id.includes('Investigations tree')" (click)="onRemove(node)" class="btn btn-danger btn-xs fa fa-trash-o" confirm="Are you sure?"></button>

                                
                                <a style="float: right;" *ngIf="node.id.includes('studies')"  > 
                                    <button (click)="onClick(node)" [matMenuTriggerFor]="studyMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                </a>
                                <a style="float: right;" *ngIf="node.id.includes('investigations')" > 
                                    <button (click)="onClick(node)" [matMenuTriggerFor]="investigationMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                </a>
                                <a style="float: right;" *ngIf="node.id.includes('observation_units')" > 
                                    <button  (click)="onClick(node)" [matMenuTriggerFor]="OUMenu" class="btn btn-success btn-xs fa fa-plus"></button>
                                </a>
                                <mat-accordion *ngIf="!node.id.includes('Investigations tree')">
                                    <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false" [expanded]="isFirst">
                                    
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>

                                                <mat-progress-bar  mode="determinate" value="{{node.fill_percentage}}"></mat-progress-bar>
                                                <mat-checkbox *ngIf="multiple_selection==true" [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.name}}</i></mat-checkbox>
                                            </mat-panel-title>

                                         </mat-expansion-panel-header>

                                        <table *ngIf="get_model_selected()!=='metadata_files'" class="table table-hover table-bordered  table-striped text-center" >
                                             <tbody >
                                                 <tr  *ngFor="let key of get_current_data(node) ; index as j;" >
                                                 <td style="font-size:14px;text-align: center; " scope="row">{{key}}</td>
                                                 <td style="font-size:14px;text-align: center; " scope="row">{{get_current_data_array(node)[0][key]}}</td>
                                                 </tr>
                                             </tbody>
                                         </table>

                                    
                                    </mat-expansion-panel>
                                    
                                </mat-accordion>
                            </div>            
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </mat-drawer-container>  
        </mat-card>    
        <div style="visibility: hidden; position: fixed"
            [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="contextMenu">
        </div> 
        <mat-menu #globalmenu="matMenu">
            <ng-template matMenuContent let-node="node">
                <button mat-menu-item [matMenuTriggerFor]="multipleMenu"><mat-icon>bookmarks</mat-icon><span>Multiple selection</span></button>
                <button mat-menu-item (click)="remove_selected(node)"><span>Remove selected</span></button>
            </ng-template>
        </mat-menu>
        <!--<button mat-icon-button [matMenuTriggerFor]="globalmenu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon>Settings</button>-->
        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent let-node="node">
                <button *ngIf="!node.id.includes('Investigations tree')" mat-menu-item (click)="onEdit(node)">Edit</button>
                <button *ngIf="!node.id.includes('Investigations tree')" mat-menu-item (click)="onRemove(node)" confirm="Are you sure?">Remove</button>
                <button *ngIf="node.id.includes('Investigations tree')" mat-menu-item [matMenuTriggerFor]="userMenu" >Add</button>
                <!--<button *ngIf="node.id.includes('Investigations tree')" mat-menu-item [matMenuTriggerFor]="multipleMenu">Multiple selection</button>-->
                <!--<button *ngIf="node.id.includes('Investigations tree')" mat-menu-item (click)="remove_selected(node)">Remove selected</button>-->
                <button *ngIf="node.id.includes('investigations')" mat-menu-item [matMenuTriggerFor]="investigationMenu">Add</button>
                <button *ngIf="node.id.includes('studies')" mat-menu-item [matMenuTriggerFor]="studyMenu">Add</button>
                <button *ngIf="node.id.includes('observation_units')" mat-menu-item [matMenuTriggerFor]="OUMenu">Add</button>
            </ng-template>
        </mat-menu> 
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="userMenusecond" >Investigation</button>
        </mat-menu>
        <mat-menu #userMenusecond="matMenu">
            <button mat-menu-item (click)="add('investigation','original')">From original model template</button>
            <button mat-menu-item (click)="add('investigation','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('investigation','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #multipleMenu="matMenu">
            <button mat-menu-item (click)="activate_multiple_selection(false)">Deactivate</button>
            <button mat-menu-item (click)="activate_multiple_selection(true)">Activate</button>
        </mat-menu>
        <mat-menu #investigationMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="investigationMenusecond">Study</button>
        </mat-menu>
        <mat-menu #investigationMenusecond="matMenu">
            <button mat-menu-item (click)="add('study','original')">From original model template</button>
            <button mat-menu-item (click)="add('study','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('study','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
            
        </mat-menu>
        <mat-menu #studyMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="observation_unitMenu">Observation unit</button>
            <button mat-menu-item [matMenuTriggerFor]="experimental_factorMenu">Experimental factor</button>
            <button mat-menu-item [matMenuTriggerFor]="biological_materialMenu">Biological material</button>
            <button mat-menu-item [matMenuTriggerFor]="data_fileMenu">experimental data file link</button>
            <button mat-menu-item [matMenuTriggerFor]="observed_variableMenu">Observed variable</button>
            <button mat-menu-item [matMenuTriggerFor]="eventMenu">Event</button>
            <button mat-menu-item [matMenuTriggerFor]="environmentMenu">Dynamic variable</button>
            
            <!--here need to change the name of download.component.ts and put read csv functions in file service and call them in user.tree.ts-->
            <button mat-menu-item (click)="add('metadata_file','original')">Metadata file</button>
            <!--<button mat-menu-item (click)="add('metadata_file','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>-->

        </mat-menu>
        <mat-menu #observation_unitMenu="matMenu">
            <button mat-menu-item (click)="add('observation_unit','original')">From original model template</button>
            <button mat-menu-item (click)="add('observation_unit','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('observation_unit','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #experimental_factorMenu="matMenu">
            <button mat-menu-item (click)="add('experimental_factor','original')">From original model template</button>
            <button mat-menu-item (click)="add('experimental_factor','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('experimental_factor','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #biological_materialMenu="matMenu">
            <button mat-menu-item (click)="add('biological_material','original')">From original model template</button>
            <button mat-menu-item (click)="add('biological_material','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('biological_material','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #data_fileMenu="matMenu">
            <button mat-menu-item (click)="add('data_file','original')">Add</button>
            <button mat-menu-item (click)="add('data_file','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
            <!--<button mat-menu-item (click)="add('data_file',true)">From templates</button>-->
        </mat-menu>
        <mat-menu #observed_variableMenu="matMenu">
            <button mat-menu-item (click)="add('observed_variable','original')">From original model template</button>
            <button mat-menu-item (click)="add('observed_variable','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('observed_variable','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #eventMenu="matMenu">
            <button mat-menu-item (click)="add('event','original')">From original model template</button>
            <button mat-menu-item (click)="add('event','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('event','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #environmentMenu="matMenu">
            <button mat-menu-item (click)="add('environment','original')">From original model template</button>
            <button mat-menu-item (click)="add('environment','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('environment','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #OUMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="eventMenu2">Event</button>
            <button mat-menu-item [matMenuTriggerFor]="biological_materialMenu2">Biological material</button>
            <button mat-menu-item [matMenuTriggerFor]="experimental_factorMenu2">Experimental factor</button>
            <button mat-menu-item [matMenuTriggerFor]="sampleMenu">Sample</button>
            <!--<button mat-menu-item (click)="add('sample','original')">Sample</button>-->
            <!--<button mat-menu-item (click)="add('sample','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>-->
            <!--<button mat-menu-item (click)="add('event','original')">Event</button>-->
            <!--<button mat-menu-item (click)="add('event','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>-->
            <!--<button mat-menu-item (click)="add('biological_material','original')">Biological material</button>-->
            <!--<button mat-menu-item (click)="add('biological_material','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>-->
            <!--<button mat-menu-item (click)="add('experimental_factor','original')">Experimental factor</button>-->
            <!--<button mat-menu-item (click)="add('experimental_factor','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>-->
        </mat-menu> 
        
        <mat-menu #eventMenu2="matMenu">
            <button mat-menu-item (click)="add('event','original')">From original model template</button>
            <button mat-menu-item (click)="add('event','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('event','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #biological_materialMenu2="matMenu">
            <!-- <button mat-menu-item (click)="add('biological_material','original')">From original model template</button> -->
            <button mat-menu-item (click)="add('biological_material','parent')">Select from biological materials</button>
            <!-- <button mat-menu-item (click)="add('biological_material','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('biological_material','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button> -->
        </mat-menu>
        <mat-menu #experimental_factorMenu2="matMenu">
            <button mat-menu-item (click)="add('experimental_factor','original')">From original model template</button>
            <button mat-menu-item (click)="add('experimental_factor','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('experimental_factor','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
        <mat-menu #sampleMenu="matMenu">
            <button mat-menu-item (click)="add('sample','original')">From original model template</button>
            <button mat-menu-item (click)="add('sample','saved')">From saved templates</button>
            <button mat-menu-item (click)="add('sample','zip')"><label>From zip file<input type="file" style="display: none;"  accept=".zip"  (change)="onFileChange($event)"></label></button>
        </mat-menu>
    </div>
</div>