<alert></alert>

<div id="user-tree"> 
    <div> 
        
            
        <h3>History tree</h3>
        <mat-card>
            Below is the general tree of all your projects in LINDA database. You will find it under the History node. 
        </mat-card><br>
        
        <mat-card>
            
                
            <p>
                Please feel free to describe as exhaustively as possible your investigation. Only unique ID are mandatory to register your investigation in the database. 
                You can remove more than one node at the time if you use the right click button on History node and choose remove selected option. 
            </p>
            <!--<div class="warning-msg"><i class="fa fa-warning"></i>You need to first select and check histories you want to suppress.</div>-->
        </mat-card><br>
    </div> 
    
    <div> 
        <mat-card>
            <mat-drawer-container class="example-container" autosize>
                <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
                    <h1>Description</h1>
                    <div *ngIf="get_model_selected()==='History'">
                        <mat-card>You have {{ this.statistics['investigations'] }} investigations in your history</mat-card>
                    </div>
                    <table *ngIf="get_model_selected()!=='metadata_files'" class="table table-hover table-bordered  table-striped text-center" >
                        <tbody >
                            <tr  *ngFor="let key of current_data ; index as j;" >
                                <td style="font-size:14px;text-align: center; " scope="row">{{key}}</td>
                                <td style="font-size:14px;text-align: center; " scope="row">{{current_data_array[0][key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                      <div *ngIf="get_model_selected()==='metadata_files'">
                          <app-download [parent_id]="get_parent_id()" [model_key]="get_model_key()" model_type="metadata_file" mode="edit" ></app-download>
                      </div>
                </mat-drawer>
                <div class="example-sidenav-content">
                    <mat-tree #tree [dataSource]="get_dataSource()" [treeControl]="get_treeControl()"  class="col-md-12 panel" >
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="show_info(node);drawer.toggle()"  (contextmenu)="onContextMenu($event, node)"  title="{{node.def}}" >
                             <span style="display:outline-block; margin-right: 20px;"> 
                                 <i style="color : #006666" class="fas fa-info-circle" title="{{node.def}}"></i>
                                      </span> 
                            <!-- use a disabled button to provide padding for tree leaf -->                            
                            <button mat-icon-button><mat-icon class="mat-icon-rtl-mirror">{{'arrow_right'}}</mat-icon><i *ngIf="multiple_selection===false">{{node.id}}</i><mat-progress-bar mode="determinate" value="{{node.fill_percentage}}"></mat-progress-bar></button>

                            <mat-checkbox *ngIf=" multiple_selection===true" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.id}}</i></mat-checkbox>
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding (click)="show_info(node);drawer.toggle()" (contextmenu)="onContextMenu($event, node)" >
                            <span style="display:inline-block; margin-right: 20px;"> 
                                 <i style="color : #006666" class="fas fa-info-circle" title="{{node.def}}">        </i>
                            </span> 
                            <button *ngIf="!node.id.includes('History')" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                                <i *ngIf="multiple_selection===false">{{node.id}}</i><mat-progress-bar mode="determinate" value="{{node.fill_percentage}}"></mat-progress-bar>

                            </button>
                            <button *ngIf="node.id.includes('History')" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                                {{node.id}}
                            </button>

                            <mat-checkbox *ngIf="!node.id.includes('History') && multiple_selection==true" [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)"><i *ngIf="multiple_selection===true">{{node.id}}</i></mat-checkbox>
                        </mat-tree-node>

                    </mat-tree>
                </div>
            </mat-drawer-container>  
        </mat-card>    
   
        <div style="visibility: hidden; position: fixed"
            [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="contextMenu">
        </div> 

        <button mat-icon-button [matMenuTriggerFor]="globalmenu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon>Settings</button>
        <mat-menu #globalmenu="matMenu">
            <ng-template matMenuContent let-node="node">
                <button mat-menu-item [matMenuTriggerFor]="multipleMenu"><mat-icon>bookmarks</mat-icon><span>Multiple selection</span></button>
                <button mat-menu-item (click)="remove_selected(node)"><span>Remove selected</span></button>
            </ng-template>
        </mat-menu>

        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent let-node="node">
                <button *ngIf="!node.id.includes('History')" mat-menu-item (click)="onEdit(node)">Edit</button>
                <button *ngIf="!node.id.includes('History')" mat-menu-item (click)="onRemove(node)" confirm="Are you sure?">Remove</button>
                <button *ngIf="node.id.includes('History')" mat-menu-item [matMenuTriggerFor]="userMenu" >Add</button>
                <!--<button *ngIf="node.id.includes('History')" mat-menu-item [matMenuTriggerFor]="multipleMenu">Multiple selection</button>-->
                <!--<button *ngIf="node.id.includes('History')" mat-menu-item (click)="remove_selected(node)">Remove selected</button>-->
                <button *ngIf="node.id.includes('investigations')" mat-menu-item [matMenuTriggerFor]="investigationMenu">Add</button>
                <button *ngIf="node.id.includes('studies')" mat-menu-item [matMenuTriggerFor]="studyMenu">Add</button>
                <button *ngIf="node.id.includes('observation_units')" mat-menu-item [matMenuTriggerFor]="OUMenu">Add</button>
            </ng-template>
        </mat-menu> 

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="userMenusecond" >Investigation</button>
        </mat-menu>

        <mat-menu #userMenusecond="matMenu">
            <button mat-menu-item (click)="add('investigation',false)">From Scratch</button>
            <button mat-menu-item (click)="add('investigation',true)">From templates</button>
        </mat-menu>

        <mat-menu #multipleMenu="matMenu">
            <button mat-menu-item (click)="activate_multiple_selection(false)">Deactivate</button>
            <button mat-menu-item (click)="activate_multiple_selection(true)">Activate</button>
        </mat-menu>

        <mat-menu #investigationMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="investigationMenusecond">Study</button>
        </mat-menu>

        <mat-menu #investigationMenusecond="matMenu">
            <button mat-menu-item (click)="add('study',false)">From Scratch</button>
            <button mat-menu-item (click)="add('study',true)">From templates</button>
        </mat-menu>

        <mat-menu #studyMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="observation_unitMenu">Observation unit</button>
            <button mat-menu-item [matMenuTriggerFor]="experimental_factorMenu">Experimental factor</button>
            <button mat-menu-item [matMenuTriggerFor]="biological_materialMenu">Biological material</button>
            <button mat-menu-item [matMenuTriggerFor]="data_fileMenu">Data file</button>
            <button mat-menu-item [matMenuTriggerFor]="observed_variableMenu">Observed variable</button>
            <button mat-menu-item [matMenuTriggerFor]="eventMenu">Event</button>
            <button mat-menu-item [matMenuTriggerFor]="environmentMenu">Dynamic variable</button>
            <button mat-menu-item (click)="add('metadata_file',false)">Metadata file</button>
        </mat-menu>

        <mat-menu #observation_unitMenu="matMenu">
            <button mat-menu-item (click)="add('observation_unit',false)">From Scratch</button>
            <button mat-menu-item (click)="add('observation_unit',true)">From templates</button>
        </mat-menu>

        <mat-menu #experimental_factorMenu="matMenu">
            <button mat-menu-item (click)="add('experimental_factor',false)">From Scratch</button>
            <button mat-menu-item (click)="add('experimental_factor',true)">From templates</button>
        </mat-menu>

        <mat-menu #biological_materialMenu="matMenu">
            <button mat-menu-item (click)="add('biological_material',false)">From Scratch</button>
            <button mat-menu-item (click)="add('biological_material',true)">From templates</button>
        </mat-menu>

        <mat-menu #data_fileMenu="matMenu">
            <button mat-menu-item (click)="add('data_file',false)">From Scratch</button>
            <button mat-menu-item (click)="add('data_file',true)">From templates</button>
        </mat-menu>

        <mat-menu #observed_variableMenu="matMenu">
            <button mat-menu-item (click)="add('observed_variable',false)">From Scratch</button>
            <button mat-menu-item (click)="add('observed_variable',true)">From templates</button>
        </mat-menu>

        <mat-menu #eventMenu="matMenu">
            <button mat-menu-item (click)="add('event',false)">From Scratch</button>
            <button mat-menu-item (click)="add('event',true)">From templates</button>
        </mat-menu>

        <mat-menu #environmentMenu="matMenu">
            <button mat-menu-item (click)="add('environment',false)">From Scratch</button>
            <button mat-menu-item (click)="add('environment',true)">From templates</button>
        </mat-menu>

        <mat-menu #OUMenu="matMenu">
            <button mat-menu-item (click)="add('sample',false)">Sample</button>
            <button mat-menu-item (click)="add('event',false)">Event</button>
            <button mat-menu-item (click)="add('biological_material',false)">Biological material</button>
            <button mat-menu-item (click)="add('experimental_factor',false)">Experimental factor</button>
        </mat-menu>
    </div>
</div>