<div class="border-head">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <h3>
            <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal
                    meta<span>D</span>at<span>A</span></b></a>
        </h3>
    </nav>
</div>
<h4>Study experimental design </h4>
<p>You're about to describe your exeprimental design map.
    In order to do this, you must have defined your biolo. You can visualize easily your observations and correlate them with experimental factors and environmental
    conditions. </p>
<div>
    Select by clicking which studies to explore then select group to compare and group by exp factor
</div>
