<section id="container">
    <header class="header black-bg">
               <a class="logo"  href="#">
                <b style="color:#4ECDC4">{{ title }} </b>
                P<span><b>L</b></span>ant exper<span><b>I</b></span>me<span><b>N</b></span>tal meta<span><b>D</b></span>at<span><b>A</b></span>
                </a>  
            <!--  notification start -->
            <div class="nav notify-row" id="top_menu">
               
                <ul class="nav top-menu">
                  <!-- settings start -->
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                      <i class="fa fa-tasks"></i>
                      <span class="badge bg-theme">{{stats_advanced['investigations'].length+stats_advanced['studies'].length}}</span>
                      </a>
                    <ul class="dropdown-menu extended tasks-bar scroll-menu scroll-menu-2x scrollable-menu">
                      <div class="notify-arrow notify-arrow-green"></div>
                      <li>
                        <p class="green">You have {{stats_advanced['investigations'].length}} pending investigations tasks</p>
                      </li>
                      
                      <li *ngFor="let obj of stats_advanced['investigations'] ; index as j;" >
                        <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                          <div class="task-info">
                            <div class="desc">{{obj['id']}}</div>
                            <div class="percent">{{obj['percent_fill']}}%</div>
                          </div>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                              <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <p class="green">You have {{stats_advanced['studies'].length}} pending studies tasks</p>
                      </li>
                      <li *ngFor="let obj of stats_advanced['studies'] ; index as j;" >
                        <a href="index.html#" [ngStyle]="set_pending_task_background_color(obj['id'])">
                          <div class="task-info">
                            <div class="desc">{{obj['id']}}</div>
                            <div class="percent">{{obj['percent_fill']}}%</div>
                          </div>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="obj['percent_fill']" aria-valuemin="0" aria-valuemax="100" [ngStyle]="set_percent_style(obj['percent_fill'])" >
                              <span class="sr-only">{{obj['percent_fill']}}% Complete (success)</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>

                </ul>
                <!--  notification end -->
  
            </div>

            <!--  search start -->
            <div class="nav notify-row2">
               
                
                <ul class="nav top-menu">
                    <li>
                        <!--<input type="search" placeholder="Search" aria-label="Search">-->
                        
                        <input placeholder="Search" aria-label="Search">
                        <button type="submit" >Search</button>
<!--                        <input #box (keyup)="0">
                        <p>{{box.value}}</p>-->
                    
                    </li>
                </ul>
                <!-- search end -->
  
            </div>  
            
            <!--  login/logout start -->
            <div class="nav notify-row3" >
               
                <!--  login/logout start -->
                <ul class="nav pull-right top-menu">
                        <li *ngIf="!currentUser" class="nav-item">
                                <a class="nav-link" [routerLink]="['/login']" ><i class="fas fa-user-crown"></i> Login</a>
                            </li>
                            <li *ngIf="currentUser" class="nav-item">
                                <a class="nav-link" [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                    </ul>
                <!-- login/logout end -->
  
            </div> 
           
<!--            <div class="top-menu">
                    
            </div>-->
        <!--</snav>-->
    </header>
    
    <!--<div class="page-content d-flex align-items-stretch">--> 
      <aside>
      <div id="sidebar" class="nav-collapse ">
        <!--<nav class="side-navbar">-->
<!--    <aside>
      <div id="sidebar" class="nav-collapse ">-->
            <!-- Sidebar Header-->
            <!-- Sidebar Navidation Menus-->
            <span class="heading">Main</span>
            <ul class="sidebar-menu">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                       <a class="nav-link"  [routerLink]="['/tree']" routerLinkActive="active-link"><i class="fa fa-sitemap"></i>Projects</a>
                </li>

                

                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active-link"><i class="fa fa-question-circle"></i> Help</a>
                    </li>
                <li *ngIf="currentUser && currentUser['admin']==='root'" class="nav-item">
                        <a class="nav-link" [routerLink]="['/admin']" ><i class="fa fa-user-crown"></i> Admin</a>
                    </li>          
                <li><a href="#AnalysisdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Analysis </a>
                  <ul id="AnalysisdropdownDropdown" class="collapse list-unstyled ">
                    
                    <li class="nav-item"><a>Data exploration</a></li>
   
                  </ul>
                </li>
                
                <li><a href="#documentationdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Documentation </a>
                  <ul id="documentationdropdownDropdown" class="collapse list-unstyled ">
                    <li class="nav-item">
                       <a class="nav-link"  [routerLink]="['/ontologies']" routerLinkActive="active-link"><i class="fa fa-sitemap"></i>Ontologies description</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link"  [routerLink]="['/miappe']" routerLinkActive="active-link"><i class="fa fa-leaf"></i>MIAPPE description</a>
                    </li>
                    <li class="nav-item"><a>Data exploration</a></li>
                    <li class="nav-item"><a>Differential expression analysis</a></li>
                  </ul>
                </li>
             </ul><span class="heading">Extras</span>
             <ul class="sidebar-menu">
                <li> 
                  <a class="nav-link" [routerLink]="['/publications']" routerLinkActive="active-link"><i class="icon-picture"></i>Publications</a>
                </li>
                <li> 
                    <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active-link"><i class="fa fa-question-circle"></i>FAQ</a>
                </li>
                <li> 
                    <a class="nav-link" [routerLink]="['/downloaded']" routerLinkActive="active-link"><i class="fa fa-cart-arrow-down"></i>Download</a>
                </li>
                <li> 
                <a class="nav-link" [routerLink]="['/releases']" routerLinkActive="active-link"><i class="icon-picture"></i>Releases</a>
              </li>
             </ul>
        </div>
        
    </aside>
        <section id="main-content">
<!--            <h2  style="font-size: 20pt; background-color: white; color: #006666" href="#">
                      LINDA
                      <i style="font-size: 20pt"> 
                          pLant experImeNtal metaDatA 
                      </i>
                        </h2>-->

            <section class="wrapper">
                <div>
                    <alert></alert>
               </div>
                      <!--<router-outlet></router-outlet>-->
                     <!-- <router-outlet (notify)="onNotify($event)"></router-outlet> -->
                     <router-outlet (activate)="onActivate($event)" #outlet></router-outlet>
            </section>
            
        </section>
  </section>