<div class="border-head">
        <h3>
            <a href="index.html" class="logo"><b>P<span>L</span>ant exper<span>I</span>me<span>N</span>tal meta<span>D</span>at<span>A</span></b></a>
        </h3>
    </div>
<h1 mat-dialog-title>Please select a term in {{data.ontology_type}} Ontology</h1>
<input placeholder="Search" aria-label="Search" (keyup)="searchStart($event)">
<button type="submit" (click)="onSearch()">Search</button>
<!-- <mat-spinner mode="determinate" value="{{ontologytree.fill_percentage}}"></mat-spinner> -->
<!-- <mat-progress-spinner *ngIf='show_spinner' mode="indeterminate"></mat-progress-spinner> -->
<!-- <mat-progress-spinner class="progressSpinner" *ngIf='show_spinner' [value]="ontology_tree_loading_progress_value"></mat-progress-spinner> -->
<mat-progress-bar mode="determinate" [value]="ontology_tree_loading_progress_value">{{ontology_tree_loading_progress_value}}</mat-progress-bar>
<div mat-dialog-content >
<!--<input type="text" matInput placeholder="search" #filter (keyup)="keyEvent.next($event)" [(ngModel)]="keyword">-->
<!--<input matInput placeholder="Search" (input)="filterChanged($event.target.value)">-->

    <!-- if search mode is active -->
    <ul *ngIf='active_list'>
        <li *ngFor="let node of selected_nodes">

            <!-- <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding title="{{node.def}}"> -->
                <div [ngStyle]="getStyle()">
                <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled>
                        <span style="display:inline-block; margin-left: 10px;"> 
                            <i style="color :lightblue" class="fa fa-info-circle" title="{{node.def}}"></i>
                        </span> 
                    </button>
                    <!-- {{node.name}} -->
                    <mat-checkbox *ngIf="!uncheckable && node.namespace!='' && node.namespace.includes('Trait')" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} TRAIT
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!uncheckable && node.namespace!='' && node.namespace.includes('Variable')" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} VARIABLE
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!uncheckable && node.namespace!='' && node.namespace.includes('Method')" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} METHOD
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!uncheckable && node.namespace!='' && node.namespace.includes('Scale')" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}} SCALE
                    </mat-checkbox>
                    <mat-checkbox *ngIf="!uncheckable && node.namespace===''" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                        {{node.name}}
                    </mat-checkbox>
                    <mat-accordion>
                        <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{Description}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div >
                                <mat-card>
                                    <pre>Term Id: {{ node.id}}</pre>
                                    <pre>Term name: {{ node.name}}</pre>
                                    <pre>Term definition: {{ node.def }}</pre>
                                </mat-card>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            <!-- </mat-tree-node> -->
        </li>
    </ul>
    <mat-tree *ngIf='!active_list' #tree [dataSource]="get_dataSource()" [treeControl]="get_treeControl()">
    <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding title="{{node.def}}">
            <div [ngStyle]="getStyle()">
            <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled>
                    <span style="display:inline-block; margin-left: 10px;"> 
                        <i style="color :lightblue" class="fa fa-info-circle" title="{{node.def}}"></i>
                    </span> 
                </button>
                <!-- {{node.name}} -->
                <ng-container *ngIf="uncheckable">
                    {{node.name}}
                </ng-container>
                <ng-container *ngIf="!uncheckable">
                <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                    {{node.name}}
                </mat-checkbox>
                </ng-container>
                
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">TRAIT</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Variable')">VARIABLE</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Method')">METHOD</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Scale')">SCALE</p>
                <mat-accordion>
                    <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            {{Description}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div >
                            <ul *ngFor="let term of context_term ; index as j; trackBy: trackContextTerm ">
                                <li>
                                    <!--Name: {{context_term[j].name}}-->
                                    <!--Id: {{context_term[j].id}}-->
                                    <!--datatype: {{get_term(context_term[j].datatype).name}}-->
                                    <a *ngIf="context_term[j].instances.length > 0">
                                        Value: <input (keyup)="onValueAdd($event, node)">
                                        Units:
                        
                                        <select (change)="onUnitSelect($event.target.value, node)">
                                            <!--enum: {{searchTerm(ontologyEnum,context_term[j].enumeration).instances[l].name}}-->
                                            <option *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances " value="{{context_term[j].instances[l]._symbol}}">{{context_term[j].instances[l]._symbol}}</option>
                                        </select>
                            <!--            <p *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances ">
                                            symbol: {{context_term[j].instances[l]._symbol}}
                                        </p>-->
                                    </a>
                                </li>

                            </ul>
                            <mat-card>
                                <pre>Term Id: {{ node.id}}</pre>
                                <pre>Term name: {{ node.name}}</pre>
                                <pre>Term definition: {{ node.def }}</pre> 
                            </mat-card>
                            
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <div [ngStyle]="getStyle(node)">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                </button>
                <!-- {{node.name}} -->
                <!-- <mat-checkbox *ngIf="!uncheckable"  class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                    {{node.name}}
                </mat-checkbox> -->
                <ng-container *ngIf="uncheckable">
                    {{node.name}}
                </ng-container>
                <ng-container *ngIf="!uncheckable">
                <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
                    {{node.name}}
                </mat-checkbox>
            </ng-container>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Trait')">TRAIT</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Variable')">VARIABLE</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Method')">METHOD</p>
                <p style="float:right;" *ngIf="node.namespace!='' && node.namespace.includes('Scale')">SCALE</p>
                

                <mat-accordion>
                    <mat-expansion-panel  (opened)="panelOpenState = true" (click)="show_info(node)" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{Description}}
                             </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div >
                            <div *ngIf="get_displayed()===true">
                                <ul *ngFor="let term of context_term ; index as j; trackBy: trackContextTerm ">
                                    <li>
                                        <!--Name: {{context_term[j].name}}-->
                                        <!--Id: {{context_term[j].id}}-->
                                        <!--datatype: {{get_term(context_term[j].datatype).name}}-->
                                        <a *ngIf="context_term[j].instances.length > 0">
                                            Value: <input (keypress)="onValueAdd($event, node)">
                                            Units:
                            
                                            <select (change)="onUnitSelect($event.target.value, node)">
                                                <!--enum: {{searchTerm(ontologyEnum,context_term[j].enumeration).instances[l].name}}-->
                                                <option *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances ">{{context_term[j].instances[l]._symbol}}</option>
                                            </select>
                                <!--            <p *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances ">
                                                symbol: {{context_term[j].instances[l]._symbol}}
                                            </p>-->
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <mat-card>
                                <pre>Term Id: {{ node.id}}</pre>
                                <pre>Term name: {{ node.name}}</pre>
                                <pre>Term definition: {{ node.def }}</pre>                
                            </mat-card>
                            
                        </div>
                     </mat-expansion-panel>

                </mat-accordion>
            </div>
        </mat-tree-node>
    </mat-tree>
    
    <div *ngIf="get_displayed()===true">
        <ul *ngFor="let term of context_term ; index as j; trackBy: trackContextTerm ">
        <li>
            <!--Name: {{context_term[j].name}}-->
            <!--Id: {{context_term[j].id}}-->
            <!--datatype: {{get_term(context_term[j].datatype).name}}-->
            
            <!-- <a *ngIf="context_term[j].instances.length > 0">
                Value: <input (keypress)="onValueAdd($event)">
                Units:
                <select (change)="onUnitSelect($event.target.value)"> -->

                    <!--enum: {{searchTerm(ontologyEnum,context_term[j].enumeration).instances[l].name}}-->
                    
                    <!-- <option *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances ">{{context_term[j].instances[l]._symbol}}</option>
                </select>
            </a> -->

            <a *ngIf="context_term[j].enumeration!=='' && searchTerm(ontologyEnum,context_term[j].enumeration).instances.length > 0  "> 
                Response Range
                <select (change)="onResponseRangeSelect($event.target.value)">
                    <!--enum: {{searchTerm(ontologyEnum,context_term[j].enumeration).instances[l].name}}-->
                    <option *ngFor="let instance of searchTerm(ontologyEnum,context_term[j].enumeration).instances ; index as l; trackBy: trackInstances ">{{searchTerm(ontologyEnum,context_term[j].enumeration).instances[l].name}}</option>
                </select>

               <!--{{ context_term[j].enumeration}}-->
                <!--enum: {{searchTerm(ontologyEnum,context_term[j].enumeration).name}}-->
                <!--{{searchTerm(ontologyEnum,context_term[j].enumeration)}}-->
                <!--<p *ngFor="let instance of get_term(context_term[j].enumeration).instances ; index as l; trackBy: trackInstances ">-->
            <!--<p> enum: {{get_term(context_term[j].enumeration).instances[0]}}</p>-->
            </a>
            <a *ngIf="context_term[j].name==='FreeText'">
                Text:
                <mat-form-field >
                    <mat-label>Autosize textarea</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
    <!--            <p *ngFor="let instance of context_term[j].instances ; index as l; trackBy: trackInstances ">
                    symbol: {{context_term[j].instances[l]._symbol}}
                </p>-->
            </a>

        </li>
        </ul>
    </div>    
    
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
