

<div class="wrapper col-md-12 panel">
    <section class='col-md-12 panel'>
     <div>
          <p style="font-size: 12pt"> Linda is a web application design to helps biologists to capture their environmental metadata </p>
     </div>
        <hr>

        </section>
    
    <section class='col-md-12 panel'>
        <h3>Project description</h3>
        <p style="font-size: 12pt">In order to allow biologists to store and store the environmental metadata associated with plant phenotyping experiments and to facilitate a standardized exchange of information, the LINDA Web interface allows the user to insert his metadata according to the MIAPPE model and related ontologies (Plant ontology, XEO, ENVo, etc.).
Exporting to the ISA-tab format will allow subsequent interconnection with the FAIRDOM suite so that all metadata can be linked to existing experiments.
The ontologies present in the MIAPPE model are integrated in order to describe the metadata associated with the experiment.
        </p>
        <hr>
  </section>
    
    

    
    <section class='col-md-12 panel'>
         <a href="https://cgfb.u-bordeaux.fr/"><img src="assets/images/cbib.jpg" ></a> <div class="divider"></div><a href="https://www.inra.fr/"> <img src="assets/images/inra.jpg" ></a>
 
</section>
    
    <section class='col-md-12 panel'>
        <h3>Start experiment Linda</h3>
        First you need to describe an investigation using formular at your disposition. Only Id field are mandatory when you first register your investigation
        
  </section>
    
<!--    <h3>Your investigations</h3>
        <ul>
        <li *ngFor="let investigation of investigations">
            {{investigation._id}} ({{investigation._key}} })
        </li>
        </ul>
    <h1> Investigation Table</h1>
<div *ngIf="investigations.length!=0" >
<table class="table table-hover table-bordered table-responsive-md table-striped text-center" >
    <thead>
    <tr >
      <th scope="col" *ngFor="let key of keys ; index as i; trackBy: trackByFn" style="font-size:14px;">{{key}}</th>
      <th scope="col"> edit</th>

    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let inv of investigations ; index as j; trackBy: trackInvestigation ">
      <td  style="font-size:14px;" scope="row" *ngFor="let key of keys ; index as j;" >{{inv[key]}}</td>
      <td scope="row"> 
          <button (click)="showInvestigation(inv._key)" class="btn btn-primary">Edit Investigation</button>
          <button (click)="deleteInvestigation(inv._key)" class="btn btn-primary">Delete Investigation</button>
      </td>
     </tr>
</tbody>
</table>
</div>

<div *ngIf="investigations.length==0" >
    
    <p> No investigations registered !! Click on add new investigation button to add one</p>
</div>-->
    
<!--    <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Investigation ID</th>
      <th scope="col">Definition</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investigation of investigations ; index as i; trackBy: trackByFn ">
      <th (click)="showInvestigation(investigation._key)" scope="row">{{investigation._key}}</th>
      <td>{{investigation.Definition}}</td>
      <td>{{investigation._key}}</td>
    </tr>
    </tbody>
    </table>-->
    <!--<button (click)="addInvestigationOnClick()" class="btn btn-primary">Add new Investigation</button>--> 
    <!--<p><a [routerLink]="['/login']">Logout</a></p>-->

    </div>
